<form [formGroup]="form">
    <div class="d-flex">
        <div class="col-6">
            <div>
                <label for="userType" class="my-2 mr-2">User Type</label>
                <div class="w-100">
                    <p-dropdown (onChange)="getScoreRanges()" [options]="_utilities.catUserType" appendTo="body"
                        placeholder="All" #userType formControlName="userType" id="userType" optionLabel="name"
                        optionValue="id" styleClass="w-100"></p-dropdown>
                </div>
            </div>
            <div *ngIf="form.get('userType').invalid && submitted" class="text-danger py-1">
                User Type is required
            </div>
        </div>

        <div class="col-6">
            <div>
                <label for="ipPosition" class="my-2 mr-2">Position</label>

                <div class="w-100">
                    <talent-position-dropdown [id]="'ipPosition'" [options]="_utilities.catPosition"
                        [optionSelected]="formControls.subPositionId.value" (onChange)="onPositionSelect($event)"
                        [disabled]="disabledSubPosition()">
                    </talent-position-dropdown>
                </div>
            </div>
            <div *ngIf="form.get('subPositionId').invalid && submitted" class="text-danger py-1">
                Position is required
            </div>
        </div>
    </div>

    <div class="d-flex">
        <div>
            <div class="d-flex">
                <div class="col-6">
                    <label for="scoreFrom" class="my-2 mr-2">ScoreFrom</label>
                    <p-inputNumber id="scoreForm" [maxFractionDigits]="1" inputStyleClass="w-100" formControlName="scoreFrom"
                        [showButtons]="true" inputId="minmax-buttons" [step]="step" [min]="min"
                        [max]="maxScoreForm()" [incrementButtonClass]="incrementButtonClassScoreForm()"
                        [decrementButtonClass]="decrementButtonClassScoreForm()">
                    </p-inputNumber>
                </div>

                <div class="col-6">
                    <label for="scoreTo" class="my-2 mr-2">ScoreTo</label>
                    <p-inputNumber id="scoreTo" [maxFractionDigits]="1" inputStyleClass="w-100" formControlName="scoreTo" [showButtons]="true"
                        inputId="minmax-buttons" [step]="step" [min]="minScoreTo()" [max]="max"
                        [incrementButtonClass]="incrementButtonClassScoreTo()"
                        [decrementButtonClass]="decrementButtonClassScoreTo() ">
                    </p-inputNumber>
                </div>
            </div>

            <div *ngIf="form.get('scoreTo').invalid || form.get('scoreFrom').invalid" class="text-danger py-1 px-2">
                ScoreRanges is required , unit must be .5 or .0
            </div>

            <div *ngIf="isValidateScoreExists" class="text-danger py-1 px-2">
                ScoreRanges already exists
            </div>
        </div>

        <div class="col-6">
            <div>
                <label for="level" class="my-2 mr-2">Level</label>
                <div class="w-100">
                    <p-dropdown id="level" appendTo="body" formControlName="level" [options]="getLevel(userType)"
                        placeholder="All" optionLabel="standardName" optionValue="id" styleClass="w-100"></p-dropdown>
                </div>
            </div>
            <div *ngIf="isValidateLevelExists" class="text-danger py-1">
                Level already exist
            </div>

            <div *ngIf="form.get('level').invalid && submitted" class="text-danger py-1">
                Level is required
            </div>
        </div>
    </div>

    <div class="mt-4 mb-2 d-flex justify-content-end">
        <p-button class="mr-2" (onClick)="close()" label="Close" styleClass="p-button-secondary"></p-button>
        <p-button class="mr-2" (onClick)="Save()" label="Save"></p-button>
    </div>
</form>
