.example-margin {
  margin: 0 10px;
}

.card-header {
  font-size: 25px;
  font-family: auto;
  background-color: darkslategray;
  color: cornsilk;
}

.form-check {
  margin-left: 20px;
  font-size: 18px;
}
