<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <h5>{{ "Select the export format" | localize }}</h5>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="form-check">
            <label class="form-check-label" for="radio2">
              <input
                type="radio"
                class="form-check-input"
                id="radio2"
                [(ngModel)]="labelPosition"
                name="optradio"
                value="2"
              />Docx
            </label>
          </div>
        </div>
        <div class="row" style="margin-top: 30px">
          <section class="example-section">
            <p-checkbox
              [(ngModel)]="isHiddenYear"
              [binary]="true"
              inputId="w-is-working"
            ></p-checkbox>
            <label for="w-is-working" class="ml-2">
              {{ "Not include years of training" | localize }}</label
            >
          </section>
        </div>
      </div>
    </div>

    <div class="row" class="text-right">
      <div class="col">
        <button
          type="button"
          class="btn btn-danger"
          style="margin-right: 10px"
          (click)="exportCV()"
        >
          {{ "Export" | localize }}
        </button>
        <button type="button" class="btn btn-secondary" (click)="dialogRef.close()">
          {{ "Cancel" | localize }}
        </button>
      </div>
    </div>
  </div>
</div>
