<form [formGroup]="form">
  <div class="form-group row justify-content-between">
    <div class="col-md-12 mb-3">
      <label> {{ "Name" | localize }} <span class="text-danger">*</span></label>
      <input
        talentAutoFocus
        type="text"
        class="form-control"
        formControlName="name"
      />
      <span
        class="text-danger"
        *ngIf="submitted && formControls.name.errors?.required"
      >
        Name is required!
      </span>
    </div>

    <div class="col-md-12 mb-3">
      <label class="d-block">
        {{ "Type" | localize }} <span class="text-danger">*</span></label
      >
      <div class="d-flex">
        <div class="mr-3 w-100">
          <p-dropdown
            [options]="_utilities.catEducationType"
            formControlName="educationTypeId"
            placeholder="Select type"
            optionLabel="name"
            styleClass="w-100"
            optionValue="id"
            [filter]="true"
            filterBy="name"
          ></p-dropdown>
        </div>
        <p-button
          icon="pi pi-plus"
          styleClass="p-button-outlined"
          (onClick)="openEducationTypeDialog()"
        >
        </p-button>
      </div>

      <span
        class="text-danger"
        *ngIf="submitted && formControls.educationTypeId.errors?.required"
      >
        Education type is required!
      </span>
    </div>

    <div class="col-md-12 pb-5">
      <label>
        {{ "Color" | localize }}
        <span class="text-danger">*</span></label
      >
      <div class="group-color">
        <div class="d-flex w-100 align-items-center">
          <input
            type="text"
            class="form-control mr-3"
            formControlName="colorCodeIp"
            [value]="formControls.colorCode.value"
          />
          <p-colorPicker formControlName="colorCode"></p-colorPicker>
        </div>

        <div
          class="text-danger"
          *ngIf="submitted && formControls.colorCodeIp.errors?.required"
        >
          Color is required
        </div>
      </div>
    </div>
  </div>

  <talent-dialog-action-toolbar
    [dialogRef]="ref"
    [disabledSaveBtn]="isLoading"
    [showButtonSaveCloseActionCreate]="action"
    [showButtonSaveClose]="true"
    (onSave)="onSave($event)"
  ></talent-dialog-action-toolbar>
</form>
