<div class="container-fluid px-3" [style]="{ height:'100vh' }">
  <div class="card mt-3">
    <div class="card-header">
      <div class="row row-toolbar">
        <div class="col-lg-4 col-md-6 col-12 d-flex flex-column flex-md-row align-items-md-center">
          <label for="userType" class="mb-0 mr-2">User Type</label>
          <div class="flex-fill">
            <p-dropdown
              id="userType"
              [options]="_utilities.catUserType"
              [(ngModel)]="userType"
              placeholder="Select an user type"
              optionLabel="name"
              optionValue="id"
              styleClass="w-100"
              [filter]="true"
              filterBy="name"
              (onChange)="onUserTypeChange($event.value)"
            ></p-dropdown>
          </div>
        </div>

        <div class="col-lg-3 col-md-5 col-12 d-flex flex-column flex-md-row align-items-md-center">
          <label for="position" class="mb-0 mr-2">Position</label>
          <div class="flex-fill">
            <talent-position-dropdown
              [id]="'position'"
              [options]="_utilities.catPosition"
              (onChange)="onPositionSelect($event)"
              [optionSelected]="subPositionId"
            >
            </talent-position-dropdown>
          </div>
        </div>

        <div class="col-lg-auto col-md-12 col-12 flex-fill d-flex align-items-center justify-content-end gap-2">
          <p-button *ngIf="!canEditFactor &&isGranted(PS.Pages_CapabilitySettings_EditFactor)"
                    label="{{ 'Edit Factors' | localize }}"
                    icon="pi pi-pencil"
                    styleClass="p-button-sm p-button-primary"
                    (click)="onEditFactor()"></p-button>
          <p-button *ngIf="canEditFactor"
                    label="{{ 'Save' | localize }}"
                    icon="pi pi-check"
                    styleClass="  p-button-sm p-button-primary"
                    (click)="onDoneEditFactor()"></p-button>
          <p-button *ngIf="canEditFactor"
                    label="{{ 'Cancel' | localize }}"
                    icon="pi pi-times"
                    styleClass=" p-button-sm p-button-secondary"
                    (click)="onCancelEditFactor()"></p-button>
          <p-button
            *ngIf="isGranted(PS.Pages_CapabilitySettings_Clone)"
            label="{{ 'Clone' | localize }}"
            styleClass="p-button-sm p-button-warning"
            (click)="onClone()"
          ></p-button>

          <p-button
            label="{{ 'Back' | localize }}"
            icon="pi pi-chevron-left"
            styleClass="p-button-sm"
            (click)="goBack()"
          ></p-button>
        </div>
      </div>
    </div>

    <ng-container
      *ngIf="
        userType !== null && subPositionId !== null;
        else tmpSelectRequired
      "
    >
      <div class="card-body mt-3 mb-0" *ngIf="!isLoading; else tmpSpinner">
        <p-pickList
          [source]="selectedList"
          [target]="availableList"
          [showSourceControls]="false"
          [showTargetControls]="false"
          sourceHeader="Selected Capabilities"
          targetHeader="Available Capabilities"
          [dragdrop]="true"
          [responsive]="true"
          [sourceStyle]="{ height: '65vh' }"
          [targetStyle]="{ height: '65vh' }"
          filterBy="capabilityName"
          sourceFilterPlaceholder="Search by name"
          targetFilterPlaceholder="Search by name"
          (onSourceSelect)="onSourceSelect($event)"
          (onTargetSelect)="onTargetSelect($event)"
          (onMoveToTarget)="deleteCapability($event.items[0])"
          (onMoveToSource)="addCapability($event.items[0])"
        >
          <ng-template let-item pTemplate="item">
              <div >
                <span>{{ item.capabilityName }}</span>
                <span *ngIf="item.isDeleted==false" class="float-right d-inline-flex">
                  <input  type="number" *ngIf="canEditFactor"
                              [(ngModel)]="item.factor"
                              class="form-control text-center"
                              style="width: 70px; margin-left: 10px;"
                              min="0"
                              max="100">
                  <p *ngIf="!canEditFactor">x&nbsp;<strong>{{item.factor}}</strong></p>
                </span>
              </div>
          </ng-template>
        </p-pickList>
      </div>
    </ng-container>
  </div>
</div>

<ng-template #tmpSpinner>
  <div class="text-center">
    <p-progressSpinner></p-progressSpinner>
  </div>
</ng-template>

<ng-template #tmpSelectRequired>
  <div class="text-center text-danger p-4">
    Please select both <strong>User Type</strong> and <strong>Position</strong>
  </div>
</ng-template>
