@import "../styles/primeng/dynamic-dialog.scss";
@import "../styles/primeng/dropdown.scss";
@import "../styles/primeng/table.scss";
@import "../styles/primeng/datepicker.scss";
@import "../styles/util";
@import "../styles/variables";
@import "../styles/base";
@import "../styles/tag";
@import "../styles/mixin";
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

[type="file"] {
  display: none;
}

[type="file"] + label {
  background: $bg-input-file;
  border: none;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: "Rubik", sans-serif;
  font-size: inherit;
  font-weight: 500;
  outline: none;
  padding: 0.3rem 30px;
  position: relative;
  transition: all 0.3s;
  vertical-align: middle;

  &:hover {
    background-color: darken($bg-input-file, 10%);
  }

  &.btn-inputfile {
    background-color: $bg-lighten-input-file;
    box-shadow: 0 6px darken($bg-lighten-input-file, 10%);
    transition: none;

    &:hover {
      box-shadow: 0 4px darken($bg-lighten-input-file, 10%);
      top: 2px;
    }
  }
}

// rating
.p-rating {
  .p-rating-icon.pi-star-fill {
    color: orange;
  }

  &:not(.p-disabled):not(.p-readonly) .p-rating-icon:hover {
    color: orange;
  }
}

.max-line-content-1 {
  @include ellipsisWithLine(1);
  cursor: pointer;
}

.max-line-content-2 {
  @include ellipsisWithLine(2);
  cursor: pointer;
}

.max-line-content-3 {
  @include ellipsisWithLine(3);
  cursor: pointer;
}

.main-sidebar {
  transition: margin-left 0.3s ease-in-out, width 0.3s ease-in-out !important;
}

.nav-link {
  color: var(--primary);
  &:hover {
    color: var(--primary);
  }
}

.menu-item-click {
  &:hover {
    .p-menuitem-link .p-menuitem-text {
      color: var(--blue-700);
    }
    font-weight: 600;
    text-decoration: underline;
    cursor: pointer;
  }
}

.p-breadcrumb-home {
  &:hover {
    .p-menuitem-link .p-menuitem-icon {
      font-weight: bold;
      color: var(--blue-700);
    }
  }
}

.tl-icon {
  &:hover {
    font-weight: bold;
    color: var(--blue-700);
    cursor: pointer;
  }
}

.nav-loading {
  opacity: 0;
}

.talent-spinner {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.talent-dialog-content {
  // Medium devices (tablets, and up)
  @media (max-height: 700px) {
    max-height: 400px;
    overflow-x: hidden;
    overflow-y: auto;
  }

  //small laptop
  @media (max-height: 650px) {
    max-height: 350px;
    overflow-x: hidden;
    overflow-y: auto;
  }
}

body {
  -ms-overflow-style: none;
  scrollbar-width: none;
	overflow-y: scroll;
	&::-webkit-scrollbar {
		display: none
  }
}
.custom-dialog {
  mat-dialog-container {
      padding: 0 !important;
      border: 1px solid aqua;
      border-radius: 20px;
      height: 135px;
  }
}

.custom-tooltip {
  font-size: 12px;
  font-weight: 600;
  max-width: 300px;
  position: absolute;
  background-color: #333;
  color: #fff;
  padding: 5px;
  border-radius: 3px;
  z-index: 10000;
  pointer-events: none;
}

.pdf-doc-viewer-dialog {
  .p-dialog-content {
    padding: 0 !important;
  }
}

.main-content {
  min-width: 600px;
  overflow: auto;
}

.custom-search {
  &-container {
    background: #fff;
    display: flex;
    gap: .5rem;
    width: 60%;
    border-radius: .25rem;
    border: 1px solid #ddd;
    min-width: 400px;
  }

  &-input {
    background: transparent !important;
    border: 0 !important;
    outline: 0 !important;
    box-shadow: unset !important;
    padding: 0 !important;
    flex: 1;
  }

  @media (max-width: 1500px) {
    &-container {
      width: 80%;
    }
  }

  @media (max-width: 1000px) {
    &-container {
      width: 100%;
    }
  }
}

.swal2-popup, .modal-dialog .modal-content, .p-dialog {
  min-width: 500px;
}
