input[type="file"] {
  display: none;
}

label {
  color: #6c757d;
  font-size: 14px;
}

::ng-deep p-inputnumber {
  width: 100%;
}

.profile-avt img {
  max-width: 90%;
  max-height: 200px;
  object-fit: contain;
  margin-bottom: 10px;
}

.card-header {
  font-size: 25px;
  font-family: auto;
}
