<form [formGroup]="form" *ngIf="!isLoading">
  <div class="personal-info mb-5">
    <div class="personal-info-left">
      <div class="group-item w-100">
        <span class="lb-item" for="fullname">
          {{ "Full Name" | localize }}
          <span class="text-danger">*</span>
        </span>

        <div class="input-item">
          <input
            class="w-100"
            id="fullname"
            talentAutoFocus
            type="text"
            pInputText
            formControlName="fullName"
          />
        </div>
        <div
          class="text-error text-danger"
          *ngIf="submitted && formControls.fullName.errors?.required"
        >
          Fullname is required
        </div>
      </div>

      <div class="group-item">
        <span class="lb-item" for="email">
          {{ "Email" | localize }}
          <span class="text-danger">*</span>
        </span>

        <div class="input-item">
          <input
            class="w-100"
            id="email"
            type="email"
            pInputText
            formControlName="email"
          />
        </div>

        <div
          class="text-error text-danger"
          *ngIf="submitted && formControls.email.errors?.required"
        >
          Email is required
        </div>

        <div
          class="text-error text-danger"
          *ngIf="submitted && formControls.email.errors?.email"
        >
          Email invalid, please check again
        </div>

        <div
          class="text-error text-danger"
          *ngIf="formControls.email.errors?.existEmail"
        >
          Email already existed:
          <span
            class="tl-link"
            (click)="navigateToExisted(formControls.email.errors?.existEmail)"
          >
            #{{ formControls.email.errors?.existEmail?.cvId }}</span
          >
        </div>
      </div>

      <div class="group-item">
        <span class="lb-item" for="phone">
          {{ "Phone Number" | localize }}
          <span class="text-danger">*</span>
        </span>

        <div class="input-item">
          <input type="text"
          pInputText 
          formControlName="phone"
          class="w-100"
          maxlength="10"
          (paste)="pasteInputEvent($event)" 
          (input)="handleInputEvent($event)"
        />
        </div>
        <div
          class="text-error text-danger"
          *ngIf="submitted && formControls.phone.errors?.required"
        >
          Phone is required
        </div>
        <div
          class="text-error text-danger"
          *ngIf="formControls.phone.errors?.existPhone"
        >
          Phone already existed:
          <span
            class="tl-link"
            (click)="navigateToExisted(formControls.phone.errors?.existPhone)"
            >#{{ formControls.phone.errors?.existPhone?.cvId }}</span
          >
        </div>
      </div>

      <div class="group-item">
        <span class="lb-item" for="ipuserType">
          {{ "Candidate Type" | localize }}
          <span class="text-danger">*</span>
        </span>

        <div class="input-item">
          <p-dropdown
            inputId="ipuserType"
            [options]="_utilities.catUserType"
            formControlName="userType"
            optionLabel="name"
            optionValue="id"
            styleClass="w-100"
          ></p-dropdown>
        </div>
      </div>

      <div class="group-item">
        <span class="lb-item" for="positionType">
          {{ "Position" | localize }}
          <span class="text-danger">*</span>
        </span>

        <div class="input-item">
          <talent-position-dropdown
            [id]="'ipPosition'"
            [options]="_utilities.catPosition"
            [optionSelected]="formControls.subPositionId.value"
            [disabled]="form.status === FORM_DISABLED"
            (onChange)="onPositionSelect($event)"
          >
          </talent-position-dropdown>
        </div>

        <div
          class="text-error text-danger"
          *ngIf="submitted && formControls.subPositionId.errors?.required"
        >
          Position is required
        </div>
      </div>

      <div class="group-item">
        <span class="lb-item" for="branch">
          {{ "Branch" | localize }}
          <span class="text-danger">*</span>
        </span>

        <div class="input-item">
          <p-dropdown
            inputId="branch"
            [options]="_utilities.catBranch"
            formControlName="branchId"
            placeholder="Select a branch"
            optionLabel="name"
            optionValue="id"
            styleClass="w-100"
            [filter]="true"
            filterBy="name"
            [showClear]="true"
          ></p-dropdown>
        </div>

        <div
          class="text-error text-danger"
          *ngIf="submitted && formControls.branchId.errors?.required"
        >
          Branch is required
        </div>
      </div>

      <div class="group-item group-item--cv">
        <div class="parent-group">
          <div class="group-cv-source">
            <span class="lb-item" for="cvSource">
              {{ "CV Source" | localize }}
              <span class="text-danger">*</span>
            </span>

            <div class="cv-select">
              <p-dropdown
                inputId="cvSource"
                [options]="_utilities.catCvSource"
                formControlName="cvSourceId"
                placeholder="Select a cv source"
                optionLabel="name"
                optionValue="id"
                styleClass="w-100"
                [filter]="true"
                filterBy="name"
                (onChange)="onCVSourceChange($event.value)"
                [showClear]="true"
              ></p-dropdown>
            </div>
          </div>

          <div class="group-by" [class.d-none]="!isEnaleRefBy">
            <span class="lb-item" class="label-split">
              {{ "By" | localize }}
              <span class="text-danger">*</span>
            </span>
            <div class="by-source-list">
              <p-dropdown
                [options]="
                  referenceType === REFERT_TYPE.STAFF
                    ? _utilities.catAllUser
                    : _utilities.catEducation
                "
                formControlName="referenceId"
                placeholder="Select an option"
                [optionLabel]="
                  referenceType === REFERT_TYPE.STAFF ? 'email' : 'name'
                "
                optionValue="id"
                styleClass="w-100"
                [filter]="true"
                [filterBy]="
                  referenceType === REFERT_TYPE.STAFF ? 'email' : 'name'
                "
                [showClear]="true"
              ></p-dropdown>
            </div>
          </div>
        </div>

        <div
          class="text-error text-danger"
          *ngIf="submitted && formControls.cvSourceId.errors?.required"
        >
          Cv source is required
        </div>

        <div
          class="text-error text-danger"
          *ngIf="submitted && formControls.referenceId.errors?.required"
        >
          By is required
        </div>
      </div>

      <div class="group-item">
        <span class="lb-item" for="dob">
          {{ "Date of birth" | localize }}
        </span>

        <div class="input-item">
          <p-calendar
            [showIcon]="true"
            inputId="dob"
            dateFormat="dd/mm/yy"
            placeholder="dd/mm/yyyy"
            styleClass="w-100"
            formControlName="dob"
          ></p-calendar>
        </div>

        <div
          class="text-error text-danger"
          *ngIf="submitted && formControls.dob.errors?.mustLessThanCurrentDate"
        >
          Invalid birthday
        </div>
      </div>

      <div class="group-item">
        <span class="lb-item" for="contractAddress">
          {{ "Note" | localize }}
        </span>
        <textarea
          formControlName="note"
          rows="2"
          class="input-item"
          pInputTextarea
        ></textarea>
      </div>
    </div>

    <div class="personal-info-right">
      <div class="group-item group-item--gender">
        <span class="lb-item" for="gender">
          {{ "Gender" | localize }}
        </span>

        <div class="gender-radio-group">
          <p-radioButton
            name="isFemale"
            [value]="true"
            styleClass="radio"
            formControlName="isFemale"
          ></p-radioButton>
          <label for="gender" class="mb-0">Female</label>
          <p-radioButton
            name="isFemale"
            [value]="false"
            styleClass="radio"
            formControlName="isFemale"
          ></p-radioButton>
          <label for="gender" class="mb-0">Male</label>
        </div>
      </div>

      <div class="group-item">
        <span class="lb-item" for="contractAddress">
          {{ "Address" | localize }}
        </span>

        <div class="input-item">
          <input
            class="w-100"
            id="contractAddress"
            type="text"
            pInputText
            formControlName="address"
          />
        </div>
      </div>

      <div class="group-item">
        <span class="lb-item" for="created">
          {{ "Assign to" | localize }}
        </span>
        <div class="input-item" *ngIf="userType === USER_TYPE.STAFF">
          <p-dropdown
          inputId="created"
          [options]="_utilities.catCanStaffCreatedBy"
          formControlName="creatorUserId"
          placeholder="Select a User"
          optionLabel="name"
          optionValue="id"
          styleClass="w-100"
          [filter]="true"
          filterBy="name"
          [showClear]="true"
        ></p-dropdown>
        </div>
        <div class="input-item" *ngIf="userType === USER_TYPE.INTERN">
          <p-dropdown
            inputId="created"
            [options]="_utilities.catCanInternCreatedBy"
            formControlName="creatorUserId"
            placeholder="Select a User"
            optionLabel="name"
            optionValue="id"
            styleClass="w-100"
            [filter]="true"
            filterBy="name"
            [showClear]="true"
          ></p-dropdown>
        </div>
      </div>

      <div class="group-item group-item--status">
        <span class="lb-item text-status" for="cvStatus">
          {{ "Status" | localize }}
          <span class="text-danger">*</span>
        </span>

        <div class="input-item main-group-status">
          <div class="status">
            <p-dropdown
              [options]="_utilities.catCvStatus"
              formControlName="cvStatus"
              optionLabel="name"
              optionValue="id"
              styleClass="select-status"
            ></p-dropdown>
          </div>

          <span *ngIf="getLastEmailInfo()">
            <span>
              Latest mail:
              <strong class="text-success ml-1">
                {{ getLastEmailInfo()?.subject }}
              </strong>
            </span>

            <div>
              at
              {{
                getLastEmailInfo()?.creationTime
                  | talentDateTime: DATE_FORMAT.DD_MM_YYYY_H_MM
              }}
              <i
                class="fas fa-history ml-3 tl-icon"
                title="View email status histories"
                (click)="navigateToApplicationResult()"
              ></i>
            </div>
          </span>

          <div
            [style.visibility]="
              formControls?.mailDetail?.value?.isAllowSendMail
            "
          >
            <p-button
              *ngIf="
                formControls?.mailDetail?.value?.isAllowSendMail &&
                validPermissionUserType(
                  userType,
                  PS.Pages_CandidateIntern_ViewDetail_PersonInfo_SendMail,
                  PS.Pages_CandidateStaff_ViewDetail_PersonInfo_SendMail
                )
              "
              label="Send Mail"
              icon="pi pi-envelope"
              styleClass="p-button-sm p-button-outlined p-button-success"
              [disabled]="isLoading"
              (onClick)="sendMailFailed()"
            >
            </p-button>
          </div>
        </div>
      </div>

      <div class="group-item">
        <span class="lb-item" for="file">
          {{ "CV" | localize }}
        </span>

        <div class="input-item">
          <input
            type="file"
            id="file"
            [accept]="ACCEPT_CV"
            (change)="onCVFileChange($event.target.files)"
          />

          <label for="file" class="btn-inputfile">Choose a file</label>

          <a
          *ngIf="cvFileName && cvFileName.endsWith('.pdf')"
          class="ml-3"
          [attr.href]="viewFile(formControls['linkCV']?.value)"
          target="_blank"
        >
          {{ cvFileName }}</a
        >
          <span
          *ngIf="cvFileName  && !cvFileName.endsWith('.pdf')"
          class="text-name tl-link ml-3"
          (click)="openLink()"
            >
            {{ cvFileName }}
            </span>
            <span
            class="ml-2 text-danger"
            *ngIf="formControls.linkCV.errors?.invalidCVExtension"
          >
            CV Type allow: {{ ACCEPT_CV }}
          </span>
        </div>
        <div
        class="text-error text-danger mt-2"
        *ngIf="submitted && !cvFileName"
      >
        CV is required
      </div>
      </div>

      <div class="group-item">
        <span class="lb-item" for="file">
          {{ "Avatar" | localize }}
        </span>

        <div class="input-item">
          <input
            type="file"
            id="inputAvatar"
            [accept]="ACCEPT_IMAGE"
            (change)="onAvatarFileChange($event)"
          />
          <label for="inputAvatar" class="btn-inputfile">Choose a file</label>
          <span
            class="ml-2 text-danger"
            *ngIf="formControls.avatar.errors?.invalidImageExtension"
            >Image Type allow: {{ ACCEPT_IMAGE }}</span
          >
        </div>
      </div>

      <div class="group-item h-300px">
        <img
          *ngIf="avatarUrl"
          id="blah"
          [src]="avatarUrl"
          class="avatar"
          alt="your image"
        />
      </div>
    </div>
  </div>

  <section class="section-action mt-5 mb-4">
    <div class="section-action-left text-right">
      <p-button styleClass="p-button-secondary" (onClick)="onClose()">
        Close
      </p-button>
    </div>

    <div class="section-action-right">
      <ng-container *ngIf="!isViewMode">
        <p-button
          label="{{ 'Save & Close' | localize }}"
          styleClass="p-button mr-3"
          [disabled]="isLoading"
          (onClick)="onSaveClose()"
        >
        </p-button>
        <p-button
          label="{{ 'Save & Continue' | localize }}"
          styleClass="p-button"
          [disabled]="isLoading"
          (onClick)="onSaveContinue()"
        >
        </p-button>
      </ng-container>

      <p-button
        *ngIf="
          isViewMode &&
          validPermissionUserType(
            userType,
            PS.Pages_CandidateIntern_ViewDetail_PersonInfo_Edit,
            PS.Pages_CandidateStaff_ViewDetail_PersonInfo_Edit
          )
        "
        label="{{ isEditing ? 'Cancel' : ('Edit' | localize) }}"
        [icon]="isEditing ? 'pi pi-times' : 'pi pi-pencil'"
        styleClass="p-button  mr-3"
        [styleClass]="isEditing ? 'p-button-secondary mr-3' : ''"
        (click)="toggleEditing()"
      ></p-button>

      <p-button
        *ngIf="
          isViewMode &&
          isEditing &&
          validPermissionUserType(
            userType,
            PS.Pages_CandidateIntern_ViewDetail_PersonInfo_Edit,
            PS.Pages_CandidateStaff_ViewDetail_PersonInfo_Edit
          )
        "
        label="Save"
        icon="pi pi-check"
        styleClass="p-button"
        [disabled]="isLoading"
        (onClick)="onUpdate()"
      ></p-button>
    </div>
  </section>
</form>
