::ng-deep .table-cap {
  .p-datatable-wrapper .p-datatable-table {
    tbody tr {
      td div {
        &.item-note {
          white-space: pre-line;
          word-break: break-word;
          &:hover {
            cursor: pointer;
          }
        }
      }
    }
  }
}
.hr-color {
  background-color: rgb(217, 0, 27);
}
.reviewer-color {
  background-color: #28a745
}
