@import "../variables";

.filter-row {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;

  &--items {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
  }
}

.expand-group {
  display: flex;
  align-items: center;

  ::ng-deep .p-button:focus {
    box-shadow: none;
  }
}

::ng-deep .p-datatable-wrapper .p-datatable-table {
  tbody,
  thead tr {
    th.req-info {
      width: 250px;
    }

    td {
      div.req-info {
        display: flex;
        flex-wrap: wrap;
        gap: 5px;
        .tag {
          margin-bottom: 0;
        }
      }
    }
  }
}

.sub-table {
  max-height: 480px;
  overflow: auto;
}

@media (max-width: 1200px) {
  .filter-row {
    &--items {
      flex-basis: calc(50% - 1rem);
      max-width: 100%;
    }
  }
}

@media (max-width: 600px) {
  .filter-row {
    &--items {
      flex-basis: 100%;
      max-width: 100%;
    }
  }
}

.quantity-onboard {
  color: $color-blue-5;
}

.quantity-failed {
  color: $color-warning-danger;
}

.quantity-acceptedoffer {
  color: $bg-lighten-input-file;
}

.total-candidate-apply {
  color: $color-tag-selected;
}

:host ::ng-deep .creation-time-open {
  flex-basis: 20%;
  .creation-date-container {
    .creation-group-select {
      flex-basis: 35%;
    }
    .creation-group-label {
      flex: 1;
    }
  }
}

@media (max-width: 1700px) {
  :host ::ng-deep .creation-time-open {
    flex-basis: 25% !important;
    .creation-date-container {
      .creation-group-select {
        flex-basis: 35%;
      }
      .creation-group-label {
        flex: 1;
      }
    }
  }
}

@media (max-width: 1500px) {
  .row-group {
    gap: 16px;

    .item-group {
      flex-basis: calc(50% - 8px); //8px gap one stite

      &--skill {
        width: 25% !important;
      }

      &--search {
        padding: 0;
        align-self: flex-end;
        flex-direction: row;
      }
    }
  }

  :host ::ng-deep .skill-select-time-open {
    .multi-select-container {
      width: calc(50% - 8px);
    }
  }

  :host ::ng-deep .creation-time-open {
    flex-basis: 100% !important;
    .creation-date-container {
      .creation-group-select {
        flex-basis: calc(50% - 8px); //8px gap one stite
      }
      .creation-group-label {
        flex: 1;
      }
    }
  }
}

@media (max-width: 700px) {
  .row-group {
    gap: 1rem;
    .item-group {
      flex-basis: 100%;
    }
  }

  :host ::ng-deep .skill-select-time-open {
    .multi-select-container {
      width: 100%;
    }
  }

  :host ::ng-deep .creation-time-open {
    .creation-date-container {
      gap: 1rem;
      .creation-group-select {
        margin-right: 0;
        padding-right: 0;
        flex-basis: 100%;
        max-width: 100%;
      }
      .creation-group-label {
        flex-basis: 100%;
      }
    }
  }
}
