<a
  href="javascript:;"
  class="nav-link d-inline-block w-auto ml-1 p-0"
  (click)="languagePanel.toggle($event)"
>
  <i class="d-inline-block {{ currentLanguage.icon }} ml-2"></i>
  <span class="d-none d-md-inline-block ml-1 mr-1 language-text">
    {{ currentLanguage.displayName }}
  </span>
</a>

<p-overlayPanel #languagePanel baseZIndex="1000" appendTo="body">
  <ng-template pTemplate>
    <ng-container *ngFor="let language of languages">
      <a
        *ngIf="language.name != currentLanguage.name"
        class="dropdown-item pointer"
        (click)="changeLanguage(language.name)"
      >
        <i class="d-inline-block {{ language.icon }} mr-1"></i>
        {{ language.displayName }}
      </a>
    </ng-container>
  </ng-template>
</p-overlayPanel>
