<a class="nav-link d-flex align-items-center" href="javascript:;">
  <div class="nav-icon">
    <i class="d-inline-block {{ currentLanguage.icon }}"></i>
  </div>
  <p class="flex-fill">
    <p-dropdown
      class="w-100"
      [options]="languages"
      [(ngModel)]="currentLanguage"
      placeholder="Select a language"
      dropdownIcon="pi pi-chevron-up"
      [scrollHeight]="575"
      (onChange)="dropdownChange($event)"
    >
      <ng-template pTemplate="selectedItem">
        <div *ngIf="currentLanguage">
          {{currentLanguage.displayName}}
        </div>
      </ng-template>
      <ng-template let-language pTemplate="item">
        <div class="d-flex align-items-center gap-2">
          <i class="d-inline-block {{ language.icon }} mr-1"></i>
          <div>{{language.displayName}}</div>
        </div>
      </ng-template>
    </p-dropdown>
  </p>
</a>
