::ng-deep .sidebar-mini.sidebar-collapse {
  .main-sidebar:not(.sidebar-no-expand):hover {
    .language-text {
      visibility: visible;
    }

    .sidebar-custom {
      height: 6rem;
      display: flex;
      flex-wrap: nowrap;
      flex-direction: row;
      justify-content: space-between;

      .language-text {
        display: inline-block!important;;
      }
    }
  }

  .sidebar-custom {
    display: flex;
    flex-direction: column;
    align-items: center;

    .language-text {
      display: none !important;
    }
  }
}

::ng-deep .layout-fixed {
  .main-sidebar-custom {
    .sidebar {
      height: calc(100% - (9.5rem + 1px));
    }
    .sidebar-custom {
      height: 6rem;
      display: flex;
      flex-wrap: nowrap;
      justify-content: space-between;
    }
  }
}
.icon{
  height: 40px;
}
.bottsidebar{
  display: contents;
}
