::ng-deep {
  .sidebar-mini {
    &.sidebar-open {
      .content-wrapper {
        margin-left: 270px !important;
      }
      .main-sidebar {
        width: 270px !important;
        .nav-treeview {
          margin-left: 18px !important;
        }
      }
    }

    &.sidebar-collapse .main-sidebar:not(.sidebar-no-expand):hover {
      width: 270px !important;
    }
  }

  sidebar-menu, talent-sidebar-footer {
    .nav-item {
      max-width: 100%;
    }
    .nav-link {
      max-width: 100%;
      width: 100% !important;
    }
  }
}
