<div class="user-panel mt-3 pb-3 mb-3 d-flex pointer" (click)="updatePWPanel.toggle($event)">
  <div class="image">
    <img
      *ngIf="!this.appSession.user.avatarPath"
      src="../../../assets/img/user-circle.png"
      alt="User Image"
    />
    <img
      *ngIf="this.appSession.user.avatarPath"
      [src]="this.appSession.user.avatarPath"
      class="img-circle elevation-2"
      alt="User Image"
    />
  </div>
  <div class="info">
    <a class="d-block" href="javascript:;">{{ shownLoginName }}</a>
  </div>
</div>
<p-overlayPanel #updatePWPanel baseZIndex="1000">
  <ng-template pTemplate>
    <a class="dropdown-item" [routerLink]="['update-password']">
      <i class="fas fa-user-edit"></i> {{ "UpdatePassword" | localize }}
    </a>
    <a class="dropdown-item" mat-button (click)="updateAvatar()" >
      <i class="fas fa-user-edit"></i> {{ "UpdateAvatar"}}
    </a>
  </ng-template>
</p-overlayPanel>
