<div [@routerTransition]>
  <talent-section-breadcrumb
    [breadcrumbConfig]="breadcrumbConfig"
    [isShowBtn]="isGranted(PS.Pages_Tenants_Create)"
    (onBtnClick)="createTenant()"
  >
  </talent-section-breadcrumb>

  <section class="section-table">
    <div class="header-toolbar">
      <div class="custom-search-container">
        <button
          type="button"
          pButton
          pRipple
          icon="pi pi-search"
          (click)="getDataPage(GET_FIRST_PAGE)"
        ></button>
        <input
          talentAutoFocus
          type="text"
          pInputText
          name="keyword"
          class="custom-search-input"
          [placeholder]="'Search by tenancy name/name' | localize"
          [(ngModel)]="keyword"
          (keyup.enter)="getDataPage(GET_FIRST_PAGE)"
        />

        <talent-radio-switch
          [inputData]="ActiveRadioData"
          [(ngModel)]="isActive"
        ></talent-radio-switch>
      </div>
    </div>

    <p-table
      [value]="tenants"
      [lazy]="true"
      (onLazyLoad)="lazyLoadingData($event)"
      [paginator]="true"
      [rows]="defaultRows"
      responsiveLayout="scroll"
      [rowsPerPageOptions]="rowsPerPageOptions"
      [loading]="isLoading"
      [(first)]="first"
      [totalRecords]="totalItems"
      [showCurrentPageReport]="tenants.length"
      currentPageReportTemplate="Total: {totalRecords}"
      styleClass="p-datatable-striped p-datatable-gridlines p-datatable-sm tl-table-card-box"
    >
      <ng-template pTemplate="header">
        <tr>
          <th class="text-center">#</th>
          <th>{{ "TenancyName" | localize }}</th>
          <th>{{ "Name" | localize }}</th>
          <th>{{ "IsActive" | localize }}</th>
          <th class="w-230px">{{ "Actions" | localize }}</th>
        </tr>
      </ng-template>

      <ng-template pTemplate="body" let-tenant let-i="rowIndex">
        <tr>
          <td class="w-70px text-center">{{ i + 1 }}</td>
          <td>{{ tenant.tenancyName }}</td>
          <td>{{ tenant.name }}</td>
          <td>
            <div class="custom-control custom-checkbox">
              <input
                type="checkbox"
                class="custom-control-input"
                disabled
                [checked]="tenant.isActive"
              />
              <label class="custom-control-label"></label>
            </div>
          </td>
          <td>
            <div class="d-flex justify-content-center">
            <button
              *ngIf="permission.isGranted(PS.Pages_Tenants_Edit)"
              type="button"
              class="btn btn-sm bg-secondary"
              (click)="editTenant(tenant)"
            >
              <i class="fas fa-pencil-alt"></i>
              {{ "Edit" | localize }}
            </button>
            <button
              *ngIf="permission.isGranted(PS.Pages_Tenants_Delete)"
              type="button"
              class="btn btn-sm bg-danger mx-2"
              (click)="delete(tenant)"
            >
              <i class="fas fa-trash"></i>
              {{ "Delete" | localize }}
            </button>
            </div>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </section>
</div>
