<div [@routerTransition]>
  <talent-section-breadcrumb
    [breadcrumbConfig]="breadcrumbConfig"
    [isShowBtn]="isGranted(PS.Pages_Tenants_Create)"
    (onBtnClick)="createTenant()"
  >
  </talent-section-breadcrumb>

  <section class="section-table">
    <div class="header-toolbar">
      <div class="row">
        <div class="col-12 col-md-5">
          <div class="p-inputgroup">
            <button
              type="button"
              pButton
              pRipple
              icon="pi pi-search"
              (click)="getDataPage(GET_FIRST_PAGE)"
            ></button>

            <input
              talentAutoFocus
              type="text"
              pInputText
              name="keyword"
              [placeholder]="'Search by tenancy name/name' | localize"
              [(ngModel)]="keyword"
              (keyup.enter)="getDataPage(GET_FIRST_PAGE)"
            />
            <div class="input-group-append">
              <button
                pButton
                pRipple
                type="button"
                class="p-button-sm p-button-outlined p-button-secondary"
                (click)="advancedFiltersVisible = !advancedFiltersVisible"
              >
                <i
                  class="fas"
                  [class.fa-angle-up]="advancedFiltersVisible"
                  [class.fa-angle-down]="!advancedFiltersVisible"
                ></i>
              </button>
            </div>
          </div>
        </div>
      </div>

      <div *ngIf="advancedFiltersVisible" class="card mb-0 mt-1">
        <div class="card-body">
          <form class="form-horizontal">
            <div class="row">
              <div class="col-md-6">
                <div class="form-group row mb-0">
                  <label class="col-md-3 col-form-label">
                    {{ "IsActive" | localize }}
                  </label>
                  <div class="col-md-9 pt-2">
                    <div class="custom-control custom-radio d-inline">
                      <input
                        type="radio"
                        class="custom-control-input"
                        id="isActiveAll"
                        name="isActive"
                        [(ngModel)]="isActive"
                        [value]="undefined"
                        checked
                      />
                      <label class="custom-control-label" for="isActiveAll">
                        {{ "All" | localize }}
                      </label>
                    </div>
                    <div class="custom-control custom-radio d-inline mx-3">
                      <input
                        type="radio"
                        class="custom-control-input"
                        id="isActiveActive"
                        name="isActive"
                        [(ngModel)]="isActive"
                        [value]="true"
                      />
                      <label class="custom-control-label" for="isActiveActive">
                        {{ "Yes" | localize }}
                      </label>
                    </div>
                    <div class="custom-control custom-radio d-inline">
                      <input
                        type="radio"
                        class="custom-control-input"
                        id="isActivePassive"
                        name="isActive"
                        [(ngModel)]="isActive"
                        [value]="false"
                      />
                      <label class="custom-control-label" for="isActivePassive">
                        {{ "No" | localize }}
                      </label>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
        <div class="card-footer">
          <button type="button" class="btn bg-blue" (click)="getDataPage(GET_FIRST_PAGE)">
            {{ "Search" | localize }}
          </button>
          <button
            type="button"
            class="btn btn-default float-right"
            (click)="clearFilters()"
          >
            {{ "Clear" | localize }}
          </button>
        </div>
      </div>
    </div>

    <p-table
      [value]="tenants"
      [lazy]="true"
      (onLazyLoad)="lazyLoadingData($event)"
      [paginator]="true"
      [rows]="defaultRows"
      responsiveLayout="scroll"
      [rowsPerPageOptions]="rowsPerPageOptions"
      [loading]="isLoading"
      [(first)]="first"
      [totalRecords]="totalItems"
      [showCurrentPageReport]="tenants.length"
      currentPageReportTemplate="Total: {totalRecords}"
      styleClass="p-datatable-striped p-datatable-gridlines p-datatable-sm tl-table-card-box"
    >
      <ng-template pTemplate="header">
        <tr>
          <th class="text-center">#</th>
          <th>{{ "TenancyName" | localize }}</th>
          <th>{{ "Name" | localize }}</th>
          <th>{{ "IsActive" | localize }}</th>
          <th class="w-200px">{{ "Actions" | localize }}</th>
        </tr>
      </ng-template>

      <ng-template pTemplate="body" let-tenant let-i="rowIndex">
        <tr>
          <td class="w-70px text-center">{{ i + 1 }}</td>
          <td>{{ tenant.tenancyName }}</td>
          <td>{{ tenant.name }}</td>
          <td>
            <div class="custom-control custom-checkbox">
              <input
                type="checkbox"
                class="custom-control-input"
                disabled
                [checked]="tenant.isActive"
              />
              <label class="custom-control-label"></label>
            </div>
          </td>
          <td>
            <button
              *ngIf="permission.isGranted(PS.Pages_Tenants_Edit)"
              type="button"
              class="btn btn-sm bg-secondary"
              (click)="editTenant(tenant)"
            >
              <i class="fas fa-pencil-alt"></i>
              {{ "Edit" | localize }}
            </button>
            <button
              *ngIf="permission.isGranted(PS.Pages_Tenants_Delete)"
              type="button"
              class="btn btn-sm bg-danger mx-2"
              (click)="delete(tenant)"
            >
              <i class="fas fa-trash"></i>
              {{ "Delete" | localize }}
            </button>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </section>
</div>
