.hint {
  color: rgb(0 0 0 / 60%);
  font-size: 75%;
  font-weight: 400;
}

label {
  color: #6c757d;
  font-size: 14px;
}


.max-height {
  max-height: 70vh;
  overflow: scroll;
  overflow-x: initial;
}
.max-height::-webkit-scrollbar {
  background-color: #f7f9fc;
  width: 3px;
}


.title {
  font-size: 25px;
}

.technical {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media only screen and (max-width: 682px) {
  .max-height {
    width: 90%;
  }
  .ncc_wminwwidth {
    max-height: 400px;
    max-width: 90%;
  }
}
@media only screen and (max-height: 850px) {
  .ncc_wminwwidth {
    max-height: 400px;
  }
}
