<form [formGroup]="form">
  <div class="card">
    <div class="card-header title">
      <div class="row">
        <div class="col-md-6">
          {{ "Update Technical" | localize }}
        </div>
        <div class="col-md-6 text-right">
          <p-button
            type="button"
            styleClass="p-button"
            label="Group Skill"
            icon="fas fa-plus"
            (onClick)="addgroupSkills()"
          ></p-button>
        </div>
      </div>
    </div>

    <div class="card-body max-height">
      <!----màn hình edit-->
      <div formArrayName="groupSkills">
        <ng-container
          *ngFor="
            let item of groupSkills().controls;
            let groupSkillIndex = index
          "
        >
          <div class="row" [formGroupName]="groupSkillIndex">
            <div class="col-md-4">
              <ng-container *ngIf="item.value?.cvSkills?.length">
                <label for="group-skill">
                  {{ "Group Skills" | localize }}
                  <span class="text-danger">*</span>
                </label>
                <p-dropdown
                  inputId="group-skill"
                  [options]="_utilities.catCCBGroupSkill"
                  formControlName="name"         
                  placeholder="Select group"
                  optionLabel="name"
                  optionValue="name"
                  appendTo="body"
                  styleClass="w-100"
                  (onChange)="changeGroupSkillId($event.value, groupSkillIndex)"                     
                  [filter]="true"
                  filterBy="name"
                  required="true"                
                ></p-dropdown>
                <span
                  class="text-danger"
                  *ngIf="submitted && (form.value.groupSkills[groupSkillIndex].name? false : true)"
                >
                  This is required
              </span>
              </ng-container>
            </div>

            <div class="col-md-7" formArrayName="cvSkills">
              <div
                *ngFor="
                  let i of item.controls?.cvSkills.controls;
                  let skillIndex = index
                "
              >
                <div class="row mb-2" formGroupName="{{ skillIndex }}">
                  <div class="col-md-6">
                    <label for="ep-skill">
                      {{ "Skill" | localize }}
                      <span class="text-danger">*</span>
                    </label>
                    <!-- <input
                      *ngIf="getOptionSkills(groupSkillIndex)?.length <= 0"
                      *ngIf="getOptionSkills(groupSkillIndex)?.length"
                      pInputText
                      type="text"
                      id="ep-skill"
                      class="w-100"
                      formControlName="skillName" 
                      required  
                    />           -->
                    <p-dropdown
                      inputId="ep-skill"
                      [options]="getOptionSkills(groupSkillIndex)"
                      placeholder="Select skill"
                      formControlName="skillName"
                      optionLabel="name"
                      optionValue="name"
                      styleClass="w-100"
                      appendTo="body"
                      (onChange)="
                        changeListSkillId(
                          $event.value,
                          skillIndex,
                          groupSkillIndex
                        )
                      "
                      [editable]="true" 
                      required
                    ></p-dropdown>
                    <span
                      class="text-danger"
                      *ngIf="submitted && (form.value.groupSkills[groupSkillIndex].cvSkills[skillIndex].skillName === ''? true : false)"
                    >
                      This is required
                    </span>
                  </div>

                  <div class="col-md-5">
                    <label for="ep-level">
                      {{ "Level" | localize }}
                      <span class="text-danger">*</span>
                    </label>
                    <p-dropdown
                      inputId="ep-level"
                      [options]="listLevel"
                      [autoDisplayFirst]="true"
                      formControlName="level"
                      styleClass="w-100"
                      appendTo="body"
                    ></p-dropdown>
                    <div class="hint">{{ i.value.level }} / 10</div>
                  </div>

                  <div class="col-md-1 technical">
                    <label></label>
                    <i
                      class="fas fa-trash-alt text-danger"
                      (click)="deleteCvSkill(groupSkillIndex, skillIndex)"
                    ></i>
                  </div>
                </div>

                <div *ngIf="item.value?.cvSkills?.length" class="mb-2">
                  <i
                    class="fa fa-plus pointer"
                    (click)="addCvSkill(groupSkillIndex)"
                    aria-hidden="true"
                  ></i>
                </div>
              </div>
            </div>
            <div class="col-md-1"></div>
          </div>
        </ng-container>
      </div>
    </div>
  </div>

  <talent-dialog-action-toolbar
    [dialogRef]="dialogRef"
    [disabledSaveBtn]="isLoading"
    (onSave)="saveExpertise()"
  ></talent-dialog-action-toolbar>
</form>
