.talent-multi-switch {
  position: relative;
  height: 100%;
  display: flex;
  justify-content: space-around;
  overflow: hidden;
  height: 100%;

  &-container {
    height: 100%;
    h5 {
      margin-bottom: .7rem;
    }
  }

  label {
    padding: 0 1rem 0 0.5rem;
    display: flex;
    align-items: center;
    z-index: 1;
    flex: 1;
    transition: 0.2s ease;
    text-align: center;
    white-space: nowrap;
  }

  &-active {
    background-color: #2196F3;
    color: white;
  }
}
