<talent-section-breadcrumb [breadcrumbConfig]="breadcrumbConfig">
</talent-section-breadcrumb>

<section class="section-table">
  <div class="header-toolbar pt-0">
    <div class="row-group">
      <div class="col item-group item-group--search">
        <button
          type="button"
          pButton
          pRipple
          icon="pi pi-search"
          (click)="getDataPage(GET_FIRST_PAGE)"
        ></button>
        <input
          talentAutoFocus
          type="text"
          class="w-100"
          pInputText
          [placeholder]="'Search by full name, phone, email' | localize"
          [(ngModel)]="searchText"
          (keyup.enter)="getDataPage(GET_FIRST_PAGE)"
        />
      </div>

      <div class="col item-group">
        <label for="userType">
          {{ "User Type" | localize }}
        </label>
        <div class="w-100">
          <p-dropdown
            inputId="userType"
            [options]="_utilities.catUserType"
            [(ngModel)]="searchDetail.userType"
            placeholder="All"
            optionLabel="name"
            optionValue="id"
            styleClass="w-100"
            [showClear]="true"
            (onChange)="getDataPage(GET_FIRST_PAGE)"
          ></p-dropdown>
        </div>
      </div>

      <div class="col item-group">
        <label for="onboardStatus">
          {{ "Status" | localize }}
        </label>
        <div class="w-100">
          <p-dropdown
            inputId="onboardStatus"
            [options]="_utilities.catCanOfferStatus"
            [(ngModel)]="searchDetail.requestCVStatus"
            placeholder="All"
            optionLabel="name"
            optionValue="id"
            styleClass="w-100 "
            [filter]="true"
            filterBy="name"
            [showClear]="true"
            (onChange)="getDataPage(GET_FIRST_PAGE)"
          ></p-dropdown>
        </div>
      </div>

      <div class="col item-group">
        <label for="branch"> {{ "Candidate Branch" | localize }}</label>
        <div class="w-100">
          <p-dropdown
            inputId="branch"
            [options]="_utilities.catBranch"
            [(ngModel)]="searchDetail.branchId"
            placeholder="All"
            optionLabel="displayName"
            optionValue="id"
            styleClass="w-100"
            [filter]="true"
            filterBy="displayName"
            [showClear]="true"
            (onChange)="getDataPage(GET_FIRST_PAGE)"
          ></p-dropdown>
        </div>
      </div>

      <div class="col item-group">
        <label for="position">{{ "Candidate Position" | localize }}</label>
        <div class="w-100">
          <talent-position-dropdown
            [id]="'position'"
            [options]="_utilities.catPosition"
            (onChange)="onPositionSelect($event)"
          >
          </talent-position-dropdown>
        </div>
      </div>
    </div>
  </div>

  <p-table
    [value]="candidateOffers"
    [lazy]="true"
    (onLazyLoad)="lazyLoadingData($event)"
    [paginator]="true"
    [rows]="defaultRows"
    [(first)]="first"
    responsiveLayout="scroll"
    [rowsPerPageOptions]="rowsPerPageOptions"
    [loading]="isLoading"
    [totalRecords]="totalItems"
    sortField="lastModifiedTime"
    [sortOrder]="SORT_TYPE.DESC"
    [resizableColumns]="true"
    columnResizeMode="expand"
    editMode="row"
    [editingRowKeys]="editingRowKey"
    dataKey="id"
    [showCurrentPageReport]="candidateOffers.length"
    currentPageReportTemplate="Total: {totalRecords}"
    styleClass="p-datatable-striped p-datatable-sm p-datatable-gridlines tl-table tl-table-min-100"
  >
    <ng-template pTemplate="header">
      <tr>
        <th class="w-50px text-center">
          {{ "No" | localize }}
        </th>

        <th pSortableColumn="fullName" pResizableColumn>
          {{ "Candidate" | localize }}
          <p-sortIcon field="fullName"></p-sortIcon>
        </th>

        <th class="text-center">
          {{ "Requisition" | localize }}
        </th>

        <th class="text-center" pResizableColumn title="Apply Level">
          {{ "A.Level" | localize }}
        </th>

        <th class="text-center" pResizableColumn title="Interview Level">
          {{ "I.Level" | localize }}
        </th>

        <th class="text-center" pResizableColumn title="Final Level">
          {{ "F.Level" | localize }}
        </th>

        <th
          class="text-center onboard-status"
          pResizableColumn
          pSortableColumn="requestCVStatus"
        >
          <div class="box-wrapper">
            {{ "Status" | localize }}
            <p-sortIcon field="requestCVStatus"></p-sortIcon>
          </div>
        </th>

        <th
          class="onboard-date text-center"
          pSortableColumn="onboardDate"
          pResizableColumn
        >
          {{ "Onboard" | localize }}
          <p-sortIcon field="onboardDate"></p-sortIcon>
        </th>

        <th
          *ngIf="permission.isGranted(PS.Pages_Offers_ViewSalary)"
          class="offer-salary"
          pResizableColumn
          pSortableColumn="salary"
        >
          <div class="box-wrapper">
            {{ "Salary" | localize }}
            <p-sortIcon field="salary"></p-sortIcon>
          </div>
        </th>

        <th class="onboard-note" pResizableColumn>Note</th>

        <th class="text-center w-50px">
          {{ "Action" | localize }}
        </th>
      </tr>
    </ng-template>

    <ng-template
      pTemplate="body"
      let-item
      let-i="rowIndex"
      let-editing="editing"
    >
      <tr [pEditableRow]="item">
        <td class="text-center">{{ i + 1 }}</td>

        <td>
          <talent-candidate-info-new
            [data]="getCandidateInfo(item)"
            [showCVStatus]="false"
            [showUserType]="true"
          ></talent-candidate-info-new>
        </td>

        <td>
          <talent-requisition-info
            [data]="getRequisitionInfo(item)"
            [showSkills]="false"
            [showUserType]="true"
          ></talent-requisition-info>
        </td>

        <td class="text-center">
          <ng-container *ngIf="item.userType === USER_TYPE.INTERN">
            <span class="level" *ngIf="item?.finalLevelName?.standardName">
              {{ item.finalLevelName.standardName }}
            </span>
          </ng-container>

          <ng-container *ngIf="item.userType === USER_TYPE.STAFF" ;>
            <span class="level" *ngIf="item?.applyLevelName?.standardName">
              {{ item.applyLevelName.standardName }}
            </span>
          </ng-container>
        </td>
        <!-- Apply Level -->

        <td class="text-center">
          <ng-container *ngIf="item.userType === USER_TYPE.INTERN">
            <span
              class="level--color"
              *ngIf="item?.finalLevelName?.standardName"
            >
              {{ item.finalLevelName.standardName }}
            </span>
          </ng-container>

          <ng-container *ngIf="item.userType === USER_TYPE.STAFF">
            <span
              class="level--color"
              *ngIf="item?.interviewLevelName?.standardName"
            >
              {{ item.interviewLevelName.standardName }}
            </span>
          </ng-container>
        </td>
        <!-- Interview Level -->

        <td class="text-center" pEditableColumn>
          <p-cellEditor>
            <ng-template pTemplate="input">
              <p-dropdown
                *ngIf="editing"
                [options]="
                  item.userType === USER_TYPE.INTERN
                    ? _utilities.catLevelFinalIntern
                    : _utilities.catLevelFinalStaff
                "
                [(ngModel)]="item.finalLevel"
                optionLabel="standardName"
                optionValue="id"
                styleClass="w-100"
                [filter]="true"
                filterBy="name"
                appendTo="body"
                (onChange)="
                  onFinalLevelChange(
                    $event.value,
                    item,
                    item.userType === USER_TYPE.INTERN
                  )
                "
              ></p-dropdown>

              <ng-container *ngIf="!editing && item?.finalLevelName">
                <ng-container
                  *ngTemplateOutlet="
                    levelTmpl;
                    context: { level: item.finalLevelName.standardName }
                  "
                ></ng-container>
              </ng-container>
            </ng-template>

            <ng-template pTemplate="output">
              <div *ngIf="item.finalLevelName">
                <ng-container
                  *ngTemplateOutlet="
                    levelTmpl;
                    context: { level: item.finalLevelName.standardName }
                  "
                ></ng-container>
              </div>
            </ng-template>
          </p-cellEditor>
        </td>

        <td pEditableColumn>
          <p-cellEditor>
            <ng-template pTemplate="input">
              <p-dropdown
                *ngIf="editing"
                [options]="_utilities.catCanOfferStatus"
                [(ngModel)]="item.requestCVStatus"
                optionLabel="name"
                optionValue="id"
                styleClass="w-100"
                [filter]="true"
                filterBy="name"
                appendTo="body"
              ></p-dropdown>

              <ng-container *ngIf="!editing && item?.requestCVStatusName">
                <ng-container
                  *ngTemplateOutlet="
                    cvStatusTemplate;
                    context: { status: item.requestCVStatusName }
                  "
                >
                </ng-container>
              </ng-container>
            </ng-template>

            <ng-template pTemplate="output">
              <div *ngIf="item.requestCVStatusName">
                <ng-container
                  *ngTemplateOutlet="
                    cvStatusTemplate;
                    context: { status: item.requestCVStatusName }
                  "
                >
                </ng-container>
              </div>
            </ng-template>
          </p-cellEditor>
        </td>

        <td class="text-center" pEditableColumn>
          <p-cellEditor>
            <ng-template pTemplate="input">
              <p-calendar
                *ngIf="editing"
                [showIcon]="true"
                inputId="dob"
                dateFormat="dd/mm/yy"
                styleClass="w-150px"
                [(ngModel)]="item.onboardDate"
                autoZIndex="true"
                baseZIndex="9999"
                appendTo="body"
              ></p-calendar>
              <ng-container *ngIf="!editing">
                <div *ngIf="item?.onboardDate">
                  {{
                    item.onboardDate | talentDateTime: DATE_FORMAT.DD_MM_YYYY
                  }}
                </div>
              </ng-container>
            </ng-template>
            <ng-template pTemplate="output">
              <div *ngIf="item?.onboardDate">
                {{ item.onboardDate | talentDateTime: DATE_FORMAT.DD_MM_YYYY }}
              </div>
            </ng-template>
          </p-cellEditor>
        </td>

        <td
          *ngIf="permission.isGranted(PS.Pages_Offers_ViewSalary)"
          class="text-right"
        >
          <p-cellEditor>
            <ng-template pTemplate="input">
              <p-inputNumber
                *ngIf="isGranted(PS.Pages_Offers_EditSalary)"
                inputId="salary"
                styleClass="input-salary"
                [(ngModel)]="item.salary"
              >
              </p-inputNumber>
              <ng-container
                *ngIf="
                  (!editing && item?.salary) ||
                  (editing && !isGranted(PS.Pages_Offers_EditSalary))
                "
              >
                {{ item.salary | currency: "VND" }}
              </ng-container>
            </ng-template>
            <ng-template pTemplate="output" *ngIf="item?.salary">
              {{ item.salary | currency: "VND" }}
            </ng-template>
          </p-cellEditor>
        </td>

        <td pEditableColumn>
          <p-cellEditor>
            <ng-template pTemplate="input">
              <textarea
                *ngIf="editing"
                pInputTextarea
                class="note-editing"
                [(ngModel)]="item.hrNote"
              ></textarea>
              <ng-container *ngIf="!editing">
                <ng-container
                  *ngTemplateOutlet="hrNoteTmpl; context: { note: item.hrNote }"
                ></ng-container>
              </ng-container>
            </ng-template>
            <ng-template pTemplate="output">
              <ng-container
                *ngTemplateOutlet="hrNoteTmpl; context: { note: item.hrNote }"
              ></ng-container>
            </ng-template>
          </p-cellEditor>
        </td>

        <td class="text-center">
          <p-button
            *ngIf="editing"
            pSaveEditableRow
            title="Save"
            icon="pi pi-check"
            styleClass="p-button-sm"
            (onClick)="onSave(item)"
          ></p-button>

          <p-button
            *ngIf="editing"
            pCancelEditableRow
            icon="pi pi-times"
            title="Cancel Edit"
            styleClass="p-button-sm p-button-secondary ml-1"
            (click)="onCancel(item)"
          ></p-button>

          <button *ngIf="!editing "
          type="button"
          pButton
          pRipple
          icon="pi pi-bars"
          (click)="menu.toggle($event)"
        ></button>
        <p-menu
          #menu
          [popup]="true"
          appendTo="body"
          [model]="getListItem(item)"
        >
      </p-menu>
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
      <tr>
        <td colspan="100%" class="text-center">No Record.</td>
      </tr>
    </ng-template>
  </p-table>
</section>

<ng-template #cvStatusTemplate let-status="status">
  <div class="d-flex justify-content-center">
    <span
      class="tag"
      [style.backgroundColor]="_utilities.getBgTagRequestCvStatusColor(status)"
      >{{ status }}</span
    >
  </div>
</ng-template>

<ng-template #levelTmpl let-level="level">
  <span *ngIf="level" class="tag level level--final">
    {{ level }}
  </span>
</ng-template>

<ng-template #hrNoteTmpl let-note="note">
  <div
    class="note max-line-content-2"
    [title]="note"
    [collapseLine]="2"
    talentResizeContent
  >
    {{ note }}
  </div>
</ng-template>
