<div [@routerTransition]>
  <talent-section-breadcrumb
    [breadcrumbConfig]="breadcrumbConfig"
    [isShowBtn]="isGranted(PS.Pages_Users_Create)"
    (onBtnClick)="createUser()"
  >
  </talent-section-breadcrumb>

  <section class="section-table">
    <div class="header-toolbar">
      <div class="custom-search-container">
        <button
          type="button"
          pButton
          pRipple
          icon="pi pi-search"
          (click)="getDataPage(GET_FIRST_PAGE)"
        ></button>
        <input
          talentAutoFocus
          type="text"
          pInputText
          name="keyword"
          class="custom-search-input"
          [placeholder]="'Search by full name/email address' | localize"
          [(ngModel)]="searchText"
          (keyup.enter)="getDataPage(GET_FIRST_PAGE)"
        />

        <talent-radio-switch
          [inputData]="ActiveRadioData"
          [(ngModel)]="isActive"
        ></talent-radio-switch>
      </div>
    </div>

    <p-table
      [value]="users"
      [lazy]="true"
      (onLazyLoad)="loadUsers($event)"
      [paginator]="true"
      [rows]="defaultRows"
      responsiveLayout="scroll"
      [rowsPerPageOptions]="rowsPerPageOptions"
      [loading]="loading"
      [totalRecords]="totalItems"
      [showCurrentPageReport]="true"
      currentPageReportTemplate="Total: {totalRecords}"
      styleClass="p-datatable-striped p-datatable-gridlines p-datatable-sm tl-table-card-box"
    >
      <ng-template pTemplate="header">
        <tr>
          <th class="text-center">#</th>
          <th>{{ "Full Name" | localize }}</th>
          <th pSortableColumn="emailAddress">
            {{ "Email Address" | localize }}
            <p-sortIcon field="emailAddress"></p-sortIcon>
          </th>
          <th>{{ "Branch" | localize }}</th>
          <th>{{ "Roles" | localize }}</th>
          <th>{{ "IsActive" | localize }}</th>
          <th class="w-100px">{{ "Actions" | localize }}</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-user let-i="rowIndex">
        <tr>
          <td class="text-center">{{ i + 1 }}</td>
          <td>{{ user.fullName }}</td>
          <td>{{ user.emailAddress }}</td>
          <td>{{ user.branchName }}</td>
          <td>
            <ul style="padding-left: 20px">
              <li *ngFor="let roleName of user.roleNames">
                {{ roleName }}
              </li>
            </ul>
          </td>
          <td>
            <div class="custom-control custom-checkbox">
              <input
                type="checkbox"
                class="custom-control-input"
                disabled
                [checked]="user.isActive"
              />
              <label class="custom-control-label"></label>
            </div>
          </td>
          <td class="text-center" >
            <button
            type="button"
            pButton
            pRipple
            icon="pi pi-bars"
            (click)="menu.toggle($event)"
          ></button>
          <p-menu
            #menu
            [popup]="true"
            appendTo="body"
            [model]="getListItem(user)"
          >
        </p-menu>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </section>
</div>
