<section class="section-breadcrumb" *ngIf="breadcrumbConfig">
     <div class="container-fluid">
       <div class="row flex-nowrap justify-content-between">
         <div class="p-0">
           <p-breadcrumb
             [model]="breadcrumbConfig.menuItem"
             [home]="breadcrumbConfig.homeItem"
           ></p-breadcrumb>
         </div>
       </div>
     </div>
</section>
<div class="row col-lg-12 col-md-12 col-sm-12 col-xs-12 px-0" style="height: auto;padding-right: 40px !important;" id="profile">
  <div class="main-info" >
    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 px-0 user-info-left-side">
      <div class="user-info_avatar mt-2">
        <img
          *ngIf="!externalCv.avatarUrl"
          src="../../../assets/img/user-circle.png"
          alt="Thumbnail"
        />
        <img
          *ngIf="externalCv.avatarUrl"
          [src]="_utilities.getLinkFile(externalCv.avatarUrl)"
          alt="Thumbnail"
        />
      </div>
      <div class="user-info_basicinfo">
        <div class="group-item mr-2">
          <span>
            {{ externalCv.name }}
          </span>
          <span
            class="tag gender"
            [class]="externalCv.isFemale ? 'tag--female' : 'tag--male'"
          >
            {{ externalCv.isFemale ? "F" : "M" }}
          </span>
        </div>
        <div class="row-item">
          <span class="text-mail">
            {{ externalCv.email }}
          </span>
        </div>
        <div class="row-item">
          <span class="text-phone">
            {{ externalCv.phone || 'No phone exist' }}
          </span>
        </div>
        <div class="row-item">
            <span class="badge bg-warning">
              {{externalCv?.branchName}}
            </span>
            <span class="badge bg-warning">
              {{externalCv?.userTypeName}}
            </span>
            <span class="badge bg-warning">
              {{externalCv?.positionName}}
            </span>
        </div>
        <div (click)="openPDFDocViewer(externalCv.linkCVUrl)" *ngIf="externalCv.linkCVUrl">
          <img class="icon-cv" src="/assets/img/cv.png" alt="cv" />
        </div>
      </div>
    </div>

    <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 user-info-right-side">
      <div class="row px-0">
        <label class="col-sm-3">Full name:</label>
        <span class="col-sm-9">{{externalCv.name}}</span>
      </div>
      <hr>
      <div class="row px-0">
        <label class="col-sm-3">Gender:</label>
        <span class="col-sm-9">{{externalCv.isFemale ? "Female" : "Male"}}</span>
      </div>
      <hr>
      <div class="row px-0">
        <label class="col-sm-3">Birthday:</label>
        <span class="col-sm-9">{{externalCv.birthday | talentDateTime: DATE_FORMAT.DD_MM_YYYY }}</span>
      </div>
      <hr>
      <div class="row px-0">
        <label class="col-sm-3">Phone Number:</label>
        <span class="col-sm-9">{{externalCv.phone}}</span>
      </div>
      <hr>
      <div class="row px-0">
        <label class="col-sm-3">Email:</label>
        <span class="col-sm-9">{{externalCv.email}}</span>
      </div>
      <hr>
      <div class="row px-0">
        <label class="col-sm-3">NCC Email:</label>
        <span class="col-sm-9">{{externalCv.nccEmail}}</span>
      </div>
      <hr>
      <div class="row px-0">
        <label class="col-sm-3">Address:</label>
        <span class="col-sm-9">{{externalCv.address}}</span>
      </div>
      <hr>
      <div class="row px-0">
        <label class="col-sm-3">Branch:</label>
        <span class="col-sm-9">{{externalCv.branchName}}</span>
      </div>
      <hr>
      <div class="row px-0">
        <label class="col-sm-3">Candidate Type:</label>
        <span class="col-sm-9">{{externalCv.userTypeName}}</span>
      </div>
      <hr>
      <div class="row px-0">
        <label class="col-sm-3">Position:</label>
        <span class="col-sm-9">{{externalCv.positionName}}</span>
      </div>
      <hr>
      <div class="row px-0">
        <label class="col-sm-3">CV Source:</label>
        <span class="col-sm-9">{{externalCv.cvSourceName}}</span>
      </div>
      <hr>
      <div class="row px-0">
        <label class="col-sm-3">Reference Name:</label>
        <span class="col-sm-9">{{externalCv.referenceName}}</span>
      </div>
      <hr>
      <div class="row px-0">
        <label class="col-sm-3">Note:</label>
        <span class="col-sm-9">{{externalCv.note}}</span>
      </div>
      <hr>
      <div class="row px-0">
        <label class="col-sm-3">Metadata:</label>
        <span class="col-sm-9">
          <p-button
          icon="pi pi-eye"
          id="col-sm-9"
          styleClass="p-button"
          (click)="openDialog(externalCv)"
        ></p-button>
        </span>
      </div>
    </div>
  </div>
</div>
