.history-status {
  min-width: max-content;

  .group-item {
    min-width: 120px;
    width: auto;
    display: inline-block;
  }
}

.note {
  min-width: 300px !important;
}

.author {
  margin-left: 5px;
  font-size: 15px;
  color: #757575;
  font-style: italic;
}