<div class="sidebar">
  <nav class="mt-2">
    <ul class="nav nav-pills nav-sidebar flex-column">
      <li class="nav-item">
        <header-language-menu></header-language-menu>
      </li>
      <li class="nav-item">
        <a
          class="nav-link"
          href="https://docs.google.com/document/d/1pESEVRabkMK77su_XCjqGLsU3nOwjkrRwvsvl8BN9eM"
          target="_blank" title="Release Note"
        >
          <i class="fas fa-clipboard-list nav-icon"></i>
          <p>Release Note</p>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="javascript:;" (click)="logout()">
          <i class="fas fa-sign-out-alt nav-icon"></i>
          <p>Logout</p>
        </a>
      </li>
    </ul>
  </nav>
</div>
