<form [formGroup]="form">
  <div class="form-group row">
    <div class="col-md-12">
      <label> {{ "Name" | localize }} <span class="text-danger">*</span></label>
      <input
        talentAutoFocus
        type="text"
        class="form-control"
        formControlName="name"
      />
      <span
        *ngIf="submitted && formControls.name.errors?.required"
        class="text-danger"
      >
        Name is required!
      </span>
    </div>
  </div>

  <talent-dialog-action-toolbar
    [dialogRef]="ref"
    [disabledSaveBtn]="isLoading"
    [showButtonSaveCloseActionCreate]="action"
    [showButtonSaveClose]="true"
    (onSave)="onSave($event)"
  ></talent-dialog-action-toolbar>
</form>
