@import '../../../../styles/variables';

:host {
  width: 100%;
}

.multi-select-container {
  display: flex;
  flex-direction: column;

  .label {
    &-searchType {
      color: #555;
      margin-left: 5px;
      letter-spacing: 1.1px;
      font-weight: 600;
      &--or {
        color: $color-deep-sky-blue;
      }
      &--and {
        color: $bg-input-file;
      }
    }
  }
}

::ng-deep .p-multiselect {
  &-header {
    flex-wrap: wrap;
    .header-option {
      flex-basis: 100%;
      display: flex;
      align-items: center;
      gap: 1rem;
      margin-bottom: 1rem;
    }

    .header-selected-items {
      flex-basis: 100%;
      display: flex;
      flex-wrap: wrap;
    }

    .p-multiselect-close {
      display: none;
    }
  }

  &-items-wrapper {
    max-height: 250px !important;
  }
}

::ng-deep .p-buttonset .p-button {
  height: 32px;
}
