<div class="multi-select-container">
  <label [for]="catalogConfig.labelName" class="label mr-2">
    {{ catalogConfig.labelName }}
    <span
      *ngIf="headerSelectionConfig"
      class="label-searchType"
      [class]="
        searchType === SearchType.OR
          ? 'label-searchType--or'
          : 'label-searchType--and'
      "
      >({{ searchType }})</span
    >
  </label>
  <div class="w-100">
    <p-multiSelect
     #multiSelectRadio
      [inputId]="catalogConfig.labelName"
      [options]="catalogConfig.catalogList"
      [(ngModel)]="searchWithCatalog"
      defaultLabel="All"
      [optionLabel]="catalogConfig?.optionLabel"
      [optionValue]="catalogConfig?.optionValue"
      styleClass="w-100 multi-select-h"
      [filter]="true"
      [disabled]="disabled"
      [showToggleAll]="false"
      [filterBy]="catalogConfig?.optionLabel"
      display="chip"
      [appendTo]="appendTo"
      selectedItemsLabel="{0} items selected"
      (onChange)="onSelectChange()"
      (onPanelShow)="onPanelShow()"
    >
      <ng-template let-value pTemplate="header">
        <div class="header-option" *ngIf="headerSelectionConfig">
          <span for="searchOption" class="mr-2">
            {{ headerSelectionConfig.labelName | localize }}
          </span>
          <p-selectButton
            inputId="searchOption"
            [options]="headerSelectionConfig.selectOptions"
            [(ngModel)]="headerSelectionConfig.defaultValue"
            optionLabel="label"
            optionValue="value"
            (onChange)="searchWithOptionChange($event.value)"
          ></p-selectButton>
        </div>

        <div class="header-selected-items mb-2">
          <span
            class="block-hash-tag"
            *ngFor="let option of searchWithCatalog"
            (click)="unCheckedOption(option)"
          >
            {{ getOptionDisplayName(option) }}
            <span class="p-multiselect-token-icon pi pi-times-circle"></span>
          </span>
          <span
            *ngIf="searchWithCatalog?.length"
            class="block-hash-tag block-hash-tag--clear-all"
            (click)="unCheckedAll()"
            >{{ "Clear all" | localize }}</span
          >
        </div>
      </ng-template>
    </p-multiSelect>
  </div>
</div>
