<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <h5>{{ "Keep Application Result (For HR only)" | localize }}</h5>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="form-check">
            <p-checkbox
            [(ngModel)]="isPresentForHr"
            [binary]="true"
            inputId="w-is-working"
          ></p-checkbox>
            <label class="form-check-label">
              Application Result (For HR only)
            </label>
          </div>
        </div>
      </div>
    </div>

    <div class="row" class="text-right">
      <div class="col">
        <button
          type="button"
          class="btn btn-danger"
          style="margin-right: 10px"
          (click)="Save()"
        >
          {{ "Save" | localize }}
        </button>
        <button type="button" class="btn btn-secondary" (click)="dialogRef.close()">
          {{ "Cancel" | localize }}
        </button>
      </div>
    </div>
  </div>
</div>
