<section class="pb-5">
  <div class="mb-3">
    <div class="row">
      <div class="col">
        <div class="text-right">
          <p-button
            *ngIf="
              validPermissionUserType(
                userType,
                PS.Pages_CandidateIntern_ViewDetail_Skill_Create,
                PS.Pages_CandidateStaff_ViewDetail_Skill_Create
              )
            "
            label="{{ 'Add' | localize }}"
            icon="pi pi-plus"
            styleClass="p-button-sm"
            (onClick)="onAddSkill()"
          ></p-button>
        </div>
      </div>
    </div>
  </div>

  <form [formGroup]="form">
    <p-table
      *ngIf="
        validPermissionUserType(
          userType,
          PS.Pages_CandidateIntern_ViewDetail_Skill_ViewList,
          PS.Pages_CandidateStaff_ViewDetail_Skill_ViewList
        )
      "
      [value]="candidateSkills"
      responsiveLayout="scroll"
      [loading]="isLoading"
      editMode="row"
      dataKey="id"
      styleClass="p-datatable-striped p-datatable-sm p-datatable-gridlines tb-can-skill"
    >
      <ng-template pTemplate="header">
        <tr>
          <th class="skill-name">{{ "Skill Name" | localize }}</th>
          <th class="skill-level">{{ "Skill Level" | localize }}</th>
          <th class="skill-note">{{ "Note" | localize }}</th>
          <th class="update-by text-center">{{ "Updated By" | localize }}</th>
          <th class="update-time text-center">
            {{ "Updated Time" | localize }}
          </th>
          <th class="text-center w-70px action">
            {{ "Action" | localize }}
          </th>
        </tr>

        <tr
          class="header-input"
          *ngIf="
            isCreating &&
            validPermissionUserType(
              userType,
              PS.Pages_CandidateIntern_ViewDetail_Skill_Create,
              PS.Pages_CandidateStaff_ViewDetail_Skill_Create
            )
          "
        >
          <th>
            <div>
              <p-dropdown
                [options]="_utilities.catSkill"
                formControlName="skillId"
                placeholder="Select a skill"
                optionLabel="name"
                optionValue="id"
                styleClass="w-100"
                [filter]="true"
                filterBy="name"
                appendTo="body"
              ></p-dropdown>

              <div
                class="text-danger"
                *ngIf="submitted && formControls.skillId.errors?.required"
              >
                Skill is required
              </div>
            </div>
          </th>

          <th>
            <div>
              <p-dropdown
                [options]="_utilities.catLevel"
                formControlName="levelSkill"
                placeholder="Select a level"
                optionLabel="standardName"
                optionValue="id"
                [filter]="true"
                styleClass="w-100"
                filterBy="name"
                [showClear]="true"
                appendTo="body"
              ></p-dropdown>

              <div
                class="text-danger"
                *ngIf="submitted && formControls.levelSkill.errors?.required"
              >
                Level is required
              </div>
            </div>
          </th>
          <th>
            <input
              pInputText
              type="text"
              formControlName="note"
              class="w-100"
            />
          </th>
          <th></th>
          <th></th>
          <th class="text-center w-70px">
            <p-button
              label="{{ 'Save' | localize }}"
              icon="pi pi-check"
              styleClass="p-button-sm mr-1"
              (onClick)="saveSkill(item, ACTION.CREATE)"
            ></p-button>

            <p-button
              label="{{ 'Close' | localize }}"
              icon="pi pi-times"
              styleClass="p-button-sm p-button-secondary"
              (onClick)="onCreateCancel()"
            ></p-button>
          </th>
        </tr>
      </ng-template>
      <ng-template
        pTemplate="body"
        let-item
        let-editing="editing"
        let-i="rowIndex"
      >
        <tr [pEditableRow]="item">
          <td pEditableColumn>
            <p-cellEditor>
              <ng-template pTemplate="input">
                <p-dropdown
                  *ngIf="editing"
                  [options]="_utilities.catSkill"
                  [ngModelOptions]="{ standalone: true }"
                  [(ngModel)]="item.skillId"
                  optionLabel="name"
                  optionValue="id"
                  styleClass="w-100"
                  [filter]="true"
                  filterBy="name"
                  appendTo="body"
                ></p-dropdown>
                <ng-container *ngIf="!editing">
                  {{ item.skillName }}
                </ng-container>
              </ng-template>
              <ng-template pTemplate="output">
                {{ item.skillName }}
              </ng-template>
            </p-cellEditor>
          </td>

          <td pEditableColumn>
            <p-cellEditor>
              <ng-template pTemplate="input">
                <p-dropdown
                  *ngIf="editing"
                  [options]="_utilities.catLevel"
                  [ngModelOptions]="{ standalone: true }"
                  [(ngModel)]="item.levelSkill"
                  placeholder="Select a level"
                  optionLabel="standardName"
                  optionValue="id"
                  [filter]="true"
                  styleClass="w-100"
                  filterBy="name"
                  appendTo="body"
                ></p-dropdown>
                <ng-container *ngIf="!editing">
                  {{ item.levelInfo.standardName }}
                </ng-container>
              </ng-template>
              <ng-template pTemplate="output">
                {{ item.levelInfo.standardName }}
              </ng-template>
            </p-cellEditor>
          </td>

          <td pEditableColumn>
            <p-cellEditor>
              <ng-template pTemplate="input">
                <input
                  *ngIf="editing"
                  pInputText
                  type="text"
                  [ngModelOptions]="{ standalone: true }"
                  [(ngModel)]="item.note"
                  class="w-100"
                />
                <ng-container *ngIf="!editing">
                  {{ item.note }}
                </ng-container>
              </ng-template>
              <ng-template pTemplate="output">
                {{ item.note }}
              </ng-template>
            </p-cellEditor>
          </td>

          <td class="text-center">{{ item.updatedName }}</td>

          <td class="text-center">
            {{ item.updatedTime | talentDateTime: DATE_FORMAT.DD_MM_YYYY_H_MM }}
          </td>

          <td class="text-center">
            <p-button
              *ngIf="editing"
              pSaveEditableRow
              label=" {{ 'Save' | localize }}"
              icon="pi pi-check"
              styleClass="p-button-sm mr-1"
              (onClick)="saveSkill(item, ACTION.UPDATE)"
            ></p-button>

            <p-button
              *ngIf="
                !editing &&
                validPermissionUserType(
                  userType,
                  PS.Pages_CandidateIntern_ViewDetail_Skill_Edit,
                  PS.Pages_CandidateStaff_ViewDetail_Skill_Edit
                )
              "
              pInitEditableRow
              label="{{ 'Edit' | localize }}"
              icon="pi pi-pencil"
              styleClass="p-button-sm p-button-secondary mr-1"
              (onClick)="onEdit(item)"
            ></p-button>

            <p-button
              *ngIf="editing"
              pCancelEditableRow
              label="{{ 'Cancel' | localize }}"
              icon="pi pi-times"
              styleClass="p-button-sm p-button-secondary"
              (click)="onEditCancel(item)"
            ></p-button>

            <p-button
              *ngIf="
                !editing &&
                validPermissionUserType(
                  userType,
                  PS.Pages_CandidateIntern_ViewDetail_Skill_Delete,
                  PS.Pages_CandidateStaff_ViewDetail_Skill_Delete
                )
              "
              label="{{ 'Delete' | localize }}"
              icon="pi pi-trash"
              styleClass="p-button-sm p-button-danger"
              (onClick)="onDelete(item)"
            ></p-button>
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="emptymessage">
        <tr>
          <td colspan="100%" class="text-center">No Record.</td>
        </tr>
      </ng-template>
    </p-table>
  </form>
</section>
