@import '../../../../../styles/mixin';

::ng-deep .tb-can-skill {
  .p-datatable-thead {
    thead,
    tr {
      th {
        &.skill-name,
        &.skill-level {
          width: 15%;
        }

        &.skill-note {
          width: 20%;
          max-width: calc(100% - 30% - 420px);
        }

        &.update-by {
          min-width: 120px;
        }

        &.update-time {
          min-width: 100px;
        }

        &.action {
          min-width: 200px;
        }
      }
    }

    tr.header-input {
      th {
        padding-bottom: 1rem;
        vertical-align: top;
      }
    }
  }

  .p-datatable-tbody {
    tr{
      td {
        div.skill-note {
          min-width: 200px;
          width: auto;
          @include ellipsisWithLine(2);
          word-break: break-all;
        }
      }
    }
  }
}
