<div>
    <div class="row w-100">
        <div class="d-flex w-100">
            <div class="col-4 text-center">
                <img [src]="getAvatar(user)" class="rounded-circle  mt-1" width="50px" style="max-width: 100%;"
                    alt="avatar">
            </div>
            <div class="col-8  text-left">
                <p class="m-0 text-overflow"><strong>{{user?.fullName}}</strong></p>
                <p class="m-0 text-left text-overflow">
                    
                </p>
                <p class="text-overflow m-0"><span>{{user?.emailAddress}}</span></p>
            </div>
        </div>
    </div>
</div>
