<talent-section-breadcrumb [breadcrumbConfig]="breadcrumbConfig">
</talent-section-breadcrumb>

<section class="content configurations-content">
  <div class="panel panel--google-setting" *ngIf="googleClientAppSetting">
    <p-panel
      [toggleable]="true"
      [(collapsed)]="isPanelCollapse.google"
    >
      <ng-template pTemplate="header">
        <div class="d-flex align-items-center justify-content-between w-100">
          <span class="panel-title">
            {{ "Google Login Setting" | localize }}
          </span>

          <ng-container *ngTemplateOutlet="editAction; context: {
            type: SETTING_TYPE.GOOGLE_LOGIN,
            hasPermission: isGranted(PS.Pages_Configurations_EditGoogleClientAppSettings)
          }"></ng-container>
        </div>
      </ng-template>

      <div class="panel-body">
        <div class="group-item d-flex">
          <p-checkbox
            [(ngModel)]="googleClientAppSetting.enableNormalLogin"
            [binary]="true"
            [disabled]="!isEditing.google"
            inputId="enableNormalLogin"
          ></p-checkbox>
          <label for="enableNormalLogin" class="label-checkbox">
            {{ "Enable normal login" | localize }}
          </label>
        </div>

        <div class="group-item">
          <label for="ggloginUri" class="label-title">
            {{ "ClientAppId " | localize }}</label
          >
          <input
            type="text"
            id="ggloginUri"
            pInputText
            [readonly]="!isEditing.google"
            class="w-100 p-0"
            [(ngModel)]="googleClientAppSetting.googleClientAppId"
          />
        </div>
      </div>
    </p-panel>
  </div>

  <div class="panel panel--discord-chanels">
    <p-panel
      [toggleable]="true"
      [(collapsed)]="isPanelCollapse.discordChanel"
      *ngIf="isGranted(PS.Pages_Configurations_ViewChannelHRITSettings)"
    >
      <ng-template pTemplate="header">
        <div class="d-flex align-items-center justify-content-between w-100">
          <span class="panel-title">
            {{ "Discord channels" | localize }}
          </span>

          <ng-container *ngTemplateOutlet="editAction; context: {
            type: SETTING_TYPE.DISCORD_CHANEL,
            hasPermission: isGranted(PS.Pages_Configurations_EditChannelHRITSettings)
          }"></ng-container>
        </div>
      </ng-template>

      <div class="panel-body">
        <div class="group-item">
          <label for="hrit" class="label-title">
            {{ "HR - IT" | localize }}</label
          >
          <input
            type="text"
            id="hrit"
            pInputText
            class="w-100 p-0"
            [readonly]="!isEditing.discordChanel"
            [(ngModel)]="discordChanelSetting.channelHRITId"
          />
        </div>
        <div class="group-item">
          <label for="hrit" class="label-title">
            {{ "Resource Request Intern Channel" | localize }}</label
          >
          <input
            type="text"
            id="hrit"
            pInputText
            class="w-100 p-0"
            [readonly]="!isEditing.discordChanel"
            [(ngModel)]="
              discordChanelSetting.komuResourceRequestInternChannelId
            "
          />
        </div>
        <div class="group-item">
          <label for="hrit" class="label-title">
            {{ "Resource Request Staff Channel" | localize }}</label
          >
          <input
            type="text"
            id="hrit"
            pInputText
            class="w-100 p-0"
            [readonly]="!isEditing.discordChanel"
            [(ngModel)]="discordChanelSetting.komuResourceRequestStaffChannelId"
          />
        </div>
      </div>
    </p-panel>
  </div>

  <div class="panel panel--hrm-setting" *ngIf="hrmSetting">
    <p-panel
      [toggleable]="true"
      [(collapsed)]="isPanelCollapse.hrm"
    >
    <ng-template pTemplate="header">
      <div class="d-flex align-items-center">
        <span class="panel-title">
          {{ "HRM Settings" | localize }}
        </span>

        <ng-container *ngIf="!isPanelCollapse.hrm">
          <ng-container *ngTemplateOutlet="connectStatus; context: {
            message: hrmResult?.message,
            connected: hrmResult?.isConnected,
            section: SECTION_TYPE.HRM
          }"></ng-container>
        </ng-container>
      </div>
    </ng-template>
      <div class="panel-body">
        <div class="group-item">
          <label for="hrmUri" class="label-title">
            {{ "HRM Uri" | localize }}</label
          >
          <input
            type="text"
            id="hrmUri"
            pInputText
            class="w-100 p-0"
            [(ngModel)]="hrmSetting.url"
            [readonly]="!isEditing.hrm"
          />
        </div>

        <div class="group-item">
          <label for="hrmCode" class="label-title">{{
            "Secret Code" | localize
          }}</label>
          <input
            type="text"
            id="hrmCode"
            pInputText
            class="w-100 p-0"
            [(ngModel)]="hrmSetting.securityCode"
            [readonly]="!isEditing.hrm"
          />
        </div>
      </div>
    </p-panel>
  </div>

  <div class="panel panel--komu-setting" *ngIf="komuSetting">
    <p-panel [toggleable]="true" [(collapsed)]="isPanelCollapse.komu">
      <ng-template pTemplate="header">
        <div class="d-flex align-items-center">
          <span class="panel-title">
            {{ "Komu Setting" | localize }}
          </span>
        </div>
      </ng-template>

      <div class="panel-body">
        <div class="group-item d-flex">
          <p-checkbox
            [(ngModel)]="komuSetting.isSendNotify"
            [binary]="true"
            [disabled]="!isEditing.komu"
            inputId="notifyKomu"
          ></p-checkbox>
          <label for="notifyKomu" class="label-checkbox">
            {{ "Enable notice to Komu" | localize }}
          </label>
        </div>

        <div class="group-item">
          <label for="komuUri" class="label-title">{{
            "Komu Uri" | localize
          }}</label>
          <input
            type="text"
            id="komuUri"
            pInputText
            [readonly]="true"
            class="w-100 p-0"
            [(ngModel)]="komuSetting.komuSetting"
          />
        </div>

        <div class="group-item">
          <label for="komuCode" class="label-title">{{
            "Secret Code" | localize
          }}</label>
          <input
            type="text"
            id="komuCode"
            pInputText
            class="w-100 p-0"
            [readonly]="true"
            [(ngModel)]="komuSetting.secretCode"
          />
        </div>
        <div class="group-item">
          <label for="channelIdDevMode" class="label-title">{{
            "Channel Id Dev Mode" | localize
          }}</label>
          <input
            type="text"
            id="channelIdDevMode"
            pInputText
            [readonly]="true"
            class="w-100 p-0"
            [(ngModel)]="komuSetting.channelIdDevMode"
          />
        </div>
      </div>
    </p-panel>
  </div>

  <div class="panel panel--lms-setting" *ngIf="lmsSetting">
    <p-panel
      [toggleable]="true"
      [(collapsed)]="isPanelCollapse.lms"
    >
    <ng-template pTemplate="header">
      <div class="d-flex align-items-center">
        <span class="panel-title">
          {{ "LMS Settings" | localize }}
        </span>

        <ng-container *ngIf="!isPanelCollapse.lms">
          <ng-container *ngTemplateOutlet="connectStatus; context: {
            message: lmsResult?.message,
            connected: lmsResult?.isConnected,
            section: SECTION_TYPE.LMS
          }"></ng-container>
        </ng-container>
      </div>
    </ng-template>
      <div class="panel-body">
        <div class="group-item">
          <label for="lmsFEad" class="label-title">
            {{ "FE address" | localize }}</label
          >
          <input
            type="text"
            id="lmsFEad"
            pInputText
            class="w-100 p-0"
            [(ngModel)]="lmsSetting.feAddress"
            [readonly]="true"
          />
        </div>

        <div class="group-item">
          <label for="lmsUri" class="label-title">
            {{ "LMS Uri" | localize }}</label
          >
          <input
            type="text"
            id="lmsUri"
            pInputText
            [readonly]="true"
            class="w-100 p-0"
            [(ngModel)]="lmsSetting.url"
          />
        </div>

        <div class="group-item">
          <label for="lmsCode" class="label-title">
            {{ "Secret Code" | localize }}</label
          >
          <input
            type="text"
            id="lmsCode"
            pInputText
            class="w-100 p-0"
            [(ngModel)]="lmsSetting.securityCode"
            [readonly]="true"
          />
        </div>
      </div>
    </p-panel>
  </div>

  <div class="panel panel--talent-setting" *ngIf="talentSecretCode">
    <p-panel
      [toggleable]="true"
      [(collapsed)]="isPanelCollapse.talent"
    >
      <ng-template pTemplate="header">
        <div class="d-flex align-items-center justify-content-between w-100">
          <span class="panel-title">
            {{ "Talent Setting" | localize }}
          </span>

          <ng-container *ngTemplateOutlet="editAction; context: {
            type: SETTING_TYPE.TALENT,
            hasPermission: isGranted(PS.Pages_Configurations_EditTalentSecretCode)
          }"></ng-container>
        </div>
      </ng-template>

      <div class="panel-body">
        <div class="group-item">
          <label for="tlSecurityCode" class="label-title">
            {{ "Secret Code" | localize }}</label
          >
          <input
            type="text"
            id="tlSecurityCode"
            pInputText
            class="w-100 p-0"
            [(ngModel)]="talentSecretCode.secretCode"
            [readonly]="!isEditing.talent"
          />
        </div>
      </div>
    </p-panel>
  </div>

  <div class="panel panel--hrm-setting" *ngIf="talentContestUrl">
    <p-panel
      [toggleable]="true"
      [(collapsed)]="isPanelCollapse.contest"
    >
    <ng-template pTemplate="header">
      <div class="d-flex align-items-center">
        <span class="panel-title">
          {{ "Contest Setting" | localize }}
        </span>
      </div>
    </ng-template>
      <div class="panel-body">
        <div class="group-item">
          <label for="hrmUri" class="label-title">
            {{ "Contest" | localize }}</label
          >
          <input
            type="text"
            id="hrmUri"
            pInputText
            class="w-100 p-0"
            [(ngModel)]="talentContestUrl.contestUrl"
            [readonly]="!isEditing.contest"
          />
        </div>

      </div>
    </p-panel>
  </div>

  <div class="panel panel--hrm-setting" *ngIf="autoBotSettings">
    <p-panel [toggleable]="true" [(collapsed)]="isPanelCollapse.autoBot">
      <ng-template pTemplate="header">
        <div class="d-flex align-items-center">
          <span class="panel-title">
            {{ "AutoBot Setting" | localize }}
          </span>

          <ng-container *ngIf="!isPanelCollapse.autoBot">
            <ng-container *ngTemplateOutlet="connectStatus; context: {
              message: autoBotConnectionStatus?.message,
              connected: autoBotConnectionStatus?.isConnected,
              section: SECTION_TYPE.AUTOBOT
            }"></ng-container>
          </ng-container>
        </div>
      </ng-template>

      <div class="panel-body">
        <div class="group-item">
          <label for="autobotUrl" class="label-title">
            {{ "AutoBot Url" | localize }}</label
          >
          <input
            type="text"
            id="autobotUrl"
            pInputText
            class="w-100 p-0"
            [(ngModel)]="autoBotSettings.url"
            [readonly]="true"
          />
        </div>

        <div class="group-item">
          <label for="autobotCode" class="label-title">{{
            "AutoBot Code" | localize
          }}</label>
          <input
            type="text"
            id="autobotCode"
            pInputText
            class="w-100 p-0"
            [(ngModel)]="autoBotSettings.securityCode"
            [readonly]="true"
          />
        </div>
      </div>
    </p-panel>
  </div>
</section>

<section class="content configurations-content">
  <div class="panel panel--email-setting" *ngIf="emailSetting">
    <p-panel [toggleable]="true" [(collapsed)]="isPanelCollapse.email">
      <ng-template pTemplate="header">
        <div class="d-flex align-items-center justify-content-between w-100">
          <span class="panel-title">
            {{ "Email Setting" | localize }}
          </span>

          <ng-container *ngTemplateOutlet="editAction; context: {
            type: SETTING_TYPE.EMAIL,
            hasPermission: isGranted(PS.Pages_Configurations_EditEmailSettings)
          }"></ng-container>
        </div>
      </ng-template>

      <div class="panel-body">
        <div class="group-item d-flex">
          <p-checkbox
            [(ngModel)]="emailSetting.enableSsl"
            [binary]="true"
            [trueValue]="'true'"
            [falseValue]="'false'"
            [disabled]="!isEditing.email"
            inputId="ssl"
          ></p-checkbox>
          <label for="ssl" class="label-checkbox">
            {{ "Enable SSL" | localize }}
          </label>
        </div>

        <div class="group-item">
          <label for="e-host" class="label-title">
            {{ "Host" | localize }}
          </label>
          <input
            type="text"
            id="e-host"
            pInputText
            class="w-100 p-0"
            [(ngModel)]="emailSetting.host"
            [readonly]="!isEditing.email"
          />
        </div>

        <div class="group-item">
          <label for="e-port" class="label-title">
            {{ "Port" | localize }}</label
          >
          <input
            type="text"
            id="e-port"
            pInputText
            class="w-100 p-0"
            [(ngModel)]="emailSetting.port"
            [readonly]="!isEditing.email"
          />
        </div>

        <div class="group-item">
          <label for="e-displayName" class="label-title">
            {{ "Display name" | localize }}</label
          >
          <input
            type="text"
            id="e-displayName"
            pInputText
            class="w-100 p-0"
            [(ngModel)]="emailSetting.displayName"
            [readonly]="!isEditing.email"
          />
        </div>

        <div class="group-item">
          <label for="e-userName" class="label-title">
            {{ "Username" | localize }}</label
          >
          <input
            type="text"
            id="e-userName"
            pInputText
            class="w-100 p-0"
            [(ngModel)]="emailSetting.userName"
            [readonly]="!isEditing.email"
          />
        </div>

        <div class="group-item">
          <label for="e-password" class="label-title">
            {{ "Password" | localize }}</label
          >
          <div>
            <p-password
              inputId="e-password"
              [(ngModel)]="emailSetting.password"
              [toggleMask]="true"
              [disabled]="!isEditing.email"
              [feedback]="false"
              styleClass="w-100"
            ></p-password>
          </div>
        </div>

        <div class="group-item">
          <label for="e-df-add" class="label-title">
            {{ "Default from address" | localize }}</label
          >
          <input
            type="text"
            id="e-df-add"
            pInputText
            class="w-100 p-0"
            [(ngModel)]="emailSetting.defaultAddress"
            [readonly]="!isEditing.email"
          />
        </div>

        <div class="group-item">
          <label for="e-df-add" class="label-title">
            {{ "Use Default Credentials" | localize }}</label
          >
          <input
            type="text"
            id="e-df-add"
            pInputText
            class="w-100 p-0"
            [(ngModel)]="emailSetting.useDefaultCredentials"
            [readonly]="!isEditing.email"
          />
        </div>
      </div>
    </p-panel>
  </div>

  <div class="panel panel--notify-interviewer-setting" *ngIf="noticeTimerInterviewer">
    <p-panel [toggleable]="true" [(collapsed)]="isPanelCollapse.noticeTimerInterviewer">
      <ng-template pTemplate="header">
        <div class="d-flex align-items-center justify-content-between w-100">
          <span class="panel-title">
            {{ "Notify Discord Interview Settings" | localize }}
          </span>

          <ng-container *ngTemplateOutlet="editAction; context: {
            type: SETTING_TYPE.NOTIFY_TIMER_INTERVIEWER,
            hasPermission: isGranted(PS.Pages_Configurations_EditTalentNotifyInterviewSettings)
          }"></ng-container>
        </div>
      </ng-template>

      <div class="panel-body">
        <div class="group-item">
          <label for="tlScheduleMinutes" class="label-title">
            {{ "Start notify at" | localize }}
          </label>
          <div class="d-flex flex-row">
            <input
              type="number"
              min="0"
              max="23"
              id="tlScheduleMinutes"
              pInputText
              class="w-75 p-0"
              [(ngModel)]="noticeTimerInterviewer.noticeInterviewStartAtHour"
              [readonly]="!isEditing.noticeTimerInterviewer"
            />
            <span>o'clock</span>
          </div>
          <label for="tlScheduleMinutes" class="label-title">
            {{ "End notify at" | localize }}
          </label>
          <div class="d-flex flex-row">
            <input
              type="number"
              min="0"
              max="23"
              id="tlScheduleMinutes"
              pInputText
              class="w-75 p-0"
              [(ngModel)]="noticeTimerInterviewer.noticeInterviewEndAtHour"
              [readonly]="!isEditing.noticeTimerInterviewer"
            />
            <span>o'clock</span>
          </div>
          <label for="tlScheduleMinutes" class="label-title">
            {{ "Notice to interview before" | localize }}
          </label>
          <div class="d-flex flex-row">
            <input
              type="text"
              id="tlScheduleMinutes"
              pInputText
              class="w-75 p-0"
              [(ngModel)]="noticeTimerInterviewer.noticeInterviewMinutes"
              [readonly]="!isEditing.noticeTimerInterviewer"
            />
            <span>minutes</span>
          </div>
          <label for="tlReviewMinutes" class="label-title">
            {{ "Notice to input RESULT after interviewing" | localize }}
          </label>
          <div class="d-flex flex-row">
            <input
              type="text"
              id="tlReviewMinutes"
              pInputText
              class="w-75 p-0"
              [(ngModel)]="noticeTimerInterviewer.noticeInterviewResultMinutes"
              [readonly]="!isEditing.noticeTimerInterviewer"
            />
            <span>minutes</span>
          </div>
          <label for="tlIsToChannel" class="label-title">
            {{ "Notify To" | localize }}
          </label>
          <div class="d-flex flex-row">
            <div class="field-radiobutton">
              <p-radioButton
                name="toUser"
                value="false"
                [(ngModel)]="noticeTimerInterviewer.isToChannel"
                [disabled]="!isEditing.noticeTimerInterviewer">
              </p-radioButton>
              <label for="toUser">&nbsp;User</label>
            </div>
            <div class="field-radiobutton ml-3">
              <p-radioButton
                name="toChannel"
                value="true"
                [(ngModel)]="noticeTimerInterviewer.isToChannel"
                [disabled]="!isEditing.noticeTimerInterviewer">
              </p-radioButton>
              <label for="toChannel">&nbsp;Channel</label>
            </div>
          </div>
          <label for="tlChannelScheduleId" class="label-title">
            {{ "Interviewing channel ID " | localize }}
          </label>
          <input
            type="text"
            id="tlChannelScheduleId"
            pInputText
            class="w-75 p-0"
            [(ngModel)]="noticeTimerInterviewer.scheduleChannel"
            [readonly]="!isEditing.noticeTimerInterviewer"
          />
          <label for="tlChannelResultId" class="label-title">
            {{ "Interviewing RESULT channel ID " | localize }}
          </label>
          <input
            type="text"
            id="tlChannelResultId"
            pInputText
            class="w-75 p-0"
            [(ngModel)]="noticeTimerInterviewer.resultChannel"
            [readonly]="!isEditing.noticeTimerInterviewer"
          />
        </div>
      </div>
    </p-panel>
  </div>

  <div class="panel panel--notify-interviewer-setting" *ngIf="notifyCVAutomation">
    <p-panel [toggleable]="true" [(collapsed)]="isPanelCollapse.notifyCVAutomation">
      <ng-template pTemplate="header">
        <div class="d-flex align-items-center justify-content-between w-100">
          <span class="panel-title" tooltip="Notify Discord CV Automation Settings">
            {{ "Notify Discord CV Automation Settings" | localize }}
          </span>

          <ng-container *ngTemplateOutlet="editAction; context: {
            type: SETTING_TYPE.NOTIFY_CV_AUTOMATION,
            hasPermission: isGranted(PS.Pages_Configurations_EditTalentNotifyCVAutomationSettings)
          }"></ng-container>
        </div>
      </ng-template>

      <div>
        <label for="CVAutomationRepeatTime" class="label-title">
          {{ "Crawl CV repeat time " | localize }}
        </label>
        <div class="d-flex flex-row">
          <input
            type="number"
            min="0"
            id="CVAutomationRepeatTime"
            pInputText
            class="w-75 p-0"
            [(ngModel)]="notifyCVAutomation.repeatTimeInMinutes"
            [readonly]="true"
          />
          <span>minutes</span>
        </div>
      </div>

      <div>
        <label for="CrawlCVStartAtHour" class="label-title">
          {{ "Crawl CV start at" | localize }}
        </label>
        <div class="d-flex flex-row">
          <input
            type="number"
            min="0"
            id="CrawlCVStartAtHour"
            pInputText
            class="w-75 p-0"
            [(ngModel)]="notifyCVAutomation.crawlCVStartAtHour"
            [readonly]="!isEditing.notifyCVAutomation"
          />
          <span>o'clock</span>
        </div>
      </div>

      <div>
        <label for="CrawlCVEndAtHour" class="label-title">
          {{ "Crawl CV end at" | localize }}
        </label>
        <div class="d-flex flex-row">
          <input
            type="number"
            min="0"
            id="CrawlCVEndAtHour"
            pInputText
            class="w-75 p-0"
            [(ngModel)]="notifyCVAutomation.crawlCVEndAtHour"
            [readonly]="!isEditing.notifyCVAutomation"
          />
          <span>o'clock</span>
        </div>
      </div>

      <hr>

      <div class="panel-body flex-column">
        <div class="d-flex">
          <p-checkbox
            [(ngModel)]="notifyCVAutomation.enabled"
            [binary]="true"
            [disabled]="!isEditing.notifyCVAutomation"
            inputId="enableNotifyCVAutomation"
          ></p-checkbox>
          <label for="enableNotifyCVAutomation" class="label-checkbox">
            {{ "Enable" | localize }}
          </label>
        </div>

        <div>
          <label for="CVAutomationStartAtHour" class="label-title">
            {{ "Start notify at" | localize }}
          </label>
          <div class="d-flex flex-row">
            <input
              type="number"
              min="0"
              max="23"
              id="CVAutomationStartAtHour"
              pInputText
              class="w-75 p-0"
              [(ngModel)]="notifyCVAutomation.noticeStartAtHour"
              [readonly]="!isEditing.notifyCVAutomation"
            />
            <span>o'clock</span>
          </div>
        </div>

        <div>
          <label for="CVAutomationEndAtHour" class="label-title">
            {{ "End notify at" | localize }}
          </label>
          <div class="d-flex flex-row">
            <input
              type="number"
              min="0"
              max="23"
              id="CVAutomationEndAtHour"
              pInputText
              class="w-75 p-0"
              [(ngModel)]="notifyCVAutomation.noticeEndAtHour"
              [readonly]="!isEditing.notifyCVAutomation"
            />
            <span>o'clock</span>
          </div>
        </div>



        <div>
          <label for="tlIsToChannel" class="label-title">
            {{ "Notify To" | localize }}
          </label>

          <div class="d-flex flex-row">
            <div class="field-radiobutton">
              <p-radioButton
                name="notifyCVtoUser"
                value="User"
                [(ngModel)]="notifyCVAutomation.noticeMode"
                [disabled]="!isEditing.notifyCVAutomation">
              </p-radioButton>
              <label for="notifyCVtoUser">&nbsp;User</label>
            </div>
            <div class="field-radiobutton ml-3">
              <p-radioButton
                name="notifyCVtoChannel"
                value="Channel"
                [(ngModel)]="notifyCVAutomation.noticeMode"
                [disabled]="!isEditing.notifyCVAutomation">
              </p-radioButton>
              <label for="notifyCVtoChannel">&nbsp;Channel</label>
            </div>
          </div>
        </div>

        <div class="flex-column">
          <label for="tlGeneralChannelId" class="label-title">
            {{ "Channel Id" | localize }}
          </label>
          <input
            type="text"
            id="tlGeneralChannelId"
            pInputText
            class="w-75 p-0"
            [(ngModel)]="notifyCVAutomation.noticeChannelId"
            [readonly]="!isEditing.notifyCVAutomation"
          />
        </div>

        <div class="flex-column">
          <label for="tlGeneralChannelId" class="label-title">
            {{ "User to notify" | localize }}
          </label>
          <p-chips
            [(ngModel)]="notifyCVAutomation.userList"
            [disabled]="!isEditing.notifyCVAutomation"
            (ngModelChange)="onCVAutomationListUserChange($event)"
            separator=",">
          </p-chips>
        </div>

      </div>
    </p-panel>
  </div>
</section>

<ng-template #connectStatus let-message="message" let-connected="connected" let-section="section">
  <div class="d-flex flex-row align-items-center ml-3">
    <p-chip [styleClass]="getChipStyleClass(connected, message)">
      <i
        class="fas fa-sync-alt pointer"
        alt="Check connect"
        [ngClass]="{'fa-spin': !message}"
        (click)="testConnection(section)">
      </i>
      <div class="white-space-nowrap" [tooltip]="message">
        {{ getStatusText(connected, message) }}
      </div>
    </p-chip>
  </div>
</ng-template>

<ng-template #editAction let-type="type" let-hasPermission="hasPermission">
  <div class="d-flex" *ngIf="!isPanelCollapse[type]">
    <button
      *ngIf="!isEditing[type] && hasPermission"
      pButton
      pRipple
      type="button"
      icon="fas fa-edit"
      class="p-button-rounded p-button-plain p-button-text"
      (click)="toggleEditing(type)">
    </button>

    <ng-container *ngIf="isEditing[type]">
      <button
        pButton
        pRipple
        type="button"
        icon="fas fa-save"
        class="p-button-rounded p-button-plain p-button-text"
        (click)="handleSaveSetting(type)">
      </button>

      <button
        pButton
        pRipple
        type="button"
        icon="fas fa-times"
        class="p-button-rounded p-button-plain p-button-text"
        (click)="cancelEditing(type)">
      </button>
    </ng-container>
  </div>
</ng-template>
