<talent-section-breadcrumb [breadcrumbConfig]="breadcrumbConfig">
</talent-section-breadcrumb>

<section class="content setting-grid">
  <div class="panel panel--google-setting" *ngIf="googleClientAppSetting">
    <p-panel
      [toggleable]="true"
      [(collapsed)]="isPanelCollapse.googleClientAppSetting"
    >
      <ng-template pTemplate="header">
        <div class="d-flex align-items-center">
          <span class="panel-title">
            {{ "Google Login Setting" | localize }}
          </span>
          <div class="action" *ngIf="!isPanelCollapse.googleClientAppSetting">
            <p-button
              *ngIf="
                !isEditing.google &&
                isGranted(PS.Pages_Configurations_EditGoogleClientAppSettings)
              "
              icon="fas fa-edit"
              title="Edit"
              styleClass="p-button-sm ml-4"
              (onClick)="toggleEditing(SETTING_TYPE.GOOGLE_LOGIN)"
            ></p-button>

            <p-button
              *ngIf="isEditing.google"
              icon="pi pi-check"
              title="Save"
              styleClass="p-button-sm ml-3"
              (onClick)="saveGoogleLoginSetting()"
            ></p-button>

            <p-button
              *ngIf="isEditing.google"
              icon="pi pi-times"
              title="Cancel Edit"
              styleClass="p-button-sm p-button-secondary ml-3"
              (click)="cancelEditing(SETTING_TYPE.GOOGLE_LOGIN)"
            ></p-button>
          </div>
        </div>
      </ng-template>

      <div class="panel-body">
        <div class="group-item d-flex">
          <p-checkbox
            [(ngModel)]="googleClientAppSetting.enableNormalLogin"
            [binary]="true"
            [disabled]="!isEditing.google"
            inputId="enableNormalLogin"
          ></p-checkbox>
          <label for="enableNormalLogin" class="label-checkbox">
            {{ "Enable normal login" | localize }}
          </label>
        </div>

        <div class="group-item">
          <label for="ggloginUri" class="label-title">
            {{ "ClientAppId " | localize }}</label
          >
          <input
            type="text"
            id="ggloginUri"
            pInputText
            [readonly]="!isEditing.google"
            class="w-100 p-0"
            [(ngModel)]="googleClientAppSetting.googleClientAppId"
          />
        </div>
      </div>
    </p-panel>
  </div>

  <div class="panel panel--discord-chanels">
    <p-panel
      [toggleable]="true"
      [(collapsed)]="isPanelCollapse.discordChanel"
      *ngIf="isGranted(PS.Pages_Configurations_ViewChannelHRITSettings)"
    >
      <ng-template pTemplate="header">
        <div class="d-flex align-items-center">
          <span class="panel-title">
            {{ "Discord channels" | localize }}
          </span>
          <div class="action" *ngIf="!isPanelCollapse.discordChanel">
            <p-button
              *ngIf="
                !isEditing.discordChanel &&
                isGranted(PS.Pages_Configurations_EditChannelHRITSettings)
              "
              icon="fas fa-edit"
              title="Edit"
              styleClass="p-button-sm ml-4"
              (onClick)="toggleEditing(SETTING_TYPE.DISCORD_CHANEL)"
            ></p-button>

            <p-button
              *ngIf="isEditing.discordChanel"
              icon="pi pi-check"
              title="Save"
              styleClass="p-button-sm ml-3"
              (onClick)="saveDisChanelSetting()"
            ></p-button>

            <p-button
              *ngIf="isEditing.discordChanel"
              icon="pi pi-times"
              title="Cancel Edit"
              styleClass="p-button-sm p-button-secondary ml-3"
              (click)="cancelEditing(SETTING_TYPE.DISCORD_CHANEL)"
            ></p-button>
          </div>
        </div>
      </ng-template>

      <div class="panel-body">
        <div class="group-item">
          <label for="hrit" class="label-title">
            {{ "HR - IT" | localize }}</label
          >
          <input
            type="text"
            id="hrit"
            pInputText
            class="w-100 p-0"
            [readonly]="!isEditing.discordChanel"
            [(ngModel)]="discordChanelSetting.channelHRITId"
          />
        </div>
        <div class="group-item">
          <label for="hrit" class="label-title">
            {{ "Resource Request Intern Channel" | localize }}</label
          >
          <input
            type="text"
            id="hrit"
            pInputText
            class="w-100 p-0"
            [readonly]="!isEditing.discordChanel"
            [(ngModel)]="
              discordChanelSetting.komuResourceRequestInternChannelId
            "
          />
        </div>
        <div class="group-item">
          <label for="hrit" class="label-title">
            {{ "Resource Request Staff Channel" | localize }}</label
          >
          <input
            type="text"
            id="hrit"
            pInputText
            class="w-100 p-0"
            [readonly]="!isEditing.discordChanel"
            [(ngModel)]="discordChanelSetting.komuResourceRequestStaffChannelId"
          />
        </div>
      </div>
    </p-panel>
  </div>

  <div class="panel panel--hrm-setting" *ngIf="hrmSetting">
    <p-panel
      [toggleable]="true"
      [(collapsed)]="isPanelCollapse.hrmSetting"
    >
    <ng-template pTemplate="header">
      <div class="d-flex align-items-center">
        <span class="panel-title">
          {{ "HRM Settings" | localize }}
        </span>
        <div class="action d-flex justify-content-around"
             *ngIf="!isPanelCollapse.hrmSetting">
          <p-button class="mr-2"
                    icon="pi pi-sync"
                    pTooltip="Check connection."
                    styleClass="p-button-sm ml-4"
                    (onClick)="testHRMConnection()"></p-button>
          <div *ngIf="!hrmResult?.message"
               class="mt-1"><i class="pi pi-spin pi-spinner"></i>Is connecting ...
          </div>
          <div *ngIf="hrmResult?.isConnected"
               class="text-success mt-1"><i class="pi pi-check mr-2"></i> Connected</div>
          <div *ngIf="hrmResult?.isConnected == false"
               class="text-danger mt-1"
               [pTooltip]="hrmResult?.message"><i class="pi pi-times fa-x mr-2"></i>Fail connected</div>
        </div>
      </div>
    </ng-template>
      <div class="panel-body">
        <div class="group-item">
          <label for="hrmUri" class="label-title">
            {{ "HRM Uri" | localize }}</label
          >
          <input
            type="text"
            id="hrmUri"
            pInputText
            class="w-100 p-0"
            [(ngModel)]="hrmSetting.url"
            [readonly]="!isEditing.hrm"
          />
        </div>

        <div class="group-item">
          <label for="hrmCode" class="label-title">{{
            "Secret Code" | localize
          }}</label>
          <input
            type="text"
            id="hrmCode"
            pInputText
            class="w-100 p-0"
            [(ngModel)]="hrmSetting.securityCode"
            [readonly]="!isEditing.hrm"
          />
        </div>
      </div>
    </p-panel>
  </div>

  <div class="panel panel--komu-setting" *ngIf="komuSetting">
    <p-panel [toggleable]="true" [(collapsed)]="isPanelCollapse.komuSetting">
      <ng-template pTemplate="header">
        <div class="d-flex align-items-center">
          <span class="panel-title">
            {{ "Komu Setting" | localize }}
          </span>
        </div>
      </ng-template>

      <div class="panel-body">
        <div class="group-item d-flex">
          <p-checkbox
            [(ngModel)]="komuSetting.isSendNotify"
            [binary]="true"
            [disabled]="!isEditing.komu"
            inputId="notifyKomu"
          ></p-checkbox>
          <label for="notifyKomu" class="label-checkbox">
            {{ "Enable notice to Komu" | localize }}
          </label>
        </div>

        <div class="group-item">
          <label for="komuUri" class="label-title">{{
            "Komu Uri" | localize
          }}</label>
          <input
            type="text"
            id="komuUri"
            pInputText
            [readonly]="true"
            class="w-100 p-0"
            [(ngModel)]="komuSetting.komuSetting"
          />
        </div>

        <div class="group-item">
          <label for="komuCode" class="label-title">{{
            "Secret Code" | localize
          }}</label>
          <input
            type="text"
            id="komuCode"
            pInputText
            class="w-100 p-0"
            [readonly]="true"
            [(ngModel)]="komuSetting.secretCode"
          />
        </div>
        <div class="group-item">
          <label for="channelIdDevMode" class="label-title">{{
            "Channel Id Dev Mode" | localize
          }}</label>
          <input
            type="text"
            id="channelIdDevMode"
            pInputText
            [readonly]="true"
            class="w-100 p-0"
            [(ngModel)]="komuSetting.channelIdDevMode"
          />
        </div>
      </div>
    </p-panel>
  </div>

  <div class="panel panel--lms-setting" *ngIf="lmsSetting">
    <p-panel
      [toggleable]="true"
      [(collapsed)]="isPanelCollapse.lmsSetting"
    >
    <ng-template pTemplate="header">
      <div class="d-flex align-items-center">
        <span class="panel-title">
          {{ "LMS Settings" | localize }}
        </span>
        <div class="action d-flex flex-row"
             *ngIf="!isPanelCollapse.lmsSetting">
          <p-button icon="pi pi-sync "
                    pTooltip="Check connection."
                    class="mr-2"
                    styleClass="p-button-sm ml-4"
                    (onClick)="testLMSConnection()"></p-button>
          <div *ngIf="!lmsResult?.message"
               class="mt-1"><i class="pi pi-spin pi-spinner "></i>Is connecting ...
          </div>
          <div *ngIf="lmsResult?.isConnected"
               class="text-success mt-1"><i class="pi pi-check mr-2 "></i> Connected</div>
          <div class=" mt-1"
               *ngIf="lmsResult?.isConnected == false"
               class="text-danger mt-1"
               [pTooltip]="lmsResult?.message"><i class="pi pi-times fa-x mr-2"></i>Fail connected</div>

        </div>
      </div>
    </ng-template>
      <div class="panel-body">
        <div class="group-item">
          <label for="lmsFEad" class="label-title">
            {{ "FE address" | localize }}</label
          >
          <input
            type="text"
            id="lmsFEad"
            pInputText
            class="w-100 p-0"
            [(ngModel)]="lmsSetting.feAddress"
            [readonly]="true"
          />
        </div>

        <div class="group-item">
          <label for="lmsUri" class="label-title">
            {{ "LMS Uri" | localize }}</label
          >
          <input
            type="text"
            id="lmsUri"
            pInputText
            [readonly]="true"
            class="w-100 p-0"
            [(ngModel)]="lmsSetting.url"
          />
        </div>

        <div class="group-item">
          <label for="lmsCode" class="label-title">
            {{ "Secret Code" | localize }}</label
          >
          <input
            type="text"
            id="lmsCode"
            pInputText
            class="w-100 p-0"
            [(ngModel)]="lmsSetting.securityCode"
            [readonly]="true"
          />
        </div>
      </div>
    </p-panel>
  </div>

  <div class="panel panel--talent-setting" *ngIf="talentSecretCode">
    <p-panel
      [toggleable]="true"
      [(collapsed)]="isPanelCollapse.talentSecretCode"
    >
      <ng-template pTemplate="header">
        <div class="d-flex align-items-center">
          <span class="panel-title">
            {{ "Talent Setting" | localize }}
          </span>
          <div class="action" *ngIf="!isPanelCollapse.talentSecretCode">
            <p-button
              *ngIf="
                !isEditing.talent &&
                isGranted(PS.Pages_Configurations_EditTalentSecretCode)
              "
              icon="fas fa-edit"
              title="Edit"
              styleClass="p-button-sm ml-4"
              (onClick)="toggleEditing(SETTING_TYPE.TALENT)"
            ></p-button>

            <p-button
              *ngIf="isEditing.talent"
              icon="pi pi-check"
              title="Save"
              styleClass="p-button-sm ml-3"
              (onClick)="saveTalentSecretCode()"
            ></p-button>

            <p-button
              *ngIf="isEditing.talent"
              icon="pi pi-times"
              title="Cancel Edit"
              styleClass="p-button-sm p-button-secondary ml-3"
              (click)="cancelEditing(SETTING_TYPE.TALENT)"
            ></p-button>
          </div>
        </div>
      </ng-template>

      <div class="panel-body">
        <div class="group-item">
          <label for="tlSecurityCode" class="label-title">
            {{ "Secret Code" | localize }}</label
          >
          <input
            type="text"
            id="tlSecurityCode"
            pInputText
            class="w-100 p-0"
            [(ngModel)]="talentSecretCode.secretCode"
            [readonly]="!isEditing.talent"
          />
        </div>
      </div>
    </p-panel>
  </div>

  <div class="panel panel--hrm-setting" *ngIf="talentContestUrl">
    <p-panel
      [toggleable]="true"
      [(collapsed)]="isPanelCollapse.talentContestUrl"
    >
    <ng-template pTemplate="header">
      <div class="d-flex align-items-center">
        <span class="panel-title">
          {{ "Contest Setting" | localize }}
        </span>
        <div class="action d-flex justify-content-around"
             *ngIf="!isPanelCollapse.talentContestUrl">
          <p-button class="mr-2"
                    icon="pi pi-sync"
                    pTooltip="Check connection."
                    styleClass="p-button-sm ml-4"
                    (onClick)="testHRMConnection()"></p-button>
        </div>
      </div>
    </ng-template>
      <div class="panel-body">
        <div class="group-item">
          <label for="hrmUri" class="label-title">
            {{ "Contest" | localize }}</label
          >
          <input
            type="text"
            id="hrmUri"
            pInputText
            class="w-100 p-0"
            [(ngModel)]="talentContestUrl.contestUrl"
            [readonly]="!isEditing.contest"
          />
        </div>

      </div>
    </p-panel>
  </div>

  <div class="panel panel--hrm-setting" *ngIf="autoBotSettings">
    <p-panel [toggleable]="true" [(collapsed)]="isPanelCollapse.autoBotSetting">
      <ng-template pTemplate="header">
        <div class="d-flex align-items-center">
          <span class="panel-title">
            {{ "AutoBot Setting" | localize }}
          </span>
        </div>
      </ng-template>

      <div class="panel-body">
        <div class="group-item">
          <label for="autobotUrl" class="label-title">
            {{ "AutoBot Url" | localize }}</label
          >
          <input
            type="text"
            id="autobotUrl"
            pInputText
            class="w-100 p-0"
            [(ngModel)]="autoBotSettings.url"
            [readonly]="true"
          />
        </div>

        <div class="group-item">
          <label for="autobotCode" class="label-title">{{
            "AutoBot Code" | localize
          }}</label>
          <input
            type="text"
            id="autobotCode"
            pInputText
            class="w-100 p-0"
            [(ngModel)]="autoBotSettings.securityCode"
            [readonly]="true"
          />
        </div>
      </div>
    </p-panel>
  </div>
</section>

<section class="content setting-grid">
  <div class="panel panel--email-setting" *ngIf="emailSetting">
    <p-panel [toggleable]="true" [(collapsed)]="isPanelCollapse.emailSetting">
      <ng-template pTemplate="header">
        <div class="d-flex align-items-center">
          <span class="panel-title">
            {{ "Email Setting" | localize }}
          </span>
          <div class="action" *ngIf="!isPanelCollapse.emailSetting">
            <p-button
              *ngIf="
                !isEditing.email &&
                isGranted(PS.Pages_Configurations_EditEmailSettings)
              "
              icon="fas fa-edit"
              title="Edit"
              styleClass="p-button-sm ml-4"
              (onClick)="toggleEditing(SETTING_TYPE.EMAIL)"
            ></p-button>

            <p-button
              *ngIf="isEditing.email"
              icon="pi pi-check"
              title="Save"
              styleClass="p-button-sm ml-3"
              (onClick)="saveEmailSetting()"
            ></p-button>

            <p-button
              *ngIf="isEditing.email"
              icon="pi pi-times"
              title="Cancel Edit"
              styleClass="p-button-sm p-button-secondary ml-3"
              (click)="cancelEditing(SETTING_TYPE.EMAIL)"
            ></p-button>
          </div>
        </div>
      </ng-template>

      <div class="panel-body">
        <div class="group-item d-flex">
          <p-checkbox
            [(ngModel)]="emailSetting.enableSsl"
            [binary]="true"
            [trueValue]="'true'"
            [falseValue]="'false'"
            [disabled]="!isEditing.email"
            inputId="ssl"
          ></p-checkbox>
          <label for="ssl" class="label-checkbox">
            {{ "Enable SSL" | localize }}
          </label>
        </div>

        <div class="group-item">
          <label for="e-host" class="label-title">
            {{ "Host" | localize }}
          </label>
          <input
            type="text"
            id="e-host"
            pInputText
            class="w-100 p-0"
            [(ngModel)]="emailSetting.host"
            [readonly]="!isEditing.email"
          />
        </div>

        <div class="group-item">
          <label for="e-port" class="label-title">
            {{ "Port" | localize }}</label
          >
          <input
            type="text"
            id="e-port"
            pInputText
            class="w-100 p-0"
            [(ngModel)]="emailSetting.port"
            [readonly]="!isEditing.email"
          />
        </div>

        <div class="group-item">
          <label for="e-displayName" class="label-title">
            {{ "Display name" | localize }}</label
          >
          <input
            type="text"
            id="e-displayName"
            pInputText
            class="w-100 p-0"
            [(ngModel)]="emailSetting.displayName"
            [readonly]="!isEditing.email"
          />
        </div>

        <div class="group-item">
          <label for="e-userName" class="label-title">
            {{ "Username" | localize }}</label
          >
          <input
            type="text"
            id="e-userName"
            pInputText
            class="w-100 p-0"
            [(ngModel)]="emailSetting.userName"
            [readonly]="!isEditing.email"
          />
        </div>

        <div class="group-item">
          <label for="e-password" class="label-title">
            {{ "Password" | localize }}</label
          >
          <div>
            <p-password
              inputId="e-password"
              [(ngModel)]="emailSetting.password"
              [toggleMask]="true"
              [disabled]="!isEditing.email"
              [feedback]="false"
              styleClass="w-100"
            ></p-password>
          </div>
        </div>

        <div class="group-item">
          <label for="e-df-add" class="label-title">
            {{ "Default from address" | localize }}</label
          >
          <input
            type="text"
            id="e-df-add"
            pInputText
            class="w-100 p-0"
            [(ngModel)]="emailSetting.defaultAddress"
            [readonly]="!isEditing.email"
          />
        </div>

        <div class="group-item">
          <label for="e-df-add" class="label-title">
            {{ "Use Default Credentials" | localize }}</label
          >
          <input
            type="text"
            id="e-df-add"
            pInputText
            class="w-100 p-0"
            [(ngModel)]="emailSetting.useDefaultCredentials"
            [readonly]="!isEditing.email"
          />
        </div>
      </div>
    </p-panel>
  </div>

  <div class="panel panel--notify-interviewer-setting"
       *ngIf="noticeTimerInterviewer">
    <p-panel [toggleable]="true"
             [(collapsed)]="isPanelCollapse.noticeTimerInterviewer">
      <ng-template pTemplate="header">
        <div class="d-flex align-items-center">
          <span class="panel-title">
            {{ "Notify Discord Settings" | localize }}
          </span>
          <div class="action"
               *ngIf="!isPanelCollapse.noticeTimerInterviewer">
            <p-button *ngIf="
                          !isEditing.notifyinterviewer &&
                          isGranted(PS.Pages_Configurations_EditTalentNotifyInterviewSettings)
                        "
                      icon="fas fa-edit"
                      title="Edit"
                      styleClass="p-button-sm ml-4"
                      (onClick)="toggleEditing(SETTING_TYPE.NOTIFYINTERVIEWER)"></p-button>

            <p-button *ngIf="isEditing.notifyinterviewer"
                      icon="pi pi-check"
                      title="Save"
                      styleClass="p-button-sm ml-3"
                      (onClick)="saveNotifyInterviewerChannelId()"></p-button>

            <p-button *ngIf="isEditing.notifyinterviewer"
                      icon="pi pi-times"
                      title="Cancel Edit"
                      styleClass="p-button-sm p-button-secondary ml-3"
                      (click)="cancelEditing(SETTING_TYPE.NOTIFYINTERVIEWER)"></p-button>
          </div>
        </div>
      </ng-template>

      <div class="panel-body">
        <div class="group-item">
          <label for="tlScheduleMinutes"
                 class="label-title">
            {{ "Start notify at" | localize }}</label>
          <div class="d-flex flex-row">
            <input type="number"
                   min="0"
                   max="23"
                   id="tlScheduleMinutes"
                   pInputText
                   class="w-75 p-0"
                   [(ngModel)]="noticeTimerInterviewer.noticeInterviewStartAtHour"
                   [readonly]="!isEditing.notifyinterviewer" />
            <span>o'clock</span>
          </div>
          <label for="tlScheduleMinutes"
                 class="label-title">
            {{ "End notify at" | localize }}</label>
          <div class="d-flex flex-row">
            <input type="number"
                   min="0"
                   max="23"
                   id="tlScheduleMinutes"
                   pInputText
                   class="w-75 p-0"
                   [(ngModel)]="noticeTimerInterviewer.noticeInterviewEndAtHour"
                   [readonly]="!isEditing.notifyinterviewer" />
            <span>o'clock</span>
          </div>
          <label for="tlScheduleMinutes"
                 class="label-title">
            {{ "Notice to interview before" | localize }}</label>
          <div class="d-flex flex-row">
            <input type="text"
                   id="tlScheduleMinutes"
                   pInputText
                   class="w-75 p-0"
                   [(ngModel)]="noticeTimerInterviewer.noticeInterviewMinutes"
                   [readonly]="!isEditing.notifyinterviewer" />
            <span>minutes</span>
          </div>
          <label for="tlReviewMinutes"
                 class="label-title">
            {{ "Notice to input RESULT after interviewing" | localize }}</label>
          <div class="d-flex flex-row">
            <input type="text"
                   id="tlReviewMinutes"
                   pInputText
                   class="w-75 p-0"
                   [(ngModel)]="noticeTimerInterviewer.noticeInterviewResultMinutes"
                   [readonly]="!isEditing.notifyinterviewer" />
            <span>minutes</span>
          </div>
          <label for="tlIsToChannel"
                 class="label-title">
            {{ "Notify To" | localize }}</label>
          <div class="d-flex flex-row">
            <div class="field-radiobutton">
              <p-radioButton name="toUser"
                             value="false"
                             [(ngModel)]="noticeTimerInterviewer.isToChannel"
                             [disabled]="!isEditing.notifyinterviewer"></p-radioButton>
              <label for="toUser">&nbsp;User</label>
            </div>
            <div class="field-radiobutton ml-3">
              <p-radioButton name="toChannel"
                             value="true"
                             [(ngModel)]="noticeTimerInterviewer.isToChannel"
                             [disabled]="!isEditing.notifyinterviewer"></p-radioButton>
              <label for="toChannel">&nbsp;Channel</label>
            </div>
          </div>
          <label for="tlChannelScheduleId"
                 class="label-title">
            {{ "Interviewing channel ID " | localize }}</label>
          <input type="text"
                 id="tlChannelScheduleId"
                 pInputText
                 class="w-75 p-0"
                 [(ngModel)]="noticeTimerInterviewer.scheduleChannel"
                 [readonly]="!isEditing.notifyinterviewer" />
          <label for="tlChannelResultId"
                 class="label-title">
            {{ "Interviewing RESULT channel ID " | localize }}</label>
          <input type="text"
                 id="tlChannelResultId"
                 pInputText
                 class="w-75 p-0"
                 [(ngModel)]="noticeTimerInterviewer.resultChannel"
                 [readonly]="!isEditing.notifyinterviewer" />

          <label for="tlGeneralChannelId" class="label-title">
            {{ "Talent General Channel ID " | localize }}
          </label>
          <input
            type="text"
            id="tlGeneralChannelId"
            pInputText
            class="w-75 p-0"
            [(ngModel)]="noticeTimerInterviewer.talentGeneralChannel"
            [readonly]="!isEditing.notifyinterviewer"
          />
        </div>
      </div>
    </p-panel>
  </div>
</section>
