<div class="card">
  <div class="card-header">
    <h3>{{ "Create new version" | localize }}</h3>
  </div>

  <div class="card-body max-height">
    <form [formGroup]="form">
      <div class="row">
        <div class="col-md-12 mb-2">
          <label for="vs-name">
            {{ "Version Name" | localize }}
            <span class="text-danger">*</span>
          </label>
          <input
            pInputText
            type="text"
            id="vs-name"
            class="w-100"
            formControlName="nameVersion"
          />

          <div
            *ngIf="submitted && formControls.nameVersion.errors?.required"
            class="text-error text-danger"
          >
            Name is required
          </div>
        </div>

        <div class="col-md-12 mb-2">
          <label for="vs-position">
            {{ "Position" | localize }}
            <span class="text-danger">*</span>
          </label>
          <p-dropdown
            inputId="vs-position"
            [options]="_utilities.catEmployeePosition"
            formControlName="position"
            placeholder="All"
            optionLabel="name"
            optionValue="id"
            styleClass="w-100"
            [filter]="true"
            filterBy="name"
            [showClear]="true"
          ></p-dropdown>
          <div
            *ngIf="submitted && formControls.position.errors?.required"
            class="text-error text-danger"
          >
            Position is required
          </div>
        </div>

        <div class="col-md-12">
          <label for="vs-language">{{ "Language" | localize }}</label>
          <p-dropdown
            inputId="vs-language"
            [options]="_utilities.catLanguage"
            formControlName="language"
            placeholder="All"
            optionLabel="name"
            optionValue="id"
            styleClass="w-100"
            [filter]="true"
            filterBy="name"
            [showClear]="true"
          ></p-dropdown>
        </div>
      </div>
    </form>
  </div>
</div>

<talent-dialog-action-toolbar
  [dialogRef]="dialogRef"
  [disabledSaveBtn]="isLoading"
  (onSave)="submit()"
></talent-dialog-action-toolbar>
