.row-group {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;

  .item-group {
    flex-grow: 1;
  }
}

@media (max-width: 1500px) {
  .row-group {
    .item-group {
      flex-basis: calc(50% - 0.5rem);
    }
  }
}

@media (max-width: 1000px) {
  .row-group {
    gap: 1rem;
    .item-group {
      flex-basis: 100%;
    }
  }
}
