::ng-deep #intern-recruit-performance{
    .creation-group-select{
        flex-basis: 50%;
    }
    .creation-group-label{
        flex-basis: 50%;
    }
    .w-inherit{
        width: inherit !important;
    }
    .msl-branch .p-multiselect {
        width: inherit !important;
    }
    .item-group {
        padding: 0.25rem;
    }
}
