<div class="wrapper">
  <app-header></app-header>
  <sidebar></sidebar>
  <div
    class="content-wrapper vh-100 overflow-auto"
    [class.nav-loading]="isLoading$ | async"
  >
    <div class="main-content">
      <router-outlet></router-outlet>
    </div>
  </div>
  <!-- <app-footer></app-footer> -->
  <div id="sidebar-overlay" (click)="toggleSidebar()"></div>
</div>

<p-toast position="bottom-right" [style]="{ width: '30rem' }"></p-toast>
<p-confirmDialog
  [style]="{ width: '30vw' }"
  [breakpoints]="{ '960px': '75vw', '640px': '100vw' }"
  [baseZIndex]="10000"
  rejectButtonStyleClass="p-button-text"
></p-confirmDialog>

<div *ngIf="isLoading$ | async" class="talent-spinner">
  <div class="spinner-grow text-danger" role="status">
    <span class="sr-only">Loading...</span>
  </div>
</div>
