<div>
    <ngx-doc-viewer
    #docViewer
    class="preview-doc"
    [url]="documentUrl"
    viewer="google"
    (loaded)="onDocumentLoad()"
    style="width:100%;height:100vh;">
  </ngx-doc-viewer>
    <div class="text-center emptymessage" *ngIf="!documentUrl && !isLoading">
        <div class="textmessage"> 
            <div>
                No Data.
            </div>
        </div>
    </div>
    <div class="loading-spinner" *ngIf="isLoading">
        <div class="spinner"></div>
        <p>Loading...</p>
    </div>
</div>
