<talent-section-breadcrumb
  [breadcrumbConfig]="breadcrumbConfig"
  [showBreadCrumb]="!isSelectMode"
  [isShowBtn]="permission.isGranted(PS.Pages_Educations_Create)"
  (onBtnClick)="openDialog(null, DIALOG_ACTION.CREATE)"
>
</talent-section-breadcrumb>

<section class="section-table">
  <div class="header-toolbar">
    <div class="row gap-2">
      <div class="col-12 col-md-5">
        <div class="p-inputgroup">
          <button
            type="button"
            pButton
            pRipple
            icon="pi pi-search"
            (click)="getDataPage(GET_FIRST_PAGE)"
          ></button>
          <input
            type="text"
            pInputText
            [placeholder]="'Search by education name' | localize"
            [(ngModel)]="searchText"
            (keyup.enter)="getDataPage(GET_FIRST_PAGE)"
            talentAutoFocus
          />
        </div>
      </div>

      <div class="col-12 col-md-5 col-lg-3 d-flex align-items-center">
        <label for="seacchType" class="mb-0 mr-2">Type</label>
        <div class="w-100">
          <p-dropdown
          [options]="_utilities.catEducationType"
          [(ngModel)]="searchWithEducationType"
          placeholder="All (default)"
          optionLabel="name"
          optionValue="id"
          styleClass="w-100"
          [filter]="true"
          filterBy="name"
          [showClear]="true"
          (onChange)="getDataPage(GET_FIRST_PAGE)"
        ></p-dropdown>
        </div>
      </div>
    </div>
  </div>

  <p-table
    [value]="educations"
    [lazy]="true"
    (onLazyLoad)="lazyLoadingData($event)"
    [paginator]="true"
    [rows]="defaultRows"
    responsiveLayout="scroll"
    [rowsPerPageOptions]="rowsPerPageOptions"
    [loading]="isLoading"
    [(first)]="first"
    [totalRecords]="totalItems"
    [showCurrentPageReport]="educations.length"
    currentPageReportTemplate="Total: {totalRecords}"
    styleClass="p-datatable-striped p-datatable-sm p-datatable-gridlines tl-table"
  >
    <ng-template pTemplate="header">
      <tr>
        <th class="text-center w-70px" *ngIf="isSelectMode"></th>
        <th class="w-70px text-center">{{ "No" | localize }}</th>
        <th pSortableColumn="name">
          {{ "Name" | localize }}
          <p-sortIcon field="name"></p-sortIcon>
        </th>
        <th pSortableColumn="educationTypeName">
          {{ "Type" | localize }}
          <p-sortIcon field="educationTypeName"></p-sortIcon>
        </th>
        <th>{{ "Color" | localize }}</th>
        <th class="w-100px text-center">
          {{ "Action" | localize }}
        </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-item let-i="rowIndex">
      <tr>
        <td *ngIf="isSelectMode">
          <div
            class="tag"
            [class]="isSelectedAlready(item) ? 'tag--selected' : 'tag--select'"
            (click)="onEducationSelected(item)"
          >
            {{ isSelectedAlready(item) ? "Selected" : "Select" }}
          </div>
        </td>
        <td class="text-center">{{ i + 1 }}</td>
        <td>{{ item.name }}</td>
        <td>
          {{ item.educationTypeName }}
        </td>
        <td class="text-center">
          <p-colorPicker
            *ngIf="item.colorCode"
            [(ngModel)]="item.colorCode"
            [disabled]="true"
          ></p-colorPicker>
        </td>
        <td>
          <div  class="d-flex justify-content-center">
          <p-button
            *ngIf="permission.isGranted(PS.Pages_Educations_Edit)"
            title="{{ 'Edit' | localize }}"
            icon="pi pi-pencil"
            styleClass="p-button-sm p-button-secondary mr-1"
            (click)="openDialog(item, DIALOG_ACTION.UPDATE)"
          ></p-button>
          <p-button
            *ngIf="permission.isGranted(PS.Pages_Educations_Delete)"
            title="{{ 'Delete' | localize }}"
            icon="pi pi-trash"
            styleClass="p-button-sm p-button-danger"
            (click)="delete(item)"
          ></p-button>
          </div>
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
      <tr>
        <td colspan="100%" class="text-center">No Record.</td>
      </tr>
    </ng-template>
  </p-table>
</section>
