<talent-section-breadcrumb [breadcrumbConfig]="breadcrumbConfig">
</talent-section-breadcrumb>

<section class="section-table">
  <div class="header-toolbar pt-0">
    <div class="row-group">
      <div class="col item-group item-group--search">
        <button
          type="button"
          pButton
          pRipple
          icon="pi pi-search"
          (click)="getDataPage(1)"
        ></button>

        <input
          talentAutoFocus
          type="text"
          class="w-100"
          pInputText
          title="Search by name, phone, email"
          [placeholder]="'Search by name, phone, email' | localize"
          [(ngModel)]="searchText"
          (keyup.enter)="getDataPage(GET_FIRST_PAGE)"
        />
      </div>

      <div class="col item-group">
        <label for="userType">
          {{ "User Type" | localize }}
        </label>
        <div class="w-100">
          <p-dropdown
            inputId="userType"
            [options]="_utilities.catUserType"
            [(ngModel)]="searchDetail.userType"
            placeholder="All"
            optionLabel="name"
            optionValue="id"
            styleClass="w-100"
            [showClear]="true"
            (onChange)="getDataPage(GET_FIRST_PAGE)"
          ></p-dropdown>
        </div>
      </div>

      <div class="col item-group">
        <label for="onboardStatus">
          {{ "Status" | localize }}
        </label>
        <div class="w-100">
          <p-dropdown
            inputId="onboardStatus"
            [options]="_utilities.catCanOnboardStatus"
            [(ngModel)]="searchDetail.requestCVStatus"
            placeholder="All"
            optionLabel="name"
            optionValue="id"
            styleClass="w-100 "
            [showClear]="true"
            (onChange)="getDataPage(GET_FIRST_PAGE)"
          ></p-dropdown>
        </div>
      </div>

      <div class="col item-group">
        <label for="branch"> {{ "Candidate Branch" | localize }}</label>
        <div class="w-100">
          <p-dropdown
            inputId="branch"
            [options]="_utilities.catBranch"
            [(ngModel)]="searchDetail.branchId"
            placeholder="All"
            optionLabel="displayName"
            optionValue="id"
            styleClass="w-100"
            [filter]="true"
            filterBy="displayName"
            [showClear]="true"
            (onChange)="getDataPage(GET_FIRST_PAGE)"
          ></p-dropdown>
        </div>
      </div>

      <div class="col item-group">
        <label for="ipPosition">{{ "Candidate Position" | localize }}</label>
        <div class="w-100">
          <talent-position-dropdown
            [id]="'ipPosition'"
            [options]="_utilities.catPosition"
            (onChange)="onPositionSelect($event)"
          >
          </talent-position-dropdown>
        </div>
      </div>

      <div class="col item-group">
        <label for="status" class="mr-2">
          {{ "Requisition Status" | localize }}
        </label>
        <div class="w-100">
          <p-dropdown
            inputId="status"
            [options]="_utilities.catReqStatus"
            [(ngModel)]="searchDetail.requestStatus"
            placeholder="All"
            optionLabel="name"
            optionValue="id"
            styleClass="w-100"
            [showClear]="true"
            (onChange)="getDataPage(GET_FIRST_PAGE)"
          ></p-dropdown>
        </div>
      </div>

      <div
        class="col item-group"
        [class]="
          !searchWithOnboardDate || searchWithOnboardDate.dateType === 'All'
            ? 'creation-time-default'
            : 'creation-time-open'
        "
      >
        <talent-date-selector
          [label]="'Onboard Date'"
          (selectChange)="onTalentDateChange($event)"
          [timeOptions]="FILTER_TIME"
          class="talent-date"
        ></talent-date-selector>
      </div>
    </div>
  </div>

  <p-table
    #tableOnboard
    [value]="candOnboards"
    [lazy]="true"
    (onLazyLoad)="lazyLoadingData($event)"
    [paginator]="true"
    [rows]="defaultRows"
    [(first)]="first"
    responsiveLayout="scroll"
    [rowsPerPageOptions]="rowsPerPageOptions"
    [loading]="isLoading"
    [totalRecords]="totalItems"
    sortField="lastModifiedTime"
    [sortOrder]="SORT_TYPE.DESC"
    [resizableColumns]="true"
    columnResizeMode="expand"
    editMode="row"
    [editingRowKeys]="editingRowKey"
    dataKey="id"
    [showCurrentPageReport]="candOnboards.length"
    currentPageReportTemplate="Total: {totalRecords}"
    styleClass="p-datatable-striped p-datatable-sm p-datatable-gridlines tl-table tl-table-min-100"
  >
    <ng-template pTemplate="header">
      <tr>
        <th class="w-50px text-center">
          {{ "No" | localize }}
        </th>

        <th pSortableColumn="fullName" pResizableColumn>
          {{ "Candidate" | localize }}
          <p-sortIcon field="fullName"></p-sortIcon>
        </th>

        <th class="text-center" pResizableColumn>
          {{ "Requisition Info" | localize }}
        </th>

        <th class="text-center" pResizableColumn>
          {{ "Final Level" | localize }}
        </th>

        <th
          class="text-center onboard-status"
          pSortableColumn="requestCVStatus"
        >
          <div class="box-wrapper">
            {{ "Status" | localize }}
          </div>
        </th>

        <th class="onboard-date text-center" pSortableColumn="onboardDate">
          <div class="box-wrapper">
            {{ "Onboard" | localize }}
            <p-sortIcon field="onboardDate"></p-sortIcon>
          </div>
        </th>

        <th class="onboard-ncc-email" pResizableColumn>
          <div class="box-wrapper">{{ "NCC Mail" | localize }}</div>
        </th>

        <th class="onboard-note" pResizableColumn>
          {{ "Note" | localize }}
        </th>

        <th class="text-center w-50px">
          {{ "Action" | localize }}
        </th>
      </tr>
    </ng-template>

    <ng-template
      pTemplate="body"
      let-item
      let-i="rowIndex"
      let-editing="editing"
    >
      <tr [pEditableRow]="item">
        <td class="text-center">{{ i + 1 }}</td>

        <td>
          <talent-candidate-info-new
            [data]="getCandidateInfo(item)"
            [showCVStatus]="false"
            [showUserType]="true"
          ></talent-candidate-info-new>
        </td>

        <td>
          <talent-requisition-info
            [data]="getRequisitionInfo(item)"
            [showSkills]="false"
            [showUserType]="true"
          ></talent-requisition-info>
        </td>

        <td class="text-center">
          <div *ngIf="item.finalLevelName?.defaultName">
            <span class="tag level level--final">
              {{ item.finalLevelName.standardName }}
            </span>
          </div>
        </td>

        <td pEditableColumn class="text-center">
          <p-cellEditor>
            <ng-template pTemplate="input">
              <p-dropdown
                *ngIf="editing"
                [options]="_utilities.catCanOnboardStatus"
                [(ngModel)]="item.requestCVStatus"
                optionLabel="name"
                optionValue="id"
                [title]="item.requestCVStatusName"
                styleClass="w-100"
                [filter]="true"
                filterBy="name"
                appendTo="body"
              ></p-dropdown>

              <ng-container *ngIf="!editing && item?.requestCVStatusName">
                <ng-container
                  *ngTemplateOutlet="
                    cvStatusTmpl;
                    context: { status: item.requestCVStatusName }
                  "
                >
                </ng-container>
              </ng-container>
            </ng-template>

            <ng-template pTemplate="output">
              <div *ngIf="item.requestCVStatusName">
                <ng-container
                  *ngTemplateOutlet="
                    cvStatusTmpl;
                    context: { status: item.requestCVStatusName }
                  "
                >
                </ng-container>
              </div>
            </ng-template>
          </p-cellEditor>
        </td>

        <td class="text-center" pEditableColumn>
          <p-cellEditor>
            <ng-template pTemplate="input">
              <p-calendar
                *ngIf="editing"
                [showIcon]="true"
                inputId="dob"
                styleClass="w-150px"
                dateFormat="dd/mm/yy"
                [(ngModel)]="item.onboardDate"
                autoZIndex="true"
                baseZIndex="9999"
                appendTo="body"
              ></p-calendar>

              <ng-container *ngIf="!editing && item?.onboardDate">
                <ng-container
                  *ngTemplateOutlet="
                    onboardTmpl;
                    context: { onboardDate: item.onboardDate }
                  "
                ></ng-container>
              </ng-container>
            </ng-template>

            <ng-template pTemplate="output">
              <ng-container *ngIf="item?.onboardDate">
                <ng-container
                  *ngTemplateOutlet="
                    onboardTmpl;
                    context: { onboardDate: item.onboardDate }
                  "
                ></ng-container>
              </ng-container>
            </ng-template>
          </p-cellEditor>
        </td>

        <td>
          <p-cellEditor>
            <ng-template pTemplate="input">
              <input
                *ngIf="editing"
                pInputText
                type="text"
                [(ngModel)]="item.nccEmail"
                class="w-100"
              />
              <ng-container *ngIf="!editing">
                <div
                  class="onboard-ncc-email max-line-content-3"
                  [collapseLine]="3"
                  talentResizeContent
                >
                  {{ item?.nccEmail }}
                </div>
              </ng-container>
            </ng-template>
            <ng-template pTemplate="output">
              <div
                class="onboard-ncc-email max-line-content-3"
                [collapseLine]="3"
                talentResizeContent
              >
                {{ item?.nccEmail }}
              </div>
            </ng-template>
          </p-cellEditor>
        </td>

        <td [attr.title]="item?.hrNote">
          <p-cellEditor>
            <ng-template pTemplate="input">
              <textarea
                *ngIf="editing"
                pInputText
                type="text"
                [(ngModel)]="item.hrNote"
                class="w-100"
              >
              </textarea>
              <ng-container *ngIf="!editing">
                <ng-container
                  *ngTemplateOutlet="hrNoteTmpl; context: { note: item.hrNote }"
                ></ng-container>
              </ng-container>
            </ng-template>

            <ng-template pTemplate="output">
              <ng-container
                *ngTemplateOutlet="hrNoteTmpl; context: { note: item.hrNote }"
              ></ng-container>
            </ng-template>
          </p-cellEditor>
        </td>

        <td class="text-center">
          <p-button
            *ngIf="editing"
            pSaveEditableRow
            title="Save"
            icon="pi pi-check"
            styleClass="p-button-sm mr-1"
            (onClick)="onSave(item)"
          ></p-button>
          <p-button
          *ngIf="editing"
          pCancelEditableRow
          icon="pi pi-times"
          title="Cancel Edit"
          styleClass="p-button-sm p-button-secondary"
          (click)="onEditCancel(item)"
        ></p-button>

          <button *ngIf="!editing "
          type="button"
          pButton
          pRipple
          icon="pi pi-bars"
          (click)="menu.toggle($event)"
        ></button>
        <p-menu
          #menu
          [popup]="true"
          appendTo="body"
          [model]="getListItem(item)"
        >
      </p-menu>
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
      <tr>
        <td colspan="100%" class="text-center">No Record.</td>
      </tr>
    </ng-template>
  </p-table>
</section>

<ng-template #cvStatusTmpl let-status="status">
  <span
    class="tag"
    [style.backgroundColor]="_utilities.getBgTagRequestCvStatusColor(status)"
    >{{ status }}</span
  >
</ng-template>

<ng-template #hrNoteTmpl let-note="note">
  <div class="note max-line-content-2" [collapseLine]="2" talentResizeContent>
    {{ note }}
  </div>
</ng-template>

<ng-template #onboardTmpl let-onboard="onboardDate">
  <div>
    {{ onboard | talentDateTime: DATE_FORMAT.DD_MM_YYYY }}
  </div>
  <strong [style.color]="_utilities.getDiffDateTime(onboard)?.color">
    {{ _utilities.getDiffDateTime(onboard)?.label }}
  </strong>
</ng-template>
