<talent-section-breadcrumb
  [breadcrumbConfig]="breadcrumbConfig"
  [btnConfig]="btnBreadCrumbConfig"
  [isShowBtn]="true"
  (onBtnClick)="goBack()"
>
</talent-section-breadcrumb>

<section class="section-table mt-3">
  <p-table
    [value]="requisitions"
    responsiveLayout="scroll"
    [loading]="isLoading"
    dataKey="id"
    [resizableColumns]="true"
    columnResizeMode="expand"
    [showCurrentPageReport]="requisitions.length"
    [expandedRowKeys]="expandedRows"
    styleClass="p-datatable-striped p-datatable-sm p-datatable-gridlines tl-table tl-table-min-100"
  >
    <ng-template pTemplate="header">
      <tr>
        <th class="w-70px text-center">
          {{ "No" | localize }}
        </th>

        <th class="req-info" pResizableColumn>
          <div class="box-wrapper">
            {{ "Requisition Info" | localize }}
          </div>
        </th>

        <th>
          <div class="box-wrapper">
            {{ "Update Time" | localize }}
          </div>
        </th>

        <th>
          <div class="box-wrapper box-wrapper--creation-time">
            {{ "Time Need" | localize }}
          </div>
        </th>

        <th class="text-center">
          {{ "Status" | localize }}
        </th>

        <th class="text-center">
          <div>
            {{ "Quantity" | localize }}
          </div>
        </th>

        <th>
          <div>{{ "Candidate" | localize }}</div>
        </th>

        <th pResizableColumn>
          <div>{{ "Note" | localize }}</div>
        </th>

        <th class="text-center">
          {{ "Action" | localize }}
        </th>
      </tr>
    </ng-template>

    <ng-template
      pTemplate="body"
      let-item
      let-i="rowIndex"
      let-expanded="expanded"
    >
      <tr>
        <td>
          <div class="expand-group">
            <button
              type="button"
              pButton
              pRipple
              [pRowToggler]="item"
              (click)="getCandidateRowExpand()"
              class="p-button-text p-button-rounded p-button-plain"
              [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"
            ></button>
            {{ i + 1 }}
          </div>
        </td>

        <td>
          <talent-requisition-info
            [data]="item"
            [showPriority]="true"
            [showLevel]="!isRequestIntern"
          ></talent-requisition-info>
        </td>

        <td class="text-center">
          <div>
            {{ item.updatedTime | talentDateTime: DATE_FORMAT.DD_MM_YYYY_H_MM }}
          </div>
          <div>
            <span *ngIf="item.updatedName && !item.isProjectTool"
              >by {{ item.updatedName }}</span
            >
            <span *ngIf="item.isProjectTool"
              ><strong>by {{ "Project Tool" | localize }}</strong></span
            >
          </div>
        </td>

        <td class="text-center">
          <div *ngIf="item?.timeNeed">
            {{ item.timeNeed | talentDateTime: DATE_FORMAT.DD_MM_YYYY }}
          </div>

          <div
            *ngIf="item?.timeNeed"
            [style.color]="_utilities.getDiffDateTime(item.timeNeed)?.color"
          >
            <strong>
              {{ _utilities.getDiffDateTime(item.timeNeed)?.label }}
            </strong>
          </div>
        </td>

        <td class="text-center">
          <div *ngIf="item.statusName">
            <span
              class="tag"
              [style.backgroundColor]="
                _utilities.getBgTagReqStatusColor(item.statusName)
              "
              >{{ item.statusName }}
            </span>
          </div>

          <div *ngIf="item.timeClose">
            {{ item.timeClose | talentDateTime: DATE_FORMAT.DD_MM_YYYY }}
            {{ item.timeClose | talentDateTime: DATE_FORMAT.H_MM_SS }}
          </div>
        </td>

        <td class="text-center">
          <div>{{ item.quantity }}</div>
        </td>

        <td class="text-center">
          <div title="Quantity Onboard / Quantity Fail / Total Candidate Apply">
            <span class="quantity-onboard text-bold"
              >{{ item.quantityOnboard }} </span
            >/
            <span class="quantity-failed text-bold"
              >{{ item.quantityFail }} </span
            >/
            <span class="text-bold">{{ item.totalCandidateApply }} </span>
          </div>
        </td>

        <td [attr.title]="item?.note">
          <div
            class="note max-line-content-2"
            [collapseLine]="2"
            talentResizeContent
          >
            {{ item?.note }}
          </div>
        </td>

        <td class="text-center">
          <ng-container
            *ngIf="isInprogressStatus(item.statusName); else menuCloseTmp"
          >
            <button
              type="button"
              pButton
              pRipple
              icon="pi pi-bars"
              (click)="menu.toggle($event)"
            ></button>
            <p-menu
              #menu
              [popup]="true"
              (onShow)="currentRequisition = item"
              appendTo="body"
              [model]="getListItem(true, item.isProjectTool)"
            ></p-menu>
          </ng-container>
          <ng-template #menuCloseTmp>
            <button
              type="button"
              pButton
              pRipple
              icon="pi pi-bars"
              (click)="menu.toggle($event)"
            ></button>
            <p-menu
              #menu
              [popup]="true"
              (onShow)="currentRequisition = item"
              appendTo="body"
              [model]="getListItem(false, item.isProjectTool)"
            ></p-menu>
          </ng-template>
        </td>
      </tr>
    </ng-template>

    <ng-template pTemplate="rowexpansion" let-requisition>
      <tr>
        <td colspan="100%">
          <div class="p-3 sub-table">
            <p-table
              [value]="requisition.reqCvs"
              dataKey="id"
              responsiveLayout="scroll"
              [resizableColumns]="true"
              columnResizeMode="expand"
            >
              <ng-template pTemplate="header">
                <tr>
                  <th>ID</th>
                  <th pResizableColumn class="candidate-infor">
                    Candidate Details
                  </th>
                  <th pResizableColumn>Apply Time</th>
                  <th pResizableColumn>Interview</th>
                  <th pResizableColumn>Status</th>
                  <th *ngIf="!isRequestIntern" pResizableColumn>Level</th>
                  <th pResizableColumn>HR Note</th>
                  <th>Action</th>
                </tr>
              </ng-template>

              <ng-template pTemplate="body" let-candidate>
                <tr>
                  <td>{{ candidate.cvId }}</td>

                  <td class="candidate-infor">
                    <talent-candidate-info-new
                      [data]="getCandidateInfo(candidate)"
                    ></talent-candidate-info-new>
                  </td>

                  <td class="text-center">
                    <div>
                      {{
                        candidate.applyTime
                          | talentDateTime: DATE_FORMAT.DD_MM_YYYY_H_MM
                      }}
                    </div>
                    <div>by {{ candidate.creatorName }}</div>
                  </td>

                  <td class="text-center">
                    <div class="max-line-content-1" talentResizeContent>
                      <div *ngFor="let interview of candidate.interviews">
                        {{ interview.interviewerName }}
                      </div>
                    </div>

                    <div *ngIf="candidate?.interviewTime">
                      <span class="mr-2">
                        {{
                          candidate.interviewTime
                            | talentDateTime: DATE_FORMAT.DD_MM_YYYY_H_MM
                        }}
                      </span>

                      <strong
                        [style.color]="
                          _utilities.getDiffDateTime(candidate.interviewTime)
                            ?.color
                        "
                        >{{
                          _utilities.getDiffDateTime(candidate.interviewTime)
                            ?.label
                        }}</strong
                      >
                    </div>
                  </td>

                  <td class="text-center">
                    <span
                      class="tag"
                      [style.backgroundColor]="
                        _utilities.getBgTagRequestCvStatusColor(
                          candidate.requestCVStatusName
                        )
                      "
                    >
                      {{ candidate.requestCVStatusName }}
                    </span>
                  </td>

                  <td *ngIf="!isRequestIntern" class="text-center">
                    <span
                      *ngIf="candidate?.finalLevelInfo?.standardName"
                      class="tag level level--final"
                    >
                      {{ candidate.finalLevelInfo.standardName }}
                    </span>
                  </td>

                  <td [attr.title]="candidate?.hrNote">
                    <div
                      class="note max-line-content-2"
                      [collapseLine]="2"
                      talentResizeContent
                    >
                      {{ candidate.hrNote }}
                    </div>
                  </td>

                  <td class="text-center">
                    <p-button
                      *ngIf="
                        validPermissionUserType(
                          reqType,
                          PS.Pages_RequisitionIntern_DeleteRequestCV,
                          PS.Pages_RequisitionStaff_DeleteRequestCV
                        )
                      "
                      title="Delete"
                      icon="pi pi-trash"
                      styleClass="p-button-sm p-button-danger"
                      (click)="deleteRequestCv(candidate, requisition)"
                    ></p-button>
                  </td>
                </tr>
              </ng-template>
              <ng-template pTemplate="emptymessage">
                <tr>
                  <td colspan="100%">
                    There are no candidate for this requisition yet.
                  </td>
                </tr>
              </ng-template>
            </p-table>
          </div>
        </td>
      </tr>
    </ng-template>

    <ng-template pTemplate="emptymessage">
      <tr>
        <td colspan="100%" class="text-center">No Record.</td>
      </tr>
    </ng-template>
  </p-table>
</section>
