<div class="rating d-flex">
  <span *ngIf="value >=1" class="rating-icon pi pi-star" [class]="getStarColor(value)"></span>
  <span *ngIf="value >=2" class="rating-icon pi pi-star" [class]="getStarColor(value)"></span>
  <span *ngIf="value >=3" class="rating-icon pi pi-star" [class]="getStarColor(value)"></span>
  <span *ngIf="value >=4" class="rating-icon pi pi-star" [class]="getStarColor(value)"></span>
  <span *ngIf="value >=5" class="rating-icon pi pi-star" [class]="getStarColor(value)"></span>
</div>
