.search-area{
    border: 1px solid #ced4da;
    margin-top: 7.5px;
    height: 207px;
    overflow-y: scroll;
    padding: 7.5px;
    margin-left: 7.5px;
}
.text-search{
    color: blue;
}

textarea {
    height: 150px;
}
.btn-add{
    padding-left:7.5px;
    margin-top:15px
}