.wrapper {
    width: 100%;
    height: 500px;
    float: left;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.file {
    margin: 10px auto;
    width: 100%;
    height: 50px;
    text-align: center;

}

.croppedimage {
    margin: 10px auto;
    width: 100%;
    height: 100%;
    justify-content: center;
    text-align: center;
}

.container{
    display: flex;
    flex-direction: column;
}

.btn-inputfile{
    width: 100%;
}
