<div class="creation-date-container">
  <div class="d-flex flex-column w-100" [ngClass]="{'row-ui': rowUI}">
    <label for="creationDate">{{ label }}</label>
    <div class="w-100 d-flex creation-group-select-input">
      <div class="creation-group-label" *ngIf="dateType !== CreationTimeEnum.ALL">
        <i
          *ngIf="dateType !== CreationTimeEnum.CUSTOM"
          class="pi pi-angle-left"
          [ngClass]="{'icon-disabled': dateType === CreationTimeEnum.CUSTOM}"
          (click)="onPreOrNext('Previous')">
        </i>

        <div class="date-text">
          {{ dateText }}
        </div>

        <i
          *ngIf="dateType !== CreationTimeEnum.CUSTOM"
          class="pi pi-angle-right"
          [ngClass]="{'icon-disabled': dateType === CreationTimeEnum.CUSTOM}"
          (click)="onPreOrNext('Next')">
        </i>
      </div>
      <p-dropdown
        [ngClass]="{'show-date': dateType !== CreationTimeEnum.ALL}"
        inputId="creationDate"
        [options]="timeOptions"
        [formControl]="searchVal"
        styleClass="w-100"
        [showClear]="true"
        (onChange)="onSelectChange(true)"
        placeholder="All"
      ></p-dropdown>
    </div>
  </div>
</div>
