<section class="pb-5">
  <div class="mb-3">
    <div class="row">
      <div class="col">
        <div class="text-right">
          <p-button
            *ngIf="
              validPermissionUserType(
                userType,
                PS.Pages_CandidateIntern_ViewDetail_Education_Create,
                PS.Pages_CandidateStaff_ViewDetail_Education_Create
              )
            "
            label="{{ 'Add' | localize }}"
            icon="pi pi-plus"
            styleClass="p-button-sm"
            (onClick)="addEducation()"
          ></p-button>
        </div>
      </div>
    </div>
  </div>

  <p-table
    *ngIf="
      validPermissionUserType(
        userType,
        PS.Pages_CandidateIntern_ViewDetail_Education_ViewList,
        PS.Pages_CandidateStaff_ViewDetail_Education_ViewList
      )
    "
    [value]="candidateEdus"
    [loading]="isLoading"
    responsiveLayout="scroll"
    styleClass="p-datatable-striped p-datatable-sm p-datatable-gridlines"
  >
    <ng-template pTemplate="header">
      <tr>
        <th class="w-70px text-center">{{ "No" | localize }}</th>
        <th>{{ "Education" | localize }}</th>
        <th>{{ "Education Type" | localize }}</th>
        <th class="text-center">{{ "Updated By" | localize }}</th>
        <th class="text-center">{{ "Updated Time" | localize }}</th>
        <th class="text-center w-70px">
          {{ "Action" | localize }}
        </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-item let-i="rowIndex">
      <tr>
        <td class="text-center">{{ i + 1 }}</td>
        <td>{{ item.educationName }}</td>
        <td>{{ item.educationTypeName }}</td>
        <td class="text-center">{{ item.updatedName }}</td>
        <td class="text-center">
          {{ item.updatedTime | talentDateTime: DATE_FORMAT.DD_MM_YYYY_H_MM }}
        </td>
        <td class="text-center">
          <p-button
            *ngIf="
              validPermissionUserType(
                userType,
                PS.Pages_CandidateIntern_ViewDetail_Education_Delete,
                PS.Pages_CandidateStaff_ViewDetail_Education_Delete
              )
            "
            label="{{ 'Delete' | localize }}"
            icon="pi pi-trash"
            styleClass="p-button-sm p-button-danger"
            (onClick)="delete(item)"
          ></p-button>
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
      <tr>
        <td colspan="100%" class="text-center">No Record.</td>
      </tr>
    </ng-template>
  </p-table>
</section>
