<talent-section-breadcrumb [breadcrumbConfig]="breadcrumbConfig" [isShowBtn]="true"
  (onBtnClick)="openDialog(DIALOG_ACTION.CREATE)" *ngIf="permission.isGranted(PS.Pages_ScoreSettings_Create)">
</talent-section-breadcrumb>

<section class="section-table">
  <div class="header-toolbar">
    <div class="row gap-2">
      <div class="col-12 col-md-3 d-flex align-items-center">
        <label for="userType" class="mb-0 mr-2">User Type</label>
        <div class="col p-0">
          <p-dropdown id="userType" [options]="_utilities.catUserType" [(ngModel)]="searchWithUserType"
            placeholder="All (default)" optionLabel="name" optionValue="id" styleClass="w-100" [showClear]="true"
            (onChange)="onGetDataChange()"></p-dropdown>
        </div>
      </div>
      <div class="col-12 col-md-3 d-flex align-items-center">
        <label for="position" class="mb-0 mr-2">Position</label>
        <div class="col p-0">
          <talent-position-dropdown [id]="'position'" [options]="_utilities.catPosition"
            (onChange)="onPositionSelect($event)">
          </talent-position-dropdown>
        </div>
      </div>
    </div>
  </div>

  <p-table [lazy]="true" (onRowExpand)="isRowExpand = true" (onRowCollapse)="isRowExpand = false"
    (onLazyLoad)="lazyLoadingData($event)" [value]="scoreSetting" [paginator]="true" [rows]="defaultRows"
    [totalRecords]="totalItems" [(first)]="first" responsiveLayout="scroll" [rowsPerPageOptions]="rowsPerPageOptions"
    [resizableColumns]="true"
    columnResizeMode="expand"
    [showCurrentPageReport]="scoreSetting.length" currentPageReportTemplate="Total: {totalRecords}"
    styleClass="p-datatable-striped p-datatable-sm p-datatable-gridlines tl-table">
    <ng-template pTemplate="header">
      <tr>
        <th class="w-70px text-center">{{ "No" | localize }}</th>
        <th pSortableColumn="userTypeName" class="w-200px">
          {{ "Type" | localize }}
          <p-sortIcon field="userTypeName"></p-sortIcon>
        </th>
        <th pSortableColumn="subPositionName" class="w-250px">
          {{ "Job Position" | localize }}
          <p-sortIcon field="subPositionName"></p-sortIcon>
        </th>
        <th class="w-250px text-center">
          {{ "Score Range" | localize }}
        </th>
        <th class="w-250px text-center">{{ "Level" | localize }}</th>
        <th class="text-center" [colSpan]="2">
          {{ "Action" | localize }}
        </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-item let-i="rowIndex">
      <tr>
        <td class="text-center color-text" [attr.rowspan]="getRowspanCapSetting(item)">{{ i + 1 }}</td>
        <td class="text-center color-text" [attr.rowspan]="getRowspanCapSetting(item)">{{ item.userTypeName }}</td>
        <td class="text-center" [attr.rowspan]="getRowspanCapSetting(item)">{{ item.subPositionName }}</td>
        <td class="text-center">
          <div class="score">
            <span>{{item.scoreRanges[0].scoreFrom}}</span>
            <span *ngIf="item.scoreRanges.length"> -> </span>
            <strong>{{item.scoreRanges[0].scoreTo}}</strong>
          </div>
        </td>
        <td class="text-center">
          <div>{{item.scoreRanges[0].levelInfo.standardName}}</div>
        </td>
        <td class="text-center w-150px">
          <div *ngIf="item.scoreRanges.length">
            <button *ngIf="permission.isGranted(PS.Pages_ScoreSettings_Edit)" (click)="openDialog(DIALOG_ACTION.UPDATE ,item, item.scoreRanges[0])" pButton pRipple
              title="{{ 'Edit' | localize }}" icon="pi pi-pencil" class="p-button-sm p-button-secondary mr-1"></button>
            <button
            *ngIf="permission.isGranted(PS.Pages_ScoreSettings_Delete)" (click)="delete(item.scoreRanges[0])" pButton pRipple class="p-button-sm p-button-danger"
              title="{{ 'Delete' | localize }}" icon="pi pi-trash">
            </button>
          </div>
        </td>
      </tr>
      <ng-container *ngIf="item.scoreRanges.length > 1">
        <tr *ngFor="let scoreRange of item.scoreRanges | slice: 1">
          <td class="text-center">
            <div class="score">
              <span>{{ scoreRange.scoreFrom }}</span>
              <span> -> </span>
              <strong>{{scoreRange.scoreTo}}</strong>
            </div>
          </td>
          <td class="text-center">
            {{scoreRange.levelInfo.standardName}}
          </td>
          <td class="text-center">
            <div *ngIf="item.scoreRanges.length">
              <button *ngIf="permission.isGranted(PS.Pages_ScoreSettings_Edit)" pButton pRipple title="{{ 'Edit' | localize }}" icon="pi pi-pencil"
                class="p-button-sm p-button-secondary mr-1"
                (click)="openDialog(DIALOG_ACTION.UPDATE ,item,scoreRange)"></button>
              <button *ngIf="permission.isGranted(PS.Pages_ScoreSettings_Delete)" (click)="delete(scoreRange,item)" pButton pRipple class="p-button-sm p-button-danger"
                title="{{ 'Delete' | localize }}" icon="pi pi-trash">
              </button>
            </div>
          </td>
        </tr>
      </ng-container>
    </ng-template>
    <ng-template pTemplate="emptymessage">
      <tr>
        <td colspan="100%" class="text-center">No Record.</td>
      </tr>
    </ng-template>
  </p-table>
</section>