<section class="section-panel mb-5 pb-5">
  <form [formGroup]="form">
    <div id="current-requisition-panel" class="panel">
      <p-panel formGroupName="requisitonForm" [toggleable]="true">
        <ng-template pTemplate="header">
          <div class="d-flex align-items-center">
            <a class="panel-title tl-link" (click)="navigateToRequestDetail()" target="_blank">
              {{ headerCurrentReq }}</a>
            <div>
              <p-button *ngIf="
                  validPermissionUserType( 
                    userType,
                    PS.Pages_CandidateIntern_ViewDetail_RequestCV_Create,
                    PS.Pages_CandidateStaff_ViewDetail_RequestCV_Create
                  )
                " icon="pi pi-plus" styleClass="p-button-sm ml-4" (onClick)="addCurentReq()"></p-button>
            </div>
          </div>
        </ng-template>

        <ng-template pTemplate="icons">
          <p-button *ngIf="
              candidateRequisiton?.currentRequisition &&
              validPermissionUserType(
                userType,
                PS.Pages_CandidateIntern_ViewDetail_RequestCV_Delete,
                PS.Pages_CandidateStaff_ViewDetail_RequestCV_Delete
              )
            " icon="pi pi-trash" styleClass="p-button-sm p-button-danger mr-4" (onClick)="deleteCurentReq()">
          </p-button>
        </ng-template>

        <div class="panel-body current-requisition">
          <ng-container *ngIf="
              requisitionDetail &&
                validPermissionUserType(
                  userType,
                  PS.Pages_CandidateIntern_ViewDetail_RequestCV_View,
                  PS.Pages_CandidateStaff_ViewDetail_RequestCV_View
                );
              else emptyData
            ">
            <div class="grid-item">
              <span for="status" class="lb-item">
                {{ "Status:" | localize }}
              </span>
              <div class="input-item">
                <span class="tag" [style.backgroundColor]="
                    _utilities.getBgTagReqStatusColor(
                      requisitionDetail?.requestStatusName
                    )
                  ">
                  {{ requisitionDetail?.requestStatusName }}
                </span>
              </div>
            </div>

            <div class="grid-item">
              <span for="userType" class="lb-item">
                {{ "User Type:" | localize }}
              </span>
              <div class="input-item">
                <span [style.color]="
                    _utilities.getUserTypeColor(requisitionDetail.userTypeName)
                  ">
                  {{ requisitionDetail.userTypeName }}
                </span>
              </div>
            </div>

            <div class="grid-item">
              <span for="quantity" class="lb-item">
                {{ "Quantity:" | localize }}
              </span>
              <div class="input-item">
                {{ requisitionDetail.quantity }}
              </div>
            </div>

            <div class="grid-item">
              <span for="creationTime" class="lb-item">
                {{ "Creation Time:" | localize }}
              </span>
              <div class="input-item">
                <span>
                  {{
                  requisitionDetail.creationTime
                  | talentDateTime: DATE_FORMAT.DD_MM_YYYY
                  }}
                </span>
              </div>
            </div>

            <!-- row 2-->
            <div class="grid-item">
              <span for="priority" class="lb-item">
                {{ "Priority:" | localize }}
              </span>
              <div class="input-item">
                <span class="tag" [style.backgroundColor]="
                    _utilities.getBgTagPriorityColor(
                      requisitionDetail.priorityName
                    )
                  ">
                  {{ requisitionDetail.priorityName }}
                </span>
              </div>
            </div>

            <div class="grid-item">
              <span for="position" class="lb-item">
                {{ "Position:" | localize }}
              </span>
              <div class="input-item">
                <span class="position--color">
                  {{ requisitionDetail.subPositionName }}
                </span>
              </div>
            </div>

            <div class="grid-item">
              <span for="timeNeed" class="lb-item">
                {{ "Time Need:" | localize }}
              </span>
              <div class="input-item">
                <span>{{
                  requisitionDetail.timeNeed
                  | talentDateTime: DATE_FORMAT.DD_MM_YYYY
                  }}</span>
              </div>
            </div>

            <div class="grid-item">
              <span for="createBy" class="lb-item">
                {{ "Created By:" | localize }}
              </span>
              <div class="input-item">
                <span>{{
                  requisitionDetail?.isProjectTool
                  ? "Project Tool"
                  : requisitionDetail.updatedName
                  }}</span>
              </div>
            </div>
            <!-- End row 2-->

            <!-- row 3-->
            <div class="grid-item align-items-start">
              <span for="branch" class="lb-item">
                {{ "Branch:" | localize }}
              </span>
              <div class="input-item">
                <span [style.color]="
                    _utilities.getBgTagBranchColor(requisitionDetail.branchName)
                  ">
                  {{ requisitionDetail.branchName }}
                </span>
              </div>
            </div>

            <div class="grid-item align-items-start" *ngIf="userType === USER_TYPE.STAFF">
              <ng-container>
                <span class="lb-item">{{ "Level:" | localize }}</span>
                <div class="input-item">
                  <span class="level--color">
                    {{ requisitionDetail?.levelInfo?.defaultName }}
                  </span>
                </div>
              </ng-container>
            </div>

            <div class="grid-item align-items-start">
              <span for="skill" class="lb-item">
                {{ "Skill:" | localize }}
              </span>
              <div class="input-item max-line-content-1" talentResizeContent>
                <span *ngFor="let skill of requisitionDetail.skills; last as isLast" class="block-hash-tag">
                  {{ skill.name }}
                </span>
              </div>
            </div>

            <div class="grid-item align-items-start">
              <span for="note" class="lb-item">
                {{ "Note:" | localize }}
              </span>
              <div class="note input-item max-line-content-1" talentResizeContent>
                <span>{{ requisitionDetail.note }}</span>
              </div>
            </div>
            <!-- End row 3-->
          </ng-container>
        </div>
      </p-panel>
    </div>

    <div id="interview-panel" class="panel">
      <p-panel *ngIf="
          candidateRequisiton?.currentRequisition &&
          validPermissionUserType(
            userType,
            PS.Pages_CandidateIntern_ViewDetail_RequestCV_ViewEditInterview,
            PS.Pages_CandidateStaff_ViewDetail_RequestCV_ViewEditInterview
          )
        " formGroupName="interviewForm" [toggleable]="true">
        <ng-template pTemplate="header">
          <div class="d-flex align-items-center">
            <label class="panel-title">Interview at</label>
            <div class="ml-4">
              <p-calendar [showSeconds]="true" [showTime]="true" [showIcon]="true" inputId="interviewTime"
                placeholder="dd/mm/yyyy hh:mm:ss" dateFormat="dd/mm/yy" styleClass="w-100"
                formControlName="interviewTime">
              </p-calendar>
            </div>
            <div class="ml-4 d-flex align-items-center">
              <span>by</span>
              <p-button *ngIf="!isAddingInterviewer" icon="pi pi-plus" styleClass="p-button-sm ml-4"
                (onClick)="onToggleAddInterviewer()"></p-button>
            </div>
          </div>
        </ng-template>

        <div class="panel-body interview">
          <ng-container *ngIf="candidateRequisiton?.interviewCandidate; else emptyData">
            <section *ngIf="isAddingInterviewer">
              <div class="section-add mb-3">
                <p-dropdown inputId="interviewName" [options]="catInterviewer" formControlName="interviewName"
                  placeholder="Select an interviewer" optionLabel="name" optionValue="id" styleClass="w-100"
                  [filter]="true" filterBy="name" [baseZIndex]="9999" [showClear]="true" appendTo="body"
                  (onChange)="onInterviewerChange($event.value)"></p-dropdown>

                <div class="d-flex">
                  <p-button icon="pi pi-check" styleClass="p-button-sm mr-1" (onClick)="addInterviewer()"></p-button>

                  <p-button icon="pi pi-times" styleClass="p-button-sm p-button-secondary"
                    (onClick)="onToggleAddInterviewer()"></p-button>
                </div>
              </div>
            </section>

            <section class="overflow-auto">
              <table>
                <tr *ngFor="let item of candidateRequisiton.interviewCandidate">
                  <td>{{ item.interviewName }} ({{ item.emailAddress }})</td>
                  <td>
                    <p-button icon="pi pi-trash" styleClass="p-button-rounded p-button-danger p-button-text ml-5"
                      (onClick)="deleteInterview(item)"></p-button>
                  </td>
                </tr>
              </table>
            </section>
          </ng-container>
        </div>
      </p-panel>
    </div>

    <div id="capability-panel" class="panel">
      <p-panel *ngIf="
          candidateRequisiton?.currentRequisition &&
          validPermissionUserType(
            userType,
            PS.Pages_CandidateIntern_ViewDetail_RequestCV_ViewCapability,
            PS.Pages_CandidateStaff_ViewDetail_RequestCV_ViewCapability
          )
        " [toggleable]="true">
        <ng-template pTemplate="header">
          <div class="panel-title d-flex mr-3 align-items-center">
            Capability (for interviewer) Total Score
            :
            <label class="tl-link" (click)="showDialogScoreRanges('top')">{{totalScore()}}/5</label>
          </div>
        </ng-template>
        <ng-template pTemplate="icons">
          <div class="d-flex">
            <div class="grid-item mr-3" *ngIf="candidateRequisiton?.interviewLevel else emptyData"
              formGroupName="interviewLevelForm">
              <div class="group-interview-item d-flex flex-row align-items-center">
                <span for="interviewLevel" class="interview-level lb-item mr-3">
                  {{ "Interviewer suggest level: " | localize }}
                </span>
                <div class="input-item itv-level mr-3" *ngIf="userType !== USER_TYPE.INTERN">
                  <p-dropdown inputId="itvLevel" [options]="catStaffLevels" formControlName="interviewLevel"
                    placeholder="Select level" optionLabel="standardName" optionValue="id"
                    styleClass="w-100"></p-dropdown>
                </div>
                <div class="input-item itv-level mr-3" *ngIf="userType !== USER_TYPE.STAFF">
                  <p-dropdown inputId="itvLevel" [options]="catInternLevels" formControlName="interviewLevel"
                    placeholder="Select level" optionLabel="standardName" optionValue="id"
                    styleClass="w-100"></p-dropdown>
                </div>
                <div class="text-left d-flex">
                  <p-button *ngIf="
                  candidateRequisiton?.currentRequisition &&
                  validPermissionUserType(
                    userType,
                    PS.Pages_CandidateIntern_ViewDetail_RequestCV_EditInterviewLevel,
                    PS.Pages_CandidateStaff_ViewDetail_RequestCV_EditInterviewLevel
                  )
                " label="{{
                      isApplyInterviewLevel
                        ? ('Cancel' | localize)
                        : ('Edit' | localize)
                    }}" [icon]="
                      isApplyInterviewLevel ? 'pi pi-times' : 'pi pi-pencil'
                    " [styleClass]="
                      isApplyInterviewLevel
                        ? 'p-button-sm p-button-secondary mr-3'
                        : 'p-button-sm'
                    " (click)="toggleEditingInterviewLevel()"></p-button>

                  <p-button *ngIf="isApplyInterviewLevel" label="{{ 'Save' | localize }}" icon="pi pi-check"
                    styleClass="p-button-sm" (onClick)="saveInterviewLevel()"></p-button>
                </div>
              </div>
            </div>
            <div class="custom-control custom-checkbox d-flex align-items-center">
              <input type="checkbox" class="custom-control-input" disabled [checked]="isInterviewed" />
              <label class="custom-control-label">Interviewed</label>
            </div>
          </div>
        </ng-template>

        <div class="panel-body">
          <div class="d-flex justify-content-end mb-3">
            <p-button *ngIf="isEditingAll" label="{{ 'Save All Results' | localize }}" icon="pi pi-check"
              styleClass="p-button-sm mr-1" (onClick)="onSaveAllCapability()"></p-button>
            <p-button *ngIf="isEditingFactors" label="{{ 'Save All Factors' | localize }}" icon="pi pi-check"
              styleClass="p-button-sm mr-1" (onClick)="onSaveFactors()"></p-button>
            <p-button *ngIf="
              !isEditingAll && !isEditingFactors &&
              candidateRequisiton?.capabilityCandidate.length &&
              validPermissionUserType(
                userType,
                PS.Pages_CandidateIntern_ViewDetail_RequestCV_EditCapability,
                PS.Pages_CandidateStaff_ViewDetail_RequestCV_EditCapability
              )
            " label="{{ 'Edit Results' | localize }}" icon="pi pi-pencil"
              styleClass="p-button-sm p-button-secondary mr-4" (onClick)="onEditAllCapability()"></p-button>
            <p-button *ngIf="
            !isEditingFactors && isGrantedEditFactor() && !isEditingAll 
          " label="{{ 'Edit Factors' | localize }}" icon="pi pi-pencil" styleClass="p-button-sm p-button-primary mr-4"
              (onClick)="onEditFactors()"></p-button>
            <p-button *ngIf="isEditingAll" label="{{ 'Cancel Editing' | localize }}" icon="pi pi-times"
              styleClass="p-button-sm p-button-secondary mr-4" (click)="onCancelAllCapability()"></p-button>
            <p-button *ngIf="isEditingFactors" label="{{ 'Cancel Editing' | localize }}" icon="pi pi-times"
              styleClass="p-button-sm p-button-secondary mr-4" (click)="onCancelFactors()"></p-button>
          </div>
          <ng-container *ngIf="candidateRequisiton?.capabilityCandidate; else emptyData">
            <p-table [value]="candidateRequisiton.capabilityCandidate" responsiveLayout="scroll"
              [loading]="isLoadingCapabilityTable" editMode="row" [editingRowKeys]="editingRowKey" dataKey="id"
              styleClass="p-datatable-striped p-datatable-sm p-datatable-gridlines capability-table">
              <ng-template pTemplate="header" class="text-center">
                <tr>
                  <th class="cap-name">
                    {{ "Name" | localize }}
                  </th>
                  <th class="action w-100px">
                    {{ "From" | localize }}
                  </th>
                  <th class="cap-score">
                    {{ "Score" | localize }}
                  </th>
                  <th class="action w-100px text-center">
                    {{ "Factor" | localize }}
                  </th>
                  <th class="cap-note">
                    {{ "Note" | localize }}
                  </th>
                  <th class="action w-100px text-center">
                    {{ "Action" | localize }}
                  </th>
                </tr>
              </ng-template>

              <ng-template pTemplate="body" let-item let-editing="editing" let-i="rowIndex">
                <tr [pEditableRow]="item">
                  <td>
                    <label class="tl-link" (click)="showDialog(item.capabilityId)">{{ item.capabilityName }}</label>
                    <!-- <button class="btn " (click)="showDialog(item.capabilityId)">Click</button> -->
                  </td>
                  <td>
                    <span class="hr-color tag ng-star-inserted" *ngIf="item.fromType;else other_fromType">HR</span>
                  </td>
                  <td pEditableColumn>
                    <p-cellEditor>
                      <ng-template pTemplate="input">
                        <p-rating *ngIf="editing" [(ngModel)]="item.score" [ngModelOptions]="{ standalone: true }"
                          [cancel]="false"></p-rating>

                        <ng-container *ngIf="!editing">
                          <talent-display-rating [value]="item.score"></talent-display-rating>
                        </ng-container>
                      </ng-template>
                      <ng-template pTemplate="output">
                        <talent-display-rating [value]="item.score"></talent-display-rating>
                      </ng-template>
                    </p-cellEditor>
                  </td>

                  <td>
                    <input [(ngModel)]="item.factor" (ngModelChange)="onChangeFactor(item)" *ngIf="isEditingFactors"
                      class="w-100" pInputText type="number" [min]="0" [max]="100"
                      [ngModelOptions]="{ standalone: true }" [cancel]="false">
                    <ng-container *ngIf="!isEditingFactors">
                      x {{item.factor}}
                    </ng-container>
                  </td>

                  <td style="white-space: pre-line;">
                    <p-cellEditor>
                      <ng-template pTemplate="input">
                        <textarea *ngIf="editing" pInputTextarea talentAutoFocus type="text" [(ngModel)]="item.note"
                          [ngModelOptions]="{ standalone: true }" class="w-100"> </textarea>
                        <ng-container *ngIf="!editing">
                          {{ item.note }}
                        </ng-container>
                      </ng-template>
                      <ng-template pTemplate="output">
                        {{ item.note }}
                      </ng-template>
                    </p-cellEditor>
                  </td>

                  <td class="text-center">
                    <p-button *ngIf="editing" pSaveEditableRow icon="pi pi-check" styleClass="p-button-sm mr-1"
                      (onClick)="saveCapability(item)"></p-button>

                    <p-button *ngIf="
                        !editing && !isEditingFactors && 
                        validPermissionUserType(
                          userType,
                          PS.Pages_CandidateIntern_ViewDetail_RequestCV_EditCapability,
                          PS.Pages_CandidateStaff_ViewDetail_RequestCV_EditCapability
                        )
                      " pInitEditableRow icon="pi pi-pencil" styleClass="p-button-sm p-button-secondary mr-1"
                      (onClick)="editCapability(item)"></p-button>

                    <p-button *ngIf="editing" pCancelEditableRow icon="pi pi-times"
                      styleClass="p-button-sm p-button-secondary" (click)="onResetCapability(item)"></p-button>
                  </td>
                </tr>
              </ng-template>
              <ng-template pTemplate="emptymessage">
                <tr>
                  <td colspan="100%" class="text-center">No Record.</td>
                </tr>
              </ng-template>
            </p-table>
          </ng-container>
        </div>
      </p-panel>
    </div>

    <div id="application-result-panel" class="panel">
      <p-panel *ngIf="
          candidateRequisiton?.currentRequisition && (
            validPermissionUserType(
              userType,
              PS.Pages_CandidateIntern_ViewDetail_RequestCV_ViewApplicationResult,
              PS.Pages_CandidateStaff_ViewDetail_RequestCV_ViewApplicationResult
            )
            ||
            validPermissionUserType(
              userType,
              PS.Pages_CandidateIntern_ViewDetail_RequestCV_EditApplicationResult,
              PS.Pages_CandidateStaff_ViewDetail_RequestCV_EditApplicationResult
            )
          )
        " header="Application Result (For HR only)" formGroupName="applyResultForm" [toggleable]="true">
        <ng-container *ngIf="candidateRequisiton?.applicationResult; else emptyData">
          <div class="panel-body">
            <div class="apply-result">
              <div class="grid-item">
                <div class="group-item">
                  <span for="status" class="lb-item">
                    {{ "Status" | localize }}
                  </span>
                  <div class="input-item group-status-mail">
                    <p-dropdown inputId="status" [options]="listRequestStatus" formControlName="status"
                      placeholder="All" optionLabel="name" optionValue="id" [filter]="true" styleClass="w-100"
                      filterBy="name" [showClear]="true" (onChange)="OnReqCvStatus()"></p-dropdown>

                    <p-button *ngIf="
                        isAllowSendMail &&
                        !isApplyResultEditing &&
                        validPermissionUserType(
                          userType,
                          PS.Pages_CandidateIntern_ViewDetail_RequestCV_SendMail,
                          PS.Pages_CandidateStaff_ViewDetail_RequestCV_SendMail
                        )
                      " label="Send mail" icon="pi pi-envelope"
                      styleClass="p-button-sm p-button-outlined p-button-success btn-mail h-100"
                      [disabled]="isLoadingSendMail" (onClick)="onSendMail()">
                    </p-button>
                  </div>
                </div>

                <div class="group-item" *ngIf="userType !== USER_TYPE.INTERN">
                  <span for="percentage" class="lb-item">
                    {{ "Percentage" | localize }}
                  </span>
                  <div class="input-item">
                    <select class="selectpercentage" formControlName="percentage">
                      <option value="85%">85%</option>
                      <option value="100%">100%</option>
                    </select>
                  </div>
                </div>

                <div class="group-item" *ngIf="userType !== USER_TYPE.INTERN">
                  <span for="applyLevel" class="lb-item">
                    {{ "Apply Level" | localize }}
                  </span>
                  <div class="input-item">
                    <p-dropdown inputId="applyLevel" [options]="_utilities.catStaffLeveL" placeholder="Select level"
                      formControlName="applyLevel" optionLabel="standardName" optionValue="id" styleClass="w-100">
                    </p-dropdown>
                  </div>
                </div>

                <div class="group-item">
                  <span for="finalLevel" class="lb-item">
                    {{ "Final Level" | localize }}
                  </span>
                  <div class="input-item">
                    <p-dropdown inputId="finalLevel" [options]="
                        userType === USER_TYPE.INTERN
                          ? _utilities.catLevelFinalIntern
                          : _utilities.catLevelFinalStaff
                      " formControlName="finalLevel" placeholder="Select level" optionLabel="standardName"
                      optionValue="id" styleClass="w-100" (onChange)="onApplyResultFinalLevelChange($event.value)">
                    </p-dropdown>
                  </div>
                </div>

                <div class="group-item" *ngIf="
                    validPermissionUserType(
                      userType,
                      PS.Pages_CandidateIntern_ViewDetail_RequestCV_ViewSalary,
                      PS.Pages_CandidateStaff_ViewDetail_RequestCV_ViewSalary
                    )
                  ">
                  <span for="salary" class="lb-item">
                    {{ "Salary" | localize }}
                  </span>
                  <div class="input-item">
                    <p-inputNumber inputId="salary" styleClass="w-100" formControlName="salary">
                    </p-inputNumber>
                  </div>
                </div>

                <div class="group-item">
                  <span for="onboardDate" class="lb-item">
                    {{ "Onboard Date" | localize }}
                    <div *ngIf="
                        applyResultFormControls.onboardDate?.errors?.required
                      " class="text-danger">*
                    </div>
                  </span>
                  <div class="input-item">
                    <p-calendar [showIcon]="true" inputId="onboardDate" formControlName="onboardDate"
                      dateFormat="dd/mm/yy" styleClass="w-100"></p-calendar>

                    <div class="text-error text-danger" *ngIf="
                        submitted &&
                        applyResultFormControls.onboardDate?.errors?.required
                      ">
                      Onboarded is required
                    </div>
                  </div>
                </div>

                <div class="group-item">
                  <span for="appyNote" class="lb-item">
                    {{ "Apply Note" | localize }}
                  </span>
                  <div class="input-item">
                    <textarea id="appyNote" rows="2" class="w-100 pb-0" pInputTextarea
                      formControlName="hrNote"></textarea>
                  </div>
                </div>

                <div class="text-right">
                  <p-button *ngIf="
                      validPermissionUserType(
                        userType,
                        PS.Pages_CandidateIntern_ViewDetail_RequestCV_EditApplicationResult,
                        PS.Pages_CandidateStaff_ViewDetail_RequestCV_EditApplicationResult
                      )
                    " label="{{
                      isApplyResultEditing
                        ? ('Cancel' | localize)
                        : ('Edit' | localize)
                    }}" [icon]="
                      isApplyResultEditing ? 'pi pi-times' : 'pi pi-pencil'
                    " [styleClass]="
                      isApplyResultEditing
                        ? 'p-button-sm p-button-secondary mr-3'
                        : 'p-button-sm'
                    " (click)="toggleEditingApplyResult()"></p-button>

                  <p-button *ngIf="isApplyResultEditing" label="{{ 'Save' | localize }}" icon="pi pi-check"
                    styleClass="p-button-sm" (onClick)="saveApplyResult()"></p-button>
                </div>
              </div>

              <div class="grid-item grid-item--lms">
                <div class="editor w-100">
                  <div class="mb-3">
                    <span for="lmsEditor"> {{ "LMS Info" | localize }}</span>
                    <p-button *ngIf="
                        candidateRequisiton?.applicationResult.status ===
                          REQUEST_CV_STATUS.ScheduledTest &&
                        validPermissionUserType(
                          userType,
                          PS.Pages_CandidateIntern_ViewDetail_RequestCV_CreateAccountLMS,
                          PS.Pages_CandidateStaff_ViewDetail_RequestCV_CreateAccountLMS
                        )
                      " [label]="getButtonLabel(userType)" styleClass="p-button-sm p-button-outlined ml-4"
                      (onClick)="createLMSAccount()"></p-button>
                  </div>

                  <p-editor inputId="lmsEditor" formControlName="lmsInfo" [readonly]="
                      applyResultForm?.controls?.lmsInfo?.status ==
                      STATUS_DISABLED
                    " [style]="{ height: '100px' }"></p-editor>
                </div>

                <div class="group-card w-100">
                  <div class="status-history">
                    <span for="statusHistory" class="lb-item self-start text-primary text-bold">
                      {{ "Status History" | localize }}
                    </span>

                    <ng-container *ngIf="applyHistoryStatuses?.value?.length">
                      <div class="input-item box">
                        <div *ngFor="let appStatus of applyHistoryStatuses.value">
                          <div class="d-flex">
                            <span class="tag" [style.backgroundColor]="
                                _utilities.getBgTagRequestCvStatusColor(
                                  appStatus.statusName
                                )
                              ">
                              {{ appStatus.statusName }}
                            </span>

                            <span class="ml-auto">
                              {{
                              appStatus.timeAt
                              | talentDateTime: DATE_FORMAT.DD_MM_YYYY_H_MM
                              }}
                            </span>
                          </div>
                        </div>
                      </div>
                    </ng-container>
                  </div>

                  <div *ngIf="mailStatusHistories?.length" class="sent-mail">
                    <span for="sentMails" class="lb-item self-start text-primary text-bold">
                      {{ "Sent mails" | localize }}
                    </span>

                    <span>
                      <i class="ml-2 pi pi-eye tl-icon size-20" (click)="showModalMailDetail = true">
                      </i>
                    </span>

                    <div class="input-item box">
                      <ng-container *ngFor="let mail of mailStatusHistories">
                        <div class="d-flex">
                          <span class="mail-subject">
                            {{ mail.subject }}
                          </span>

                          <span class="ml-auto">
                            {{
                            mail.creationTime
                            | talentDateTime: DATE_FORMAT.DD_MM_YYYY_H_MM
                            }}
                          </span>
                        </div>
                      </ng-container>
                    </div>
                  </div>

                  <div class="status-history" *ngIf="applyHistoryChangeStatuses?.value?.length">
                    <span for="statusChangeHistory" class="lb-item self-start text-primary text-bold">
                      {{ "Status Change History" | localize }}
                    </span>

                    <ng-container>
                      <div class="input-item box">
                        <div *ngFor="let appStatus of applyHistoryChangeStatuses.value">
                          <div class="d-flex">
                            <span *ngIf="appStatus.fromStatusName" class="tag" [style.backgroundColor]="
                                _utilities.getBgTagRequestCvStatusColor(
                                  appStatus.fromStatusName
                                )
                              ">
                              {{ appStatus.fromStatusName }}
                            </span>
                            <span *ngIf="appStatus.fromStatusName">&#160;->&#160;</span>
                            <span class="tag" [style.backgroundColor]="
                                _utilities.getBgTagRequestCvStatusColor(
                                  appStatus.toStatusName
                                )
                              ">
                              {{ appStatus.toStatusName }}
                            </span>

                            <span class="ml-auto">
                              {{
                              appStatus.timeAt
                              | talentDateTime: DATE_FORMAT.DD_MM_YYYY_H_MM
                              }}
                            </span>
                          </div>
                        </div>
                      </div>
                    </ng-container>
                  </div>

                </div>
              </div>
            </div>
          </div>
        </ng-container>
      </p-panel>
    </div>
  </form>
</section>
<ng-template #other_fromType><span class="reviewer-color tag ng-star-inserted">Reviewer</span></ng-template>
<ng-template #emptyData>
  <div class="text-center">No Record</div>
</ng-template>

<p-dialog header="Mailing history" [(visible)]="showModalMailDetail" [style]="{ width: '70vw' }" [baseZIndex]="10000">
  <p-table [value]="mailStatusHistories">
    <ng-template pTemplate="header">
      <tr>
        <th>Subject</th>
        <th>Sent At</th>
        <th>Description</th>
      </tr>
    </ng-template>

    <ng-template pTemplate="body" let-mail let-i="rowIndex">
      <tr>
        <td>
          <span class="mail-subject">{{ mail.subject }}</span>
        </td>

        <td>
          {{ mail.creationTime | talentDateTime: DATE_FORMAT.DD_MM_YYYY_H_MM }}
        </td>

        <td>
          {{ mail.description }}
        </td>
      </tr>
    </ng-template>
  </p-table>
</p-dialog>
<p-dialog header="GuideLine: {{guideLineTitle}}" [(visible)]="display" [style]="{width: '50%'}">
  <div [innerHtml]="guideLineContent | safeHtml"></div>
</p-dialog>

<p-dialog header="Suggest Level" [(visible)]="visible" [position]="position" [style]="{ width: '50vw' }">
  <p-table [value]="scoreRangeResults">
    <ng-template pTemplate="header">
      <tr>
        <th ngClass="w-30" class="text-center">Score from</th>
        <th ngClass="w-30" class="text-center">Score to</th>
        <th ngClass="w-40" class="text-center">Level</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-scoreRangeResult>
      <tr>
        <th ngClass="w-30 py-2" class="text-center">
          {{ scoreRangeResult.scoreFrom }}
        </th>
        <th ngClass="w-30 py-2" class="text-center">
          {{ scoreRangeResult.scoreTo}}
        </th>
        <th ngClass="w-40 py-2" class="text-center">
          {{ scoreRangeResult.levelInfo.standardName}}
        </th>
      </tr>
    </ng-template>
  </p-table>
</p-dialog>