@mixin lb-large-width {
  width: 7rem;
}

@mixin ip-large-width {
  width: calc(100% - 7rem);
}

::ng-deep .panel {
  &:not(:last-child) {
    margin-bottom: 3rem;
  }

  .p-panel {
    .p-panel-icons {
      display: flex;
    }

    &-content {
      overflow: auto !important;
    }
  }

  &-title {
    font-weight: 600 !important;
  }

  &-body {
    margin: 0.5rem 0;
  }

  &-footer {
    margin-top: 2rem;
  }
}

.hr-color {
  background-color: rgb(217, 0, 27);
}
.reviewer-color {
  background-color: #28a745
}

.current-requisition {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;

  .grid-item {
    display: flex;
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
    align-items: center;
    .lb-item {
      @include lb-large-width();
    }

    .input-item {
      @include ip-large-width();
    }
  }
}

.mail-subject {
  color: #008000;
  font-weight: 600;
}

.apply-result {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 3rem;

  .grid-item {
    &--lms {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      gap: 2rem;

      .group-card {
        display: flex;
        flex-wrap: wrap;
        gap: 2rem;

        .status-history {
          flex-basis: 40%;
        }
        .sent-mail {
          flex: 1;
        }
      }
    }
  }

  .group-item {
    display: flex;
    align-items: center;

    &:not(:last-child) {
      margin-bottom: 1.5rem;
    }

    .lb-item {
      @include lb-large-width();
    }

    .input-item {
      @include ip-large-width();
    }

    .group-status-mail {
      display: flex;
      gap: 1rem;

      ::ng-deep .btn-mail {
        .p-button-label {
          width: max-content;
        }
      }
    }
  }

  .box {
    min-width: 400px;
    margin-top: 0.5rem;
    box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);
    border-radius: 11px;
    overflow: hidden;
    transition: all 0.4s;
    background-color: #ddd;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 4px;

    .tag {
      margin: 0 !important;
    }
  }

  .action {
    position: absolute;
    bottom: 0;
  }
}

.interview {
  .section-add {
    width: 40%;
    display: flex;
    gap: 1rem;
    align-items: center;
  }
}

.itv-level {
  width: 10rem;
}

::ng-deep .capability-table {
  .p-datatable-thead {
    thead,
    tr {
      th {
        &.action {
          width: 200px;
        }

        // Capability table,
        &.cap-name,
        &.cap-score {
          width: 18%;
        }
      }
    }

    tr.header-input {
      th {
        padding-bottom: 1rem;
        vertical-align: top;
      }
    }
  }
}

::ng-deep .p-inputwrapper {
  width: 100%;
}

.input-item.itvLevel {
  width: 25%;
}

@media (max-width: 1400px) {
  .current-requisition {
    grid-template-columns: repeat(3, 1fr);
  }

  .apply-result {
    .grid-item {
      &--lms {
        .group-card {
          display: flex;
          flex-wrap: wrap;
          gap: 2rem;

          .status-history,
          .sent-mail {
            flex-basis: 100%;
          }
        }
      }
    }
  }

  .input-item.itvLevel {
    width: 25%;
  }
}

@media (max-width: 976px) {
  .current-requisition {
    grid-template-columns: repeat(2, 1fr);
  }

  .apply-result {
    grid-template-columns: 1fr;
  }

  .itvLevel {
    width: calc(100% - 20rem);
  }
}

@media (max-width: 650px) {
  .current-requisition {
    grid-template-columns: 1fr;
  }

  .itvLevel {
    width: calc(100% - 10rem);
  }
}
.selectpercentage{
  padding: 5px;
  width: 100%;
  border: 1px solid #ced4da;
  border-radius: 3px;
  &:disabled {
    opacity: 0.6;
  }
}
.selectpercentage:enabled:focus{
  outline: 0 none;
  outline-offset: 0;
  box-shadow: 0 0 0 0.2rem #a6d5fa;
  border-color: #2196f3;
}

