::ng-deep #staff-recruit-overview{
    .creation-group-select{
        flex-basis: 50%;
    }
    .creation-group-label{
        flex-basis: 50%;
    }
    .w-inherit{
        width: inherit !important;
    }
    .msl {
        .p-multiselect {
            width: inherit !important;
        }
        .p-dropdown{
            width: inherit !important;
        }
    }
    .th-total-report > th{
        font-weight: 700 !important;
    }        
}

.bg-yellow-1{
    background-color: #fbffc8 !important;
}
.bg-yellow-2{
    background-color: #FCFCF5 !important;
}

