::ng-deep #staff-recruit-overview{
    .creation-group-select{
        flex-basis: 50%;
    }
    .creation-group-label{
        flex-basis: 50%;
    }
    .w-inherit{
        width: inherit !important;
    }
    .msl {
        .p-multiselect {
            width: inherit !important;
        }
        .p-dropdown{
            width: inherit !important;
        }
    }
    .th-total-report > th{
        font-weight: 700 !important;
    }
    .item-group {
        padding: 0.25rem;
    }
}

.bg-yellow-1{
    background-color: #fbffc8 !important;
}
.bg-yellow-2{
    background-color: #FCFCF5 !important;
}

.recruitment-overview-wrapping {
    padding: 20px;

    .branch-title {
        font-weight: bold;
        font-size: 27px;
    }

    .table-container {
        position: relative;
        max-height: 535px;
        overflow: hidden;
        &:has(.overflowingX) {
            padding-bottom: 16px;
        }
        &:has(.overflowingY) {
            padding-right: 16px;
        }
        &:hover {
            overflow: auto !important;
            padding-right: 0;
            padding-bottom: 0;
        }
    }

    table {
        border-collapse: separate;
        width: 100%;

        thead {
            position: sticky;
            top: 0;
            &::before {
                content: "";
                position: absolute;
                width: 100%;
                height: 100%;
                background: white;
                z-index: -1;
            }
        }

        th,
        td {
            text-align: center;
            padding: 5px;
        }

        .header-item {
            font-size: 12px;
        }

        .background-color-1 {
            background-color: #F5F5F5;
        }

        .background-color-2 {
            background-color: #9DE0FA;
        }

        .background-color-3 {
            background-color: #FFDDB4;
        }

        .background-color-4 {
            background-color: #FFB5BA;
        }

        .sub-position-name {
            text-align: left;
        }

        .total {
            font-weight: bold;
        }
    }
}

@media (max-width: 1500px) {
    .row {
        .col-md-2, .col-md-4, .col-md-3 {
            flex: 0 0 50% !important;
            max-width: 50% !important;
        }
    }
}

@media (max-width: 1000px) {
    .row {
        .col-md-2, .col-md-4, .col-md-3 {
            flex: 0 0 100% !important;
            max-width: 100% !important;
        }
    }
}
