<form [formGroup]="form">
    <div class="form-group d-flex flex-column gap-2">
      <div>
        <label> {{ "Post's Name" | localize }} <span class="text-danger">*</span></label>
        <input
          talentAutoFocus
          type="text"
          name="postName"
          placeholder="{{ 'Post Name' | localize }}"
          class="form-control"
          formControlName="postName"
        />
        <span
          class="text-danger"
          *ngIf="submitted && formControls.postName.errors?.required"
        >
          Post's Name is required!
        </span>
      </div>
      <div>
        <label> {{ "Post Creation Time" | localize }} <span class="text-danger">*</span></label>
        <div class="input-item">
          <p-calendar
          [showIcon]="true"
          inputId="dob"
          dateFormat="dd/mm/yy"
          styleClass="w-100"
          appendTo="body"
          formControlName="postCreationTime"
          ></p-calendar>
        </div>
        <div
        class="text-danger"
        *ngIf="submitted && formControls.postCreationTime.errors?.required"
        >
          Post Creation Time is required!
        </div>
      </div>
      <div>
        <label> {{ "URL" | localize }} <span class="text-danger">*</span></label>
        <input
          talentAutoFocus
          type="text"
          name="url"
          placeholder="{{ 'URL' | localize }}"
          class="form-control"
          formControlName="url"
        />
        <span
          class="text-danger"
          *ngIf="submitted && formControls.url.errors?.required"
        >
          URL is required!
        </span>
      </div>
      <div>
        <label> {{ "Type" | localize }}</label>
        <input
          talentAutoFocus
          type="text"
          name="type"
          placeholder="{{ 'Type' | localize }}"
          class="form-control"
          formControlName="type"
        />
      </div>
      <div>
        <label> {{ "Post Creator" | localize }} <span class="text-danger">*</span></label>
        <p-dropdown
            [options]="catAllUser"
            formControlName="createdByUser"
            placeholder="Select a Post Creator"
            optionLabel="fullName"
            optionValue="id"
            styleClass="w-100"
            [filter]="true"
            filterBy="name"
          ></p-dropdown>
        <span
          class="text-danger"
          *ngIf="submitted && formControls.createdByUser.errors?.required"
        >
          Post Creator is required!
        </span>
      </div>
    </div>

    <talent-dialog-action-toolbar
      [dialogRef]="ref"
      [disabledSaveBtn]="isLoading"
      [showButtonSaveCloseActionCreate]="action"
      [showButtonSaveClose]="true"
      (onSave)="onSave($event)"
    ></talent-dialog-action-toolbar>

  </form>

