.content-gachchan {
  border-bottom: 2px solid brown !important; //ok
}

.img-avt{
  max-width: 90%;
  max-height: 200px;
  object-fit: contain;
}

.profile-contact li {
  display: block;
  padding: 4px 0;
}
.profile-contact h4 {
  font-weight: 600;
}
.profile-contact li .fas {
  margin-right: 10px !important;
}
.card-title {
  font-weight: 600;
  font-size: 25px;
  color: rgba(78, 74, 74, 0.5);
}
.text-size {
  font-size: 18px;
  font-family: "Source Sans Pro", sans-serif !important;
}

.fas.fa-save {
  color: brown !important;
}

.progress {
  border-radius: 20px;
  border: 1px solid black;
}

.progress-bar {
  background-color: brown;
  border-radius: 20px;
}

@media only screen and (max-width: 768px) {
  /* .contentHasmenu {
  background-color: darkgray;
} */
}
::ng-deep .mat-form-field-flex > .mat-form-field-infix {
  padding: 0.4em 0px !important;
}
::ng-deep .mat-form-field-label-wrapper {
  top: -1.5em;
}

::ng-deep
  .mat-form-field-appearance-outline.mat-form-field-can-float.mat-form-field-should-float
  .mat-form-field-label {
  transform: translateY(-1.1em) scale(0.75);
  width: 133.33333%;
}
.btn-light {
  margin-top: -8px;
}

::ng-deep .ngx-slider-span.ngx-slider-pointer.ngx-slider-pointer-max {
  background-color: #a52a2a;
}
::ng-deep .ngx-slider-span.ngx-slider-pointer.ngx-slider-pointer-min {
  background-color: #a52a2a;
}
::ng-deep .ngx-slider-span.ngx-slider-bar.ngx-slider-selection {
  background-color: #a52a2a;
}
::ng-deep .ngx-slider-span.ngx-slider-pointer.ngx-slider-pointer-min,
::ng-deep .ngx-slider-span.ngx-slider-pointer.ngx-slider-pointer-max {
  border-radius: 90%;
  width: 20px;
  height: 20px;
  top: -9px;
}
::ng-deep .ngx-slider-span.ngx-slider-pointer.ngx-slider-pointer-min::after,
::ng-deep .ngx-slider-span.ngx-slider-pointer.ngx-slider-pointer-max::after {
  width: 6px;
  height: 6px;
  top: 7px !important;
  left: 7px !important;
}
