::ng-deep #report-education {
  .creation-group-select,
  .creation-group-label {
    flex-basis: 50%;
  }

  .w-inherit {
    width: inherit !important;
  }

  .msl-branch .p-multiselect {
    width: inherit !important;
  }

  .report-edu-chart {
    display: grid;
    align-items: end;
    grid-template-columns: 1fr 2fr;
    gap: 3rem;
  }

  .item-group {
    padding: 0.25rem;
  }

  .chart-filters {
    margin-top: 2rem;
  }
}

@media (max-width: 900px) {
  #report-education {
    .report-edu-chart {
      grid-template-columns: 1fr;
    }
  }
}

.divider {
  border-bottom: 1px solid #dee2e6;
  margin: 20px 0px;
}

.branch-title {
  color: #495057;
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 8px;
  .pi {
    font-size: 1.5rem;
  }
}

.breadcrumb {
  padding: 0px;
}

.btn {
  margin: 10px;
}

::ng-deep .p-checkbox-label {
  color: #495057 !important;
}