<div class="">
  <div class="card-header title">
    {{
      action === DIALOG_ACTION.CREATE
        ? ("Create attribute" | localize)
        : ("Update attribute" | localize)
    }}
  </div>
  <div class="card-body pb-2">
    <div class="row mb-2 pb-2">
      <form [formGroup]="atributeForm" class="w-100">
        <div class="col-md-12">
          <label for="attbute" class="mr-2">
            {{ "Attribute" | localize }}</label
          >
          <textarea
            id="attbute"
            formControlName="atribute"
            rows="4"
            class="w-100"
            pInputTextarea
            (change)="onValueChange($event.target.value, 0)"
          ></textarea>

          <div
            *ngIf="submitted && (listInputValid[0].value || formControls.atribute.errors?.required)"
            class="text-danger"
          >
            This field is invalid
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

<talent-dialog-action-toolbar
  [dialogRef]="dialogRef"
  [disabledSaveBtn]="isLoading"
  (onSave)="saveAtribute()"
></talent-dialog-action-toolbar>
