<form  #form="ngForm">
<div class="form-group">
  <abp-modal-header
  class="tabset"
  [title]="'Export Candidate' | localize"
  (onCloseClick)="bsModalRef.hide()"
  ></abp-modal-header>

  <div class="modal-body edit-user-body">
          <div class="grid-item">
            <div class="group-cb mt-3 ml-2 w-100" >
              <div class="groupcb">
                <mat-checkbox id="cbreport" [(ngModel)]="report" name="cbreport">Report</mat-checkbox>
              </div>
              <div class="groupcb mt-3">
                <label for="fromStatus">From Status</label>
                <div class="d-flex">
                  <div class="w-100">
                    <p-dropdown
                      inputId="fromStatus"
                      [options]="_utilities.catReqCvStatus"
                      placeholder="All"
                      optionLabel="name"
                      optionValue="id"
                      styleClass="w-100"
                      [filter]="true"
                      filterBy="name"
                      [showClear]="true"
                      (onChange)="onDropdownFromStatus($event)"
                    ></p-dropdown>
                  </div>
                </div>
              </div>
              <div class="groupcb mt-3" >
                <label for="fromStatus">To Status</label>
                <div class="d-flex">
                  <div class="w-100">
                    <p-dropdown
                      inputId="fromStatus"
                      [options]="_utilities.catReqCvStatus"
                      placeholder="All"
                      optionLabel="name"
                      optionValue="id"
                      styleClass="w-100"
                      [filter]="true"
                      filterBy="name"
                      [showClear]="true"
                      (onChange)="onDropdownToStatus($event)"
                    ></p-dropdown>
                  </div>
                </div>
              </div>
            </div>
            <div class="group-date">
            <div class="group">
              <label for="fromDate">From Date:</label>
              <input class="p-inputtext" type="month" id="fromDate" [(ngModel)]="fromDate" name="fromDate" [value]="fromDate">
            </div>
            <div class="group">
              <label for="toDate">To Date:</label>
              <input class="p-inputtext" type="month" id="toDate" [(ngModel)]="toDate" name="toDate" [value]="toDate">
            </div>

            <div class="group">
              <label for="status">Application Status
             </label>
              <div class="d-flex">
                <div class="w-100">
                  <p-dropdown
                    inputId="status"
                    [options]="_utilities.catReqCvStatus"
                    placeholder="All"
                    optionLabel="name"
                    optionValue="id"
                    styleClass="w-100"
                    [filter]="true"
                    filterBy="name"
                    [showClear]="true"
                    (onChange)="onDropdownChange($event)"
                  ></p-dropdown>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="club-bt">
            <button class="btn btn-danger ml-2" (click)="closePopup()"  >
              <i class="pi pi-times fa-download mr-1"></i>
              Cancel
            </button>
            <button class="btn btn-success ml-2" (click)="exportCandidate()"  >
              <i class="pi pi-download fa-download mr-1"></i>
              Export
            </button>
            <div *ngIf="loading" class="spinner-container">
              <div class="spinner"></div>
            </div>
        </div>
  </div>
</div>
</form>