<form [formGroup]="form">
  <div
    class="form-input mb-3"
    [class.talent-dialog-content]="
      dataDialogConfig.action !== DIALOG_ACTION.CLOSE_AND_CLONE
    "
  >
    <div class="row">
      <div class="col">
        <label>
          {{ "Type" | localize }}
          <span class="text-danger">*</span>
        </label>
        <p-dropdown
          inputId="userType"
          [options]="_utilities.catUserType"
          formControlName="userType"
          [disabled]="true"
          optionLabel="name"
          optionValue="id"
          styleClass="w-100"
          [filter]="true"
          filterBy="name"
          appendTo="body"
        ></p-dropdown>
      </div>

      <div class="col">
        <label for="ipBranch" class="mr-2">
          {{ "Branch" | localize }}
          <span class="text-danger">*</span>
        </label>
        <div class="w-100">
          <p-dropdown
            inputId="ipBranch"
            [options]="_utilities.catBranch"
            formControlName="branchId"
            placeholder="Select a branch"
            optionLabel="displayName"
            optionValue="id"
            styleClass="w-100"
            [filter]="true"
            filterBy="displayName"
            [showClear]="true"
            appendTo="body"
          ></p-dropdown>
          <span
            class="text-danger"
            *ngIf="submitted && formControls.branchId.errors?.required"
          >
            Branch is required
          </span>
        </div>
      </div>
    </div>

    <div class="row mt-3">
      <div class="col">
        <label for="ipPosition">
          {{ "Position" | localize }}
          <span class="text-danger">*</span>
        </label>
        <talent-position-dropdown
          [id]="'ipPosition'"
          [options]="_utilities.catPosition"
          [optionSelected]="formControls.subPositionId.value"
          (onChange)="onPositionSelect($event)"
        >
        </talent-position-dropdown>
        <span
          class="text-danger"
          *ngIf="submitted && formControls.subPositionId.errors?.required"
        >
          Position is required
        </span>
      </div>

      <div class="col w-50">
        <talent-multi-select-h-radio
          [valueSeletecd]="formControls['skillIds'].value"
          [catalogConfig]="catalogConfig"
          [appendTo]="'body'"
          (onChange)="onSkillChange($event)"
          (onSearchTypeChange)="onSearchTypeChange($event)"
        ></talent-multi-select-h-radio>
        <span
          class="text-danger"
          *ngIf="submitted && formControls.skillIds.errors?.required"
        >
          Select at least a skill
        </span>
      </div>
    </div>

    <div class="row mt-3">
      <div class="col">
        <label for="ipQuantity" class="mr-2">
          {{ "Quantity" | localize }}
          <span class="text-danger">*</span>
        </label>
        <div class="w-100">
          <input
            id="ipQuantity"
            type="number"
            class="w-100"
            pInputText
            (keypress)="_utilities.isNumberOnly($event)"
            formControlName="quantity"
          />
          <div>
            <span
              class="text-danger"
              *ngIf="submitted && formControls.quantity.errors?.required"
            >
              Quantity is required
            </span>
          </div>
        </div>
      </div>

      <div class="col">
        <label for="ipPriority" class="mr-2">
          {{ "Priority" | localize }}
          <span class="text-danger">*</span>
        </label>
        <div class="w-100">
          <p-dropdown
            inputId="ipPriority"
            [options]="_utilities.catPriority"
            formControlName="priorityId"
            placeholder="Select priority"
            optionLabel="name"
            optionValue="id"
            styleClass="w-100"
            [filter]="true"
            filterBy="name"
            appendTo="body"
            [showClear]="true"
          ></p-dropdown>
          <span
            class="text-danger"
            *ngIf="submitted && formControls.priorityId.errors?.required"
          >
            Priority is required
          </span>
        </div>
      </div>
    </div>

    <div class="row mt-3">
      <div class="col-6">
        <label for="ipQuantity" class="mr-2">
          {{ "Time Need" | localize }}
          <span class="text-danger">*</span>
        </label>
        <div class="w-100">
          <p-calendar
            [showIcon]="true"
            inputId="dob"
            dateFormat="dd/mm/yy"
            styleClass="w-100"
            formControlName="timeNeed"
            appendTo="body"
          ></p-calendar>
          <div>
            <span
              class="text-danger"
              *ngIf="submitted && formControls.timeNeed.errors?.required"
            >
              Time need is required
            </span>
          </div>
        </div>
      </div>
    </div>

    <div class="row mt-3">
      <div class="col">
        <label for="ipQuantity" class="mr-2"> {{ "Note" | localize }}</label>
        <textarea
          formControlName="note"
          rows="3"
          class="w-100"
          pInputTextarea
        ></textarea>
      </div>
    </div>
  </div>

  <section
    class="candidate mb-5"
    *ngIf="
      dataDialogConfig.action === DIALOG_ACTION.CLOSE_AND_CLONE &&
      requistionCloseAndClone.candidateRequisitions.length
    "
  >
    <span class="sub-heading">Candidates</span>
    <p-table
      [value]="requistionCloseAndClone.candidateRequisitions"
      dataKey="id"
      responsiveLayout="scroll"
      [resizableColumns]="true"
      styleClass="p-datatable-striped p-datatable-sm p-datatable-gridlines tl-table tl-table-scroll tl-table-max-440"
    >
      <ng-template pTemplate="header">
        <tr>
          <th class="w-70px text-center">{{ "No" | localize }}</th>
          <th class="candidate-infor">Candidate Details</th>
          <th>Status</th>
          <th>Is Clone</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-candidate let-i="rowIndex" ;>
        <tr>
          <td class="text-center">{{ i + 1 }}</td>
          <td>
            <talent-candidate-info-new
              [data]="candidate"
            ></talent-candidate-info-new>
          </td>
          <td>
            <div>
              {{ candidate.statusName }}
            </div>
          </td>

          <td>
            <div>
              {{ candidate.isClone }}
            </div>
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="emptymessage">
        <tr>
          <td colspan="10">There are no candidate for this requisition yet.</td>
        </tr>
      </ng-template>
    </p-table>
  </section>

  <section class="mt-5">
    <talent-dialog-action-toolbar
      [dialogRef]="ref"
      [disabledSaveBtn]="isCreating"
      (onSave)="onSave()"
    ></talent-dialog-action-toolbar>
  </section>
</form>
