<div [@routerTransition]>
  <talent-section-breadcrumb
    [breadcrumbConfig]="breadcrumbConfig"
    [isShowBtn]="permission.isGranted(PS.Pages_Roles_Create)"
    (onBtnClick)="createRole()"
  >
  </talent-section-breadcrumb>

  <section class="section-table">
    <div class="header-toolbar">
      <div class="row">
        <div class="col-12 col-md-5">
          <div class="p-inputgroup">
            <button
              type="button"
              pButton
              pRipple
              icon="pi pi-search"
              (click)="getDataPage(GET_FIRST_PAGE)"
            ></button>

            <input
              talentAutoFocus
              type="text"
              pInputText
              name="keyword"
              [placeholder]="'Search by role name/display name' | localize"
              [(ngModel)]="keyword"
              (keyup.enter)="getDataPage(GET_FIRST_PAGE)"
            />
          </div>
        </div>
      </div>
    </div>

    <p-table
      [value]="roles"
      [lazy]="true"
      (onLazyLoad)="lazyLoadingData($event)"
      [paginator]="true"
      [rows]="defaultRows"
      responsiveLayout="scroll"
      [rowsPerPageOptions]="rowsPerPageOptions"
      [loading]="isLoading"
      [totalRecords]="totalItems"
      [showCurrentPageReport]="true"
      currentPageReportTemplate="Total: {totalRecords}"
      styleClass="p-datatable-striped p-datatable-gridlines p-datatable-sm tl-table-card-box"
    >
      <ng-template pTemplate="header">
        <tr>
          <th class="text-center">#</th>
          <th>{{ "RoleName" | localize }}</th>
          <th>{{ "DisplayName" | localize }}</th>
          <th class="w-200px ">{{ "Actions" | localize }}</th>
        </tr>
      </ng-template>

      <ng-template pTemplate="body" let-role let-i="rowIndex">
        <tr>
          <td class="w-70px text-center">{{ i + 1 }}</td>
          <td>{{ role.name }}</td>
          <td>{{ role.displayName }}</td>
          <td class=>
            <button
              *ngIf="permission.isGranted(PS.Pages_Roles_Edit)"
              type="button"
              class="btn btn-sm bg-secondary"
              (click)="editRole(role)"
            >
              <i class="fas fa-pencil-alt"></i>
              {{ "Edit" | localize }}
            </button>
            <button
              *ngIf="permission.isGranted(PS.Pages_Roles_Delete)"
              type="button"
              class="btn btn-sm bg-danger mx-2"
              (click)="delete(role)"
            >
              <i class="fas fa-trash"></i>
              {{ "Delete" | localize }}
            </button>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </section>
</div>
