<form [formGroup]="form">
  <div class="form-group">
    <div class="row">
      <div class="col-12 sub-heading">{{ "From" | localize }}</div>
      <div class="col-6 d-flex align-items-center">
        <label class="w-100px" for="userTypeFrom">
          {{ "User Type" | localize }}
          <span class="text-danger">*</span>
        </label>
        <div class="col">
          <p-dropdown
            id="userTypeFrom"
            [options]="_utilities.catUserType"
            formControlName="userTypeFrom"
            placeholder="Select an user type"
            optionLabel="name"
            optionValue="id"
            styleClass="w-100"
            [filter]="true"
            filterBy="name"
          ></p-dropdown>
          <span
            class="text-danger"
            *ngIf="submitted && formControls.userTypeFrom.errors?.required"
          >
            (From) user type is required!
          </span>
        </div>
      </div>

      <div class="col-6 d-flex align-items-center">
        <label class="w-100px" for="sub-position-from">
          {{ "Position" | localize }}
          <span class="text-danger">*</span>
        </label>
        <div class="col">
          <talent-position-dropdown
            [id]="'sub-position-from'"
            [options]="_utilities.catPosition"
            (onChange)="onPositionSelect($event, true)"
            [optionSelected]="formControls.subPositionIdFrom.value"
          >
          </talent-position-dropdown>
          <span
            class="text-danger"
            *ngIf="submitted && formControls.subPositionIdFrom.errors?.required"
          >
            (From) position is required!
          </span>
        </div>
      </div>
    </div>

    <div class="row mt-4">
      <div class="col-12 sub-heading">{{ "To" | localize }}</div>
      <div class="col-6 d-flex align-items-center">
        <label class="w-100px" for="userTypeTo">
          {{ "User Type" | localize }}
          <span class="text-danger">*</span>
        </label>
        <div class="col">
          <p-dropdown
            id="userTypeTo"
            [options]="_utilities.catUserType"
            formControlName="userTypeTo"
            placeholder="Select an user type"
            optionLabel="name"
            optionValue="id"
            styleClass="w-100"
            [filter]="true"
            filterBy="name"
          ></p-dropdown>
          <span
            class="text-danger"
            *ngIf="submitted && formControls.userTypeTo.errors?.required"
          >
            (To) user type is required!
          </span>
        </div>
      </div>

      <div class="col-6 d-flex align-items-center">
        <label class="w-100px" for="sub-position-to">
          {{ "Position" | localize }}
          <span class="text-danger">*</span>
        </label>
        <div class="col">
          <talent-position-dropdown
            [id]="'sub-position-to'"
            [options]="_utilities.catPosition"
            (onChange)="onPositionSelect($event, false)"
            [optionSelected]="formControls.subPositionIdTo.value"
          >
          </talent-position-dropdown>

          <span
            class="text-danger"
            *ngIf="submitted && formControls.subPositionIdTo.errors?.required"
          >
            (To) position is required!
          </span>
        </div>
      </div>
    </div>
  </div>

  <div class="action mt-5">
    <talent-dialog-action-toolbar
      [dialogRef]="ref"
      [disabledSaveBtn]="isLoading"
      [showButtonSaveCloseActionCreate]="DIALOG_ACTION.CREATE"
      [showButtonSaveClose]="true"
      (onSave)="onSave($event)"
    ></talent-dialog-action-toolbar>
  </div>
</form>
