<div class="breadcrumb header">
  <div class="w-100 d-flex justify-content-between">
    <div>
      <talent-section-breadcrumb
        *ngIf="!isDialogMode"
        [breadcrumbConfig]="breadcrumbConfig"
      >
      </talent-section-breadcrumb>
    
    </div>
    <div>
      <button class="btn btn-success ml-2"
        *ngIf="permission.isGranted(PS.Pages_CandidateIntern_Export )"
        (click)="showExportDialog()" >
        <i class="pi pi-download fa-download mr-1"></i>
        Export
      </button>
      <button class="btn btn-primary"
        *ngIf="permission.isGranted(PS.Pages_CandidateIntern_Create)"
        (click)="createCandidate()">
        <i class="pi pi-plus fa-square-plus mr-1"></i>Create
      </button>
    </div>
  </div>
</div>

<section class="section-table">
  <div class="header-toolbar pt-0">
    <div class="row-group">
      <div class="col item-group item-group--search">
        <p-button
          type="button"
          styleClass="p-button-primary"
          icon="pi pi-search"
          (click)="getDataPage(GET_FIRST_PAGE)"
        ></p-button>
        <input
          talentAutoFocus
          type="text"
          class="w-100"
          pInputText
          [placeholder]="'Search by full name, phone, email' | localize"
          [(ngModel)]="searchText"
          (keyup.enter)="onSearchEnter()"
        />
      </div>

      <div class="col item-group">
        <label for="createdBy">
          {{ "Assign to" | localize }}
        </label>
        <div class="w-100">
          <p-dropdown
            inputId="createdBy"
            [options]="_utilities.catCanInternCreatedBy"
            [(ngModel)]="searchDetail.creatorUserId"
            placeholder="All"
            optionLabel="name"
            optionValue="id"
            styleClass="w-100"
            [filter]="true"
            filterBy="name"
            [showClear]="true"
            (onChange)="getDataPage(GET_FIRST_PAGE)"
          ></p-dropdown>
        </div>
      </div>

      <div class="col item-group">
        <label for="cvStatus">Candidate Status</label>
        <div class="w-100">
          <p-dropdown
            inputId="cvStatus"
            [options]="_utilities.catCvStatus"
            [(ngModel)]="searchDetail.cvStatus"
            placeholder="All"
            optionLabel="name"
            optionValue="id"
            styleClass="w-100"
            [filter]="true"
            filterBy="name"
            [showClear]="true"
            (onChange)="getDataPage(GET_FIRST_PAGE)"
          ></p-dropdown>
        </div>
      </div>

      <div class="col item-group">
        <label for="status">Application Status</label>
        <div class="d-flex">
          <div class="w-100">
            <p-dropdown
              inputId="status"
              [options]="_utilities.catReqCvStatus"
              [(ngModel)]="searchWithReqStatusCV"
              placeholder="All"
              optionLabel="name"
              optionValue="id"
              styleClass="w-100"
              [filter]="true"
              filterBy="name"
              [showClear]="true"
              (onChange)="getDataPage(GET_FIRST_PAGE)"
            ></p-dropdown>
          </div>

          <p-button
            title="Show advance search"
            [icon]="
              isShowAdvanceSearch ? 'pi pi-chevron-up' : 'pi pi-chevron-down'
            "
            iconPos="right"
            styleClass="p-button-primary ml-2"
            (click)="toggleSeachAdvance()"
          ></p-button>
        </div>
      </div>
    </div>

    <div class="row-group" [class.d-none]="!isShowAdvanceSearch">
      <div class="col item-group">
        <label for="branch">{{ "Candidate Branch" | localize }}</label>
        <div class="w-100">
          <p-dropdown
            inputId="branch"
            [options]="_utilities.catBranch"
            [(ngModel)]="searchDetail.branchId"
            placeholder="All"
            optionLabel="displayName"
            optionValue="id"
            styleClass="w-100"
            [filter]="true"
            filterBy="displayName"
            [showClear]="true"
            (onChange)="getDataPage(GET_FIRST_PAGE)"
          ></p-dropdown>
        </div>
      </div>

      <div class="col item-group">
        <label for="ipPosition">
          {{ "Candidate Position" | localize }}
        </label>
        <div class="w-100">
          <talent-position-dropdown
            [id]="'ipPosition'"
            [options]="_utilities.catPosition"
            (onChange)="onPositionSelect($event)"
          >
          </talent-position-dropdown>
        </div>
      </div>

      <div
        class="col item-group item-group--skill"
        [class]="
          !searchWithCreationTime || searchWithCreationTime.dateType === 'All'
            ? 'skill-select-default'
            : 'skill-select-time-open'
        "
      >
        <talent-multi-select-h-radio
          [catalogConfig]="catalogConfig"
          (onChange)="onSkillChange($event)"
          (onSearchTypeChange)="onSearchTypeChange($event)"
        ></talent-multi-select-h-radio>
      </div>

      <div
        class="col item-group"
        [class]="
          !searchWithCreationTime || searchWithCreationTime.dateType === 'All'
            ? 'creation-time-default'
            : 'creation-time-open'
        "
      >
        <talent-date-selector
          (selectChange)="onTalentDateChange($event)"
          [timeOptions]="FILTER_TIME"
          class="talent-date"
        ></talent-date-selector>
      </div>

      <div class="col-12 col-md-2 item-group">
        <label for="processStatus">Process Status</label>
        <div class="d-flex">
          <div class="w-100">
            <p-dropdown
              inputId="processStatus"
              [options]="_utilities.catProcessCvStatus"
              [(ngModel)]="searchWithProcessCvStatus"
              placeholder="All"
              optionLabel="name"
              optionValue="id"
              styleClass="w-100"
              [filter]="true"
              filterBy="name"
              [showClear]="true"
              (onChange)="getDataPage(GET_FIRST_PAGE)"
            ></p-dropdown>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-2 item-group">
        <label for="fromStatus">From Status</label>
        <div class="d-flex">
          <div class="w-100">
            <p-dropdown
              inputId="fromStatus"
              [options]="_utilities.catReqCvStatus"
              [(ngModel)]="searchWithFromStatus"
              placeholder="All"
              optionLabel="name"
              optionValue="id"
              styleClass="w-100"
              [filter]="true"
              filterBy="name"
              [showClear]="true"
              (onChange)="getDataPage(GET_FIRST_PAGE)"
            ></p-dropdown>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-2 item-group">
        <label for="toStatus">To Status</label>
        <div class="d-flex">
          <div class="w-100">
            <p-dropdown
              inputId="toStatus"
              [options]="_utilities.catReqCvStatus"
              [(ngModel)]="searchWithToStatus"
              placeholder="All"
              optionLabel="name"
              optionValue="id"
              styleClass="w-100"
              [filter]="true"
              filterBy="name"
              [showClear]="true"
              (onChange)="getDataPage(GET_FIRST_PAGE)"
            ></p-dropdown>
          </div>
        </div>
      </div>
    </div>
  </div>

  <p-table
    [value]="candInterns"
    [lazy]="true"
    (onLazyLoad)="lazyLoadingData($event)"
    [paginator]="true"
    [rows]="defaultRows"
    [(first)]="first"
    responsiveLayout="scroll"
    [rowsPerPageOptions]="rowsPerPageOptions"
    [loading]="isLoading"
    [totalRecords]="totalItems"
    sortField="latestModifiedTime"
    [sortOrder]="SORT_TYPE.DESC"
    [resizableColumns]="true"
    columnResizeMode="expand"
    [showCurrentPageReport]="candInterns.length"
    currentPageReportTemplate="Total: {totalRecords}"
    styleClass="p-datatable-striped p-datatable-sm p-datatable-gridlines tl-table tl-table-min-100"
  >
    <ng-template pTemplate="header">
      <tr>
        <th rowspan="2" class="text-center w-70px" *ngIf="isDialogMode"></th>

        <th rowspan="2" class="w-50px text-center">
          {{ "No" | localize }}
        </th>

        <th colspan="2" class="candidate-infor text-center">
          {{ "Candidate" | localize }}
        </th>

        <th colspan="3" class="text-center" pResizableColumn>
          {{ "Application" | localize }}
        </th>

        <th rowspan="2" pResizableColumn>
          {{ "Candidate Note" | localize }}
        </th>

        <th rowspan="2" class="text-center" *ngIf="!isDialogMode">
          {{ "Action" | localize }}
        </th>
      </tr>

      <tr>
        <th class="candidate-infor" pSortableColumn="fullName" pResizableColumn>
          {{ "Info" | localize }} <p-sortIcon field="fullName"></p-sortIcon>
        </th>

        <th pSortableColumn="latestModifiedTime" pResizableColumn>
          <div class="box-wrapper box-wrapper--creation-time">
            {{ "Updated Time" | localize }}
            <p-sortIcon field="latestModifiedTime"></p-sortIcon>
          </div>
        </th>

        <th>{{ "Requisition Info" | localize }}</th>
        <th pResizableColumn>{{ "Sent mails" | localize }}</th>
        <th pResizableColumn>{{ "Application Status" | localize }}</th>
      </tr>
    </ng-template>

    <ng-template pTemplate="body" let-item let-i="rowIndex">
      <tr>
        <td *ngIf="isDialogMode" [attr.rowspan]="getRowspanRequisiton(item)">
          <talent-tag-select
            [currentItem]="item"
            [seletedIds]="internIdsInReqList"
            (onTagSelected)="onReqSeletedCandidate($event)"
          >
          </talent-tag-select>
        </td>

        <td class="text-center" [attr.rowspan]="getRowspanRequisiton(item)">
          {{ i + 1 }}
        </td>

        <td class="candidate-infor" [attr.rowspan]="getRowspanRequisiton(item)">
          <talent-candidate-info-new
            [data]="item"
            [tabActive]="getTabActiveDetail(item)"
          ></talent-candidate-info-new>
        </td>

        <td class="text-center" [attr.rowspan]="getRowspanRequisiton(item)">
          <div>
            {{
              item.lastModifiedTime
                | talentDateTime: DATE_FORMAT.DD_MM_YYYY_H_MM
            }}
          </div>

          <div>by {{ item.lastModifiedName }}</div>
        </td>

        <td>
          <talent-requisition-info
            [data]="getRequisitionInfo(item.requisitionInfos[0], item)"
            [showSkills]="false"
            [showLevel]="false"
          ></talent-requisition-info>
        </td>

        <td class="text-center" [attr.rowspan]="getRowspanRequisiton(item)">
          <div>
            <div *ngIf="item.mailStatusHistories.length <= 3">
              <ng-container *ngFor="let mail of item.mailStatusHistories">
                <div class="d-flex">
                  <span class="mail-subject"
                    title="{{ mail.creationTime | talentDateTime: DATE_FORMAT.DD_MM_YYYY_H_MM }}"
                  >
                    {{ mail.subject }}
                  </span>
                </div>
              </ng-container>
            </div>
            <div *ngIf="item.mailStatusHistories.length > 3" (click)="getAllMail(item.mailStatusHistories.length)">
                <ng-container *ngFor="let mail of item.mailStatusHistories.slice(0,indexOfLastMail);let i = index">
                <div class="d-flex">
                  <span class="mail-subject"
                    title="{{ mail.creationTime | talentDateTime: DATE_FORMAT.DD_MM_YYYY_H_MM }}"
                  >
                    {{ mail.subject }}
                  </span>
                  <span class="indent" *ngIf="indexOfLastMail === 3 && i === 2">...</span>
                </div>
              </ng-container>
            </div>
          </div>
        </td>

        <td class="text-center">
          <span
            *ngIf="item.requisitionInfos[0]?.requestCVStatusName"
            class="tag"
            [style.backgroundColor]="
              _utilities.getBgTagRequestCvStatusColor(
                item.requisitionInfos[0]?.requestCVStatusName
              )
            "
            >{{ item.requisitionInfos[0]?.requestCVStatusName }}</span
          >
          <div *ngIf="item.requisitionInfos[0]?.lastModifiedTime">
            {{
              item.requisitionInfos[0]?.lastModifiedTime
                | talentDateTime: DATE_FORMAT.DD_MM_YYYY_H_MM
            }}
          </div>
        </td>

        <td
          [attr.title]="item.note"
          [attr.rowspan]="getRowspanRequisiton(item)"
        >
          <div class="row no-wrap">
            <div
              class="col note max-line-content-2"
              [collapseLine]="2"
              talentResizeContent
              [title]="item.note"
            >
              {{ item.note }}
            </div>
            <div class="w-max-content">
              <i
                *ngIf="permission.isGranted(PS.Pages_CandidateIntern_EditNote)"
                class="fas fa-edit tl-icon"
                (click)="onShowEditNote(item)"
              ></i>
            </div>
          </div>
        </td>

        <td
          [attr.rowspan]="getRowspanRequisiton(item)"
          class="text-center"
          *ngIf="!isDialogMode"
        >
          <p-button
            *ngIf="permission.isGranted(PS.Pages_CandidateIntern_Delete)"
            title="Delete"
            icon="pi pi-trash"
            styleClass="p-button-sm p-button-danger"
            (click)="delete(item)"
          ></p-button>
          <span>&nbsp;</span>
          <p-button
          *ngIf="permission.isGranted(PS.Pages_CandidateIntern_Clone)"
          title="Clone"
          icon="pi pi-clone"
          styleClass="p-button-sm p-button-primary"
          (click)="clone(item.id)"
        ></p-button>
        </td>
      </tr>

      <ng-container *ngIf="item.requisitionInfos.length > 1">
        <tr *ngFor="let req of item.requisitionInfos | slice: 1">
          <td>
            <talent-requisition-info
              [data]="getRequisitionInfo(req, item)"
              [showSkills]="false"
              [showLevel]="false"
            ></talent-requisition-info>
          </td>

          <td class="text-center">
            <span
              class="tag"
              [style.backgroundColor]="
                _utilities.getBgTagRequestCvStatusColor(req.requestCVStatusName)
              "
              >{{ req.requestCVStatusName }}
            </span>
            <div>
              {{
                req.lastModifiedTime
                  | talentDateTime: DATE_FORMAT.DD_MM_YYYY_H_MM
              }}
            </div>
          </td>
        </tr>
      </ng-container>
    </ng-template>

    <ng-template pTemplate="emptymessage">
      <tr>
        <td colspan="100%" class="text-center">No Record.</td>
      </tr>
    </ng-template>
  </p-table>
</section>

<p-dialog
  *ngIf="candidateInternEdit"
  header="Update candidate note"
  [(visible)]="showDialogUpdateNote"
  [style]="{ width: '50vw' }"
  (onHide)="cancelUpdateNote()"
>
  <div class="row">
    <div class="col-md-2">
      <label for="editNote">Note:</label>
    </div>
    <div class="col-md-10">
      <textarea
        type="text"
        class="form-control"
        name="description"
        id="editNote"
        [(ngModel)]="candidateInternEdit.note"
      >
      </textarea>
    </div>
  </div>
  <ng-template pTemplate="footer">
    <p-button
      label="Close"
      icon="pi pi-times"
      styleClass="p-button-sm p-button-secondary"
      (onClick)="cancelUpdateNote()"
    ></p-button>

    <p-button
      icon="pi pi-check"
      (onClick)="onSaveUpdateNote()"
      label="Save"
      styleClass="p-button-sm m-0"
    ></p-button>
  </ng-template>
</p-dialog>
