@import "../../../../../styles/candidate/candidate.scss";
.mail-subject {
    color: #008000;
    font-weight: 600;
}
.indent {
    padding-left: 0.4em
}
.breadcrumb {
    padding: 0px;
}
.custom-button{
    left: 68%;
    position: relative;
}
.btn{
    margin: 10px;
 }