.scroll-y{
    height: 400px;
    overflow-y: auto;
}
.scroll-y::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}

.scroll-y::-webkit-scrollbar
{
	width: 8px;
	background-color: #F5F5F5;
}

.scroll-y::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #C4C4C4;
}
.w-50{
	width: 50%;
}

.input-item {
	width: calc(100% - 100px);
}

.text-mail-cc {
	display: -webkit-box !important;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  white-space: initial;
}
