<ng-container *ngIf="mailInfo">
  <div class="row">
    <div class="col-md-12">
      <div class="row">
        <div class="col-6 flex-center-vertical flex-wrap">
          <div class="w-100">
            <label for="mailTo" class="w-100px">To:</label>
            <input
              id="mailTo"
              [(ngModel)]="mailInfo.to"
              type="text"
              class="p-inputtext-sm input-item"
              placeholder="Email Address"
              pInputText
              #email="ngModel"
              [required]="true"
              [email]="true"
            />
          </div>
          <div *ngIf="email?.invalid && (email.dirty || email.touched)">
            <label class="w-100px">&nbsp;</label>
            <span *ngIf="email.errors?.['required']" class="text-danger"
              >Email is required.</span
            >
            <span *ngIf="email.errors?.['email']" class="text-danger"
              >Email is not pattern</span
            >
          </div>
        </div>

        <div class="col-6 d-flex">
          <ng-container *ngIf="mailInfo.cCs?.length">
            <label class="mr-3">Cc:</label>
            <div class="text-mail-cc">
              <ng-container
                *ngFor="let ccMail of mailInfo.cCs; let isLast = last"
              >
                {{ ccMail }}{{ isLast ? "" : ",&nbsp;" }}
              </ng-container>
            </div>
          </ng-container>
        </div>
      </div>

      <div class="row mt-2">
        <div class="col flex-center-vertical">
          <label for="" class="w-100px">Subject:</label>
          <input
            [(ngModel)]="mailInfo.subject"
            type="text"
            class="p-inputtext-sm input-item"
            placeholder="Subject"
            pInputText
          />
        </div>
        <div class="col"></div>
      </div>

      <div class="row scroll-y mt-2 rounded">
        <div class="col-md-12 bg-white">
          <div [innerHtml]="mailInfo.bodyMessage"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="row justify-content-end text-right mt-2">
    <div class="col">
      <p-button
        label="Close"
        icon="pi pi-times"
        styleClass="p-button-sm p-button-secondary"
        (onClick)="ref.close()"
      ></p-button>

      <p-button
        *ngIf="showEditBtn"
        label="Edit"
        icon="pi pi-pencil"
        styleClass="p-button-sm ml-2"
        (onClick)="editMail()"
      ></p-button>

      <p-button
        *ngIf="isAllowSendMail"
        [disabled]="isSending"
        [label]="templateId ? 'Test Send Mail' : 'Send Mail'"
        icon="pi pi-send"
        styleClass="p-button-sm ml-2"
        (onClick)="sendMail()"
      ></p-button>
    </div>
  </div>
</ng-container>
