$color-warning-danger: #D32F2F;
$color-deep-sky-blue: #00BFFF;
$color-female: #E6A6C7;
$color-male: #347DC1;
$color-tag-select: #027db4;
$color-tag-selected: #70b603;
$color-blue-5: #339af0;
$color-tag-branch: #12b886;
$color-disabled: #ccc;

$bg-input-file: #f15d22;
$bg-lighten-input-file: #f79159;

$color-level-interview: #8080ff;
$color-position: #3655b7;