<talent-section-breadcrumb
  [breadcrumbConfig]="breadcrumbConfig"
  [isShowBtn]="permission.isGranted(PS.Pages_CapabilitySettings_Create)"
  (onBtnClick)="createDialog()"
>
</talent-section-breadcrumb>

<section class="section-table">
  <div class="header-toolbar">
    <div class="row gap-2">
      <div class="col-12 col-md-5 col-lg-3 d-flex flex-column justify-content-end">
        <div class="p-inputgroup">
          <button
            type="button"
            pButton
            pRipple
            icon="pi pi-search"
            (click)="getAll(GET_FIRST_PAGE)"
          ></button>
          <input
            type="text"
            class="input-search"
            pInputText
            [placeholder]="'Search by capability name' | localize"
            [(ngModel)]="searchCapabilityName"
            (keyup.enter)="getAll(GET_FIRST_PAGE)"
            talentAutoFocus
          />
        </div>
      </div>

      <div class="col-12 col-md-5 col-lg-2 d-flex flex-column">
        <label for="userType" class="mb-0 mr-2">User Type</label>
        <div class="col p-0">
          <p-dropdown
            id="userType"
            [options]="_utilities.catUserType"
            [(ngModel)]="searchWithUserType"
            placeholder="All (default)"
            optionLabel="name"
            optionValue="id"
            styleClass="w-100"
            [showClear]="true"
            (onChange)="getAll(GET_FIRST_PAGE)"
          ></p-dropdown>
        </div>
      </div>
      <div class="col-12 col-md-5 col-lg-3 d-flex flex-column">
        <label for="position" class="mb-0 mr-2">Position</label>
        <div class="col p-0">
          <talent-position-dropdown
            [id]="'position'"
            [options]="_utilities.catPosition"
            (onChange)="onPositionSelect($event)"
          >
          </talent-position-dropdown>
        </div>
      </div>
      <div class="col-12 col-md-5 col-lg-2 d-flex flex-column">
        <label for="fromType" class="mb-0 mr-2">From</label>
        <div class="col p-0">
          <p-dropdown
            id="fromType"
            [options]="catCapabilities"
            [(ngModel)]="searchWithFrom"
            placeholder="All"
            optionLabel="name"
            optionValue="fromType"
            styleClass="w-100"
            [showClear]="true"
            (onChange)="getAll(GET_FIRST_PAGE)"
          ></p-dropdown>
        </div>
      </div>
    </div>
  </div>

  <p-table
    [value]="capSettings"
    [paginator]="true"
    [rows]="10"
    [(first)]="first"
    responsiveLayout="scroll"
    [rowsPerPageOptions]="[5, 10, 20, 50, 100]"
    [showCurrentPageReport]="capSettings.length"
    currentPageReportTemplate="Total: {totalRecords}"
    styleClass="p-datatable-striped p-datatable-sm p-datatable-gridlines tl-table"
  >
    <ng-template pTemplate="header">
      <tr>
        <th class="w-70px text-center">{{ "No" | localize }}</th>
        <th pSortableColumn="userTypeName" class="w-130px">
          {{ "Type" | localize }}
          <p-sortIcon field="userTypeName"></p-sortIcon>
        </th>
        <th pSortableColumn="subPositionName" class="w-150px">
          {{ "Job Position" | localize }}
          <p-sortIcon field="subPositionName"></p-sortIcon>
        </th>
        <th class="w-100px text-center">{{ "Factor" | localize }}</th>
        <th>{{ "Capability" | localize }}</th>
        <th>{{ "From" | localize }}</th>
        <th>{{ "Guide line" | localize }}</th>
        <th class="w-100px text-center">
          {{ "Action" | localize }}
        </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-item let-i="rowIndex">
      <tr>
        <td class="text-center color-text" [attr.rowspan]="getRowspanCapSetting(item)">{{ i + 1 }}</td>
        <td class="text-center color-text" [attr.rowspan]="getRowspanCapSetting(item)">{{ item.userTypeName }}</td>
        <td class="text-center" [attr.rowspan]="getRowspanCapSetting(item)">{{ item.subPositionName }}</td>
        <td class="text-center">
            <div class="capabilities-item" >
              <span>x <strong>{{ item.capabilities[0].factor }}</strong></span>
            </div>
        </td>
        <td class="text-center">
            <div class="capabilities-item">
              <span style="text-align: justify;"
              class="max-line-content-3"
              [collapseLine]="3"
              talentResizeContent>{{ item.capabilities[0].capabilityName }}</span>
            </div>
        </td>
        <td class="text-center">
          <div class="capabilities-item">
            <span style="text-align: justify;"
            class="max-line-content-3 hr-color tag ng-star-inserted"
            [collapseLine]="3"
            talentResizeContent
            *ngIf="item.capabilities[0].fromType;else other_fromType">HR</span>
          </div>
        </td>
        <td>
          <div [style]="{ display: 'flex'}">
            <div
              [style]="{ width: '95%'}"
              class="max-line-content-3"
              [collapseLine]="3"
              talentResizeContent>
              <span [innerHTML]="item.capabilities[0].guideLine === null ? '': item.capabilities[0].guideLine | safeHtml"></span>
            </div>
            <div>
              <p-button
              [style]="{ width:'20px', height:'25px'}"
              *ngIf="permission.isGranted(PS.Pages_CapabilitySettings_Edit)"
              title="{{ 'Edit' | localize }}"
              icon="pi pi-pencil"
              styleClass="p-button-sm p-button-secondary mr-1"
              (click)="openDialog(item.capabilities[0], item,DIALOG_ACTION.UPDATE)"
              ></p-button>
            </div>
          </div>
        </td>

        <td class="text-center" [attr.rowspan]="getRowspanCapSetting(item)">
          <div [style]="{ display: 'coloumn'}">
            <div class="mb-3">
              <button
                *ngIf="permission.isGranted(PS.Pages_CapabilitySettings_Edit)"
                pButton
                pRipple
                title="{{ 'Edit' | localize }}"
                icon="pi pi-pencil"
                class="p-button-sm p-button-secondary mr-1"
                (click)="onEditTable(item)"
              ></button>
            </div>
            <div>
              <button
                *ngIf="permission.isGranted(PS.Pages_CapabilitySettings_Delete)"
                pButton
                pRipple
                class="p-button-sm p-button-danger"
                title="{{ 'Delete' | localize }}"
                icon="pi pi-trash"
                (click)="delete(item)"
              ></button>
            </div>
          </div>

        </td>
      </tr>
      <ng-container *ngIf="item.capabilities.length > 1">
        <tr *ngFor="let cap of item.capabilities | slice: 1">
          <td class="text-center">
            <div class="capabilities-item" >
              <span>x <strong>{{ cap.factor }}</strong></span>
            </div>
        </td>
        <td class="text-center">
            <div class="capabilities-item" >
              <span style="text-align: justify;"
              class="max-line-content-3"
              [collapseLine]="3"
              talentResizeContent>{{ cap.capabilityName }}</span>
            </div>
        </td>
        <td class="text-center">
          <div class="capabilities-item" >
            <span style="text-align: justify;"
            class="max-line-content-3 hr-color tag ng-star-inserted"
            [collapseLine]="3"
            talentResizeContent
            *ngIf="cap.fromType;else other_fromType">HR</span>
          </div>
        </td>
        <td>
          <div [style]="{ display: 'flex'}">
            <div
              [style]="{ width: '95%'}"
              class="max-line-content-3"
              [collapseLine]="3"
              talentResizeContent>
              <span [innerHTML]="cap.guideLine === null ? '': cap.guideLine | safeHtml"></span>
            </div>
            <div>
              <p-button
              [style]="{ width:'20px', height:'25px'}"
              *ngIf="permission.isGranted(PS.Pages_CapabilitySettings_Edit)"
              title="{{ 'Edit' | localize }}"
              icon="pi pi-pencil"
              styleClass="p-button-sm p-button-secondary mr-1"
              (click)="openDialog(cap, item,DIALOG_ACTION.UPDATE)"
              ></p-button>
            </div>
          </div>
        </td>
        </tr>
      </ng-container>
    </ng-template>
    <ng-template #other_fromType><span class="reviewer-color tag ng-star-inserted">Reviewer</span></ng-template>
    <ng-template pTemplate="emptymessage">
      <tr>
        <td colspan="100%" class="text-center">No Record.</td>
      </tr>
    </ng-template>
  </p-table>
</section>
