<talent-section-breadcrumb
  *ngIf="!isDialogMode"
  [breadcrumbConfig]="breadcrumbConfig"
  [isShowBtn]="permission.isGranted(PS.Pages_RequisitionStaff_Create)"
  (onBtnClick)="openDialog(DIALOG_ACTION.CREATE)"
>
</talent-section-breadcrumb>

<section class="section-table">
  <div class="header-toolbar">
    <div class="filter-row">
      <div class="filter-row--items">
        <label for="status" class="mr-2"> {{ "Status" | localize }}</label>
        <div class="w-100">
          <p-dropdown
            inputId="status"
            [options]="_utilities.catReqStatus"
            [(ngModel)]="searchWithReqStatus"
            placeholder="All"
            optionLabel="name"
            optionValue="id"
            styleClass="w-100"
            [filter]="true"
            filterBy="name"
            [showClear]="true"
            (onChange)="onGetDataChange()"
          ></p-dropdown>
        </div>
      </div>

      <div class="filter-row--items">
        <label for="branch" class="mr-2"> {{ "Branch" | localize }}</label>
        <div class="w-100">
          <p-dropdown
            inputId="branch"
            [options]="_utilities.catBranch"
            [(ngModel)]="searchWithBranch"
            placeholder="All"
            optionLabel="displayName"
            optionValue="id"
            styleClass="w-100"
            [filter]="true"
            filterBy="displayName"
            [showClear]="true"
            (onChange)="onGetDataChange()"
          ></p-dropdown>
        </div>
      </div>

      <div class="filter-row--items">
        <label for="ipPosition" class="mr-2">
          {{ "Position" | localize }}</label
        >
        <div class="w-100">
          <talent-position-dropdown
            [id]="'ipPosition'"
            [options]="_utilities.catPosition"
            (onChange)="onPositionSelect($event)"
          >
          </talent-position-dropdown>
        </div>
      </div>

      <div class="filter-row--items w-25">
        <talent-multi-select-h-radio
          [catalogConfig]="catalogConfig"
          (onChange)="onSkillChange($event)"
          (onSearchTypeChange)="onSearchTypeChange($event)"
        ></talent-multi-select-h-radio>
      </div>

      <div class="filter-row--items">
        <label for="processStatus" class="mr-2"> {{ "Process Status" | localize }}</label>
        <div class="w-100">
          <p-dropdown
            inputId="processStatus"
            [options]="_utilities.catRqProcessCvStatus"
            [(ngModel)]="searchWithProcessCvStatus"
            placeholder="All"
            optionLabel="name"
            optionValue="id"
            styleClass="w-100"
            [filter]="true"
            filterBy="name"
            [showClear]="true"
            (onChange)="onGetDataChange()"
          ></p-dropdown>
        </div>
      </div>

      <div
        class="col item-group p-0"
        [ngClass]="{'creation-time-open': searchWithUpdatedTime && searchWithUpdatedTime.dateType !== 'All'}"
      >
        <talent-date-selector
          [label]="'Updated Time'"
          [timeOptions]="FILTER_TIME"
          (selectChange)="onUpdatedTimeChange($event)"
          class="talent-date"
        ></talent-date-selector>
      </div>
    </div>
  </div>

  <p-table
    [value]="reqStaffs"
    [lazy]="true"
    (onLazyLoad)="lazyLoadingData($event)"
    [paginator]="true"
    [rows]="defaultRows"
    [(first)]="first"
    responsiveLayout="scroll"
    [rowsPerPageOptions]="rowsPerPageOptions"
    [loading]="isLoading"
    [totalRecords]="totalItems"
    sortField="lastModifiedTime"
    [sortOrder]="SORT_TYPE.DESC"
    dataKey="id"
    [resizableColumns]="true"
    columnResizeMode="expand"
    (onRowExpand)="isRowExpand = true"
    (onRowCollapse)="isRowExpand = false"
    [showCurrentPageReport]="reqStaffs.length"
    [expandedRowKeys]="expandedRows"
    currentPageReportTemplate="Total: {totalRecords}"
    styleClass="p-datatable-striped p-datatable-sm p-datatable-gridlines tl-table tl-table-th-center tl-table-min-100"
  >
    <ng-template pTemplate="header">
      <tr>
        <th *ngIf="isDialogMode" class="text-center w-70px"></th>

        <th class="w-70px text-center">
          {{ "No" | localize }}
        </th>

        <th class="req-info" pSortableColumn="priority" pResizableColumn>
          <div class="box-wrapper">
            {{ "Requisition Info" | localize }}
            <p-sortIcon field="priority"></p-sortIcon>
          </div>
        </th>

        <th pSortableColumn="lastModifiedTime">
          <div class="box-wrapper">
            {{ "Update Time" | localize }}
            <p-sortIcon field="lastModifiedTime"></p-sortIcon>
          </div>
        </th>

        <th pSortableColumn="timeNeed">
          <div class="box-wrapper box-wrapper--creation-time">
            {{ "Time Need" | localize }}
            <p-sortIcon field="timeNeed"></p-sortIcon>
          </div>
        </th>

        <th class="text-center">
          {{ "Status" | localize }}
        </th>

        <th pSortableColumn="quantity" class="text-center">
          <div>
            {{ "Quantity" | localize }}
          </div>
          <div class="text-bold text-danger">
            {{ totalQuantity }}
            <p-sortIcon field="quantity"></p-sortIcon>
          </div>
        </th>

        <th>
          <div>{{ "Candidate" | localize }}</div>
        </th>

        <th pResizableColumn>
          <div>{{ "Note" | localize }}</div>
        </th>

        <th class="text-center">
          {{ "Action" | localize }}
        </th>
      </tr>
    </ng-template>

    <ng-template
      pTemplate="body"
      let-item
      let-i="rowIndex"
      let-expanded="expanded"
    >
      <tr>
        <td *ngIf="isDialogMode">
          <talent-tag-select
            [currentItem]="item"
            (onTagSelected)="onCandidateSelectedRequisiton($event)"
          >
          </talent-tag-select>
        </td>

        <td>
          <div class="expand-group">
            <button
              type="button"
              pButton
              pRipple
              [pRowToggler]="item"
              (click)="getCandidateRowExpand(item)"
              class="p-button-text p-button-rounded p-button-plain"
              [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"
            ></button>
            {{ i + 1 }}
          </div>
        </td>

        <td>
          <talent-requisition-info
            [data]="item"
            [showPriority]="true"
          ></talent-requisition-info>
        </td>

        <td class="text-center">
          <div>
            {{
              item.lastModifiedTime
                | talentDateTime: DATE_FORMAT.DD_MM_YYYY_H_MM
            }}
          </div>
          <div>
            <span *ngIf="item.lastModifiedName && !item.isProjectTool"
              >by {{ item.lastModifiedName }}</span
            >
            <span *ngIf="item.isProjectTool"
              ><strong>by {{ "Project Tool" || localize }}</strong></span
            >
          </div>
        </td>

        <td class="text-center">
          <div *ngIf="item?.timeNeed">
            {{ item.timeNeed | talentDateTime: DATE_FORMAT.DD_MM_YYYY }}
          </div>

          <div
            *ngIf="item?.timeNeed"
            [style.color]="_utilities.getDiffDateTime(item.timeNeed)?.color"
          >
            <strong>
              {{ _utilities.getDiffDateTime(item.timeNeed)?.label }}
            </strong>
          </div>
        </td>

        <td class="text-center">
          <span
            *ngIf="item.statusName"
            class="tag"
            [style.backgroundColor]="
              _utilities.getBgTagReqStatusColor(item.statusName)
            "
            >{{ item.statusName }}
          </span>

          <div *ngIf="item.timeClose">
            {{ item.timeClose | talentDateTime: DATE_FORMAT.DD_MM_YYYY }}
            {{ item.timeClose | talentDateTime: DATE_FORMAT.H_MM_SS }}
          </div>
        </td>

        <td class="text-center">
          <div>{{ item.quantity }}</div>
        </td>

        <td class="text-center">
          <div [tooltip]="tooltipTemplate" (mouseleave)="candidateTypeCount = null">
            <span
              class="quantity-onboard text-bold"
              (mouseenter)="candidateTypeCount = ECandidateTypeCount.QuantityOnboard"
            >
              {{ item.quantityOnboard }}
            </span>
            /
            <span
              class="quantity-acceptedoffer text-bold"
              (mouseenter)="candidateTypeCount = ECandidateTypeCount.QuantityAcceptedOffer"
            >
              {{ item.quantityAcceptedOffer }}
            </span>
            /
            <span
              class="quantity-failed text-bold"
              (mouseenter)="candidateTypeCount = ECandidateTypeCount.QuantityFail"
            >
              {{ item.quantityFail }}
            </span>
            /
            <span
              class="total-candidate-apply text-bold"
              (mouseenter)="candidateTypeCount = ECandidateTypeCount.TotalCandidateApply"
            >
              {{ item.totalCandidateApply }}
            </span>
          </div>

          <ng-template #tooltipTemplate>
            <span [ngClass]="{'quantity-onboard': candidateTypeCount === ECandidateTypeCount.QuantityOnboard}">Quantity Onboard</span> /
            <span [ngClass]="{'quantity-acceptedoffer': candidateTypeCount === ECandidateTypeCount.QuantityAcceptedOffer}">Quantity Accepted Offer</span> /
            <span [ngClass]="{'quantity-failed': candidateTypeCount === ECandidateTypeCount.QuantityFail}">Quantity Fail</span> /
            <span [ngClass]="{'total-candidate-apply': candidateTypeCount === ECandidateTypeCount.TotalCandidateApply}">Total Candidate Apply</span>
          </ng-template>
        </td>

        <td [attr.title]="item?.note">
          <div
            class="note max-line-content-2"
            [collapseLine]="2"
            talentResizeContent
          >
            {{ item?.note }}
          </div>
        </td>

        <td class="text-center">
          <ng-container
            *ngIf="isInprogressStatus(item.statusName); else menuCloseTmp"
          >
            <button
              type="button"
              pButton
              pRipple
              icon="pi pi-bars"
              (click)="menu.toggle($event)"
            ></button>
            <p-menu
              #menu
              [popup]="true"
              (onShow)="currentReqStaff = item"
              appendTo="body"
              [model]="getListItem(true, item.isProjectTool)"
            ></p-menu>
          </ng-container>
          <ng-template #menuCloseTmp>
            <button
              type="button"
              pButton
              pRipple
              icon="pi pi-bars"
              (click)="menu.toggle($event)"
            ></button>
            <p-menu
              #menu
              [popup]="true"
              (onShow)="currentReqStaff = item"
              appendTo="body"
              [model]="getListItem(false, item.isProjectTool)"
            ></p-menu>
          </ng-template>
        </td>
      </tr>
    </ng-template>

    <ng-template pTemplate="rowexpansion" let-requisition>
      <tr>
        <td colspan="100%">
          <div class="p-3 sub-table">
            <p-table
              [value]="requisition.reqCvs"
              dataKey="id"
              responsiveLayout="scroll"
              [resizableColumns]="true"
              columnResizeMode="expand"
            >
              <ng-template pTemplate="header">
                <tr>
                  <th>ID</th>
                  <th pResizableColumn class="candidate-infor">
                    Candidate Details
                  </th>
                  <th pResizableColumn>Apply Time</th>
                  <th pResizableColumn>Interview</th>
                  <th pResizableColumn>Status</th>
                  <th pResizableColumn>F.Level</th>
                  <th pResizableColumn>HR Note</th>
                  <th>Action</th>
                </tr>
              </ng-template>

              <ng-template pTemplate="body" let-candidate>
                <tr>
                  <td>{{ candidate.cvId }}</td>

                  <td class="candidate-infor">
                    <talent-candidate-info-new
                      [data]="getCandidateInfo(candidate)"
                    ></talent-candidate-info-new>
                  </td>

                  <td class="text-center">
                    <div>
                      {{
                        candidate.applyTime
                          | talentDateTime: DATE_FORMAT.DD_MM_YYYY_H_MM
                      }}
                    </div>
                    <div>by {{ candidate.creatorName }}</div>
                  </td>

                  <td class="text-center">
                    <div class="max-line-content-1" talentResizeContent>
                      <div *ngFor="let interview of candidate.interviews">
                        {{ interview.interviewerName }}
                      </div>
                    </div>

                    <div *ngIf="candidate?.interviewTime">
                      <span class="mr-2">
                        {{
                          candidate.interviewTime
                            | talentDateTime: DATE_FORMAT.DD_MM_YYYY_H_MM
                        }}
                      </span>
                      <strong
                        [style.color]="
                          _utilities.getDiffDateTime(candidate.interviewTime)
                            ?.color
                        "
                        >{{
                          _utilities.getDiffDateTime(candidate.interviewTime)
                            ?.label
                        }}</strong
                      >
                    </div>
                  </td>

                  <td class="text-center">
                    <span
                      class="tag"
                      [style.backgroundColor]="
                        _utilities.getBgTagRequestCvStatusColor(
                          candidate.requestCVStatusName
                        )
                      "
                    >
                      {{ candidate.requestCVStatusName }}
                    </span>
                  </td>

                  <td class="text-center">
                    <span
                      *ngIf="candidate?.finalLevelInfo?.standardName"
                      class="tag level level--final"
                    >
                      {{ candidate.finalLevelInfo.standardName }}
                    </span>
                  </td>

                  <td [attr.title]="candidate?.hrNote">
                    <div
                      class="note max-line-content-2"
                      [collapseLine]="2"
                      talentResizeContent
                    >
                      {{ candidate.hrNote }}
                    </div>
                  </td>

                  <td class="text-center">
                    <p-button
                      *ngIf="
                        permission.isGranted(
                          PS.Pages_RequisitionStaff_DeleteRequestCV
                        )
                      "
                      title="Delete"
                      icon="pi pi-trash"
                      styleClass="p-button-sm p-button-danger"
                      (click)="deleteRequestCv(candidate, requisition)"
                    ></p-button>
                  </td>
                </tr>
              </ng-template>
              <ng-template pTemplate="emptymessage">
                <tr>
                  <td colspan="100%">
                    There are no candidate for this requisition yet.
                  </td>
                </tr>
              </ng-template>
            </p-table>
          </div>
        </td>
      </tr>
    </ng-template>

    <ng-template pTemplate="emptymessage">
      <tr>
        <td colspan="100%" class="text-center">No Record.</td>
      </tr>
    </ng-template>
  </p-table>
</section>
